.h4{
    font-size: 22px;
}

p{
    font-family: 'Intro-Regular' !important;
}

ly-cropping{
    margin: 1em auto !important;
}

.image-cropper-control-panel{
    width: 100%;
    text-align: center;
    margin-bottom: 1em;

    img{
        width: 30px;
        margin: auto 1.5em;
        cursor: pointer;
    }

    img:nth-child(1){
        transform: scaleX(-1);
    }
}

.buttons-block{
    width: 100%;
    text-align: center;
    margin: 2em auto 0;

    button{
        display: inline-block;
        margin: auto 2em;
    }
}

@media screen and (max-width: 769px){

    .buttons-block{
        button{
            margin: unset;
        }

        button:nth-child(1){
            margin-bottom: .5em;
        }
    }

}