<div class="breeder-profile-subpage-container">

    <div class="page-header">
        <h3>О себе</h3>
    </div>
    <div class="upper-btn">
        <input type="button" class="custom-btn btn-purple" value="Сохранить изменения" (click)="saveChanges()" />
    </div>

    <div class="about-me-form-group">
        <label for="about-me">Кратко расскажите о себе</label>
        <br>
        <span class="block-description">Чтобы вам было проще, мы подготовили ряд наводящих вопросов. Какая ваша роль в питомнике и помогает ли вам семья?
            Что вам нравится в вашей породе и какие у вас профессиональные цели?
        </span>
        <textarea rows="3" [(ngModel)]="breederData.about" placeholder="Введите текст" name="about-me" class="form-control custom-form-control-border"
            (change)="this.profileService.dataChangesSaved = false" [class.invalid-form-field-value]="invalidFields.includes('about')"></textarea>
    </div>

    <div class="about-me-form-group">
        <label for="howItStarted">С чего все началось?</label>
        <br>
        <span class="block-description">Почему вы начали заниматься разведением собак? Какие события этому предшествовали? Почему была выбрана именно эта
            порода?
        </span>
        <textarea rows="3" [(ngModel)]="breederData.howItStarted" class="form-control custom-form-control-border" placeholder="Введите текст"
            (change)="this.profileService.dataChangesSaved = false" name="howItStarted" [class.invalid-form-field-value]="invalidFields.includes('howItStarted')"></textarea>
    </div>

    <div class="about-me-form-group">
        <label for="features">Что выделяет ваш питомник?</label>
        <br>
        <span class="block-description">Вы используете какие-то определенные методы при работе с щенками? Вы уделяете особое внимание определенным деталям?</span>
        <textarea rows="3" [(ngModel)]="breederData.outstandingInfo" class="form-control custom-form-control-border" placeholder="Введите текст"
            (change)="this.profileService.dataChangesSaved = false" name="features" [class.invalid-form-field-value]="invalidFields.includes('outstanding')"></textarea>
    </div>

    <div class="about-me-form-group">
        <label>Ваше личное или семейное фото </label>
        <br>
        <span class="block-description">Заводчик с хорошим личным фото вызывает больше доверия у покупаетелей. Обычно используют фото с питомцами. </span>

        <div *ngIf="!breederData.photo" class="gallery-initial-block" [class.invalid-form-field-value]="invalidFields.includes('photo')"
            (click)="previewPersonalImage()">
            <img src="./assets/img/cloud-computing.png" alt="Облако скачивания" />
            <br>
            <span>
                <a>Загрузите</a> фотографии или перетащите их в выделенную область</span>
        </div>

        <div *ngIf="breederData.photo" class="gallery-uploaded-photos-block">
            <div class="active-galley-photo-block">
                <img src="/img/{{breederData.photo.preview}}.jpg" class="personal-image" alt="Фото заводчика" (click)="previewPersonalImage()">
                <img class="close-button" src="./assets/img/close-button-white.svg" alt="Удалить картинку" (click)="deletePersonalImage()"
                />
            </div>
        </div>

        <div *ngIf="!breederData.photo" (click)="previewPersonalImage()" class="gallery-upload-button custom-btn btn-transparent">
            <span>Выбрать</span>
        </div>
    </div>

    <div class="breeder-profile-subpage-form-left">
        <label for="clubs">В каких клубах заводчиков вы состоите?</label>
        <br>
        <div class="btn-label-list">
            <div *ngFor="let club of breederData.clubs.split(';');let i = index" class="btn-label" (click)="deleteClub(i)">
                <div class="btn-label-text">{{club}}</div>
                <div>&nbsp;&nbsp;X</div>
            </div>
        </div>
        <input type="text" class="form-control custom-form-control-border" name="clubs" [(ngModel)]="currentClub" [disabled]="currentClubs.length > 9"
            [class.invalid-form-field-value]="invalidFields.includes('clubs')" (keyup.enter)="addClub()" />
    </div>

    <div class="breeder-profile-subpage-form-right" style="align-self: end;">
        <input type="button" class="custom-btn btn-transparent" style="margin: unset;width:220px;" value="+ Добавить клуб" (click)="addClub()"
        />
    </div>


    <div class="about-me-form-group">
        <label>Награды и сертификаты (необязательно)</label>
        <br>
        <span class="block-description">Вы наверняка участвовали в выставках или других мероприятиях, после которых у вас остались какие-то награды и сертификаты.
            Для покупателей важно это увидеть, поэтому мы просим вас отсканировать/сфотографировать бумажные грамоты и загрузить
            их сюда.</span>

        <div *ngIf="breederData.certificates.length == 0" class="gallery-initial-block">
            <input type="file" accept="image/*" (change)="uploadCertificates($event)" multiple />
            <img src="./assets/img/cloud-computing.png" alt="Облако скачивания" />
            <br>
            <span>
                <a>Загрузите</a> фотографии или перетащите их в выделенную область</span>
        </div>

        <div *ngIf="breederData.certificates.length > 0" class="gallery-uploaded-photos-block">
            <div *ngFor="let cert of breederData.certificates;let i = index" class="active-galley-photo-block">
                <img src="/img/{{cert.main}}.jpg" alt="Сертификат заводчика" class="certificate-image" />
                <img class="close-button" src="./assets/img/close-button-white.svg" alt="Удалить сертификат" (click)="deleteCertificate(i)"
                />
            </div>
            <div class="empty-galley-photo-block">
                <input type="file" id="certificate-input" accept="image/*" (change)="uploadCertificates($event)" multiple />
                <img src="./assets/img/photo-camera.svg" alt="Камера" />
            </div>
        </div>

        <div *ngIf="breederData.certificates.length == 0" class="gallery-upload-button custom-btn btn-transparent">
            <input type="file" accept="image/*" (change)="uploadCertificates($event)" multiple />
            <span>Выбрать</span>
        </div>
    </div>

    <div class="lower-btn">
        <span *ngIf="invalidFields.length > 0" class="invalid-field-message" style="display: block; margin-bottom: 1em;">
            Пожалуйста, заполните пропущенные поля
        </span>
        <br *ngIf="invalidFields.length > 0" />
        <input type="button" class="custom-btn btn-purple" value="Сохранить изменения" (click)="saveChanges()" />
    </div>
</div>