<header class="header">
    <div class="logo">

    </div>

    <button class="button sign-in-button">Войти</button>
</header>

<div class="slider-content">
    <div class="slider d-flex align-items-center justify-content-center">
        <div class="slider-item d-flex align-items-center">
            <img src="./assets/img/breeder-page/pic.png" alt="" class="image slider-image">
        </div>
        <div class="slider-item d-flex align-items-center">
            <img src="./assets/img/breeder-page/pic1.png" alt="" class="image slider-image">
        </div>
        <div class="slider-item d-flex align-items-center">
            <img src="./assets/img/breeder-page/pic2.png" alt="" class="image slider-image">
        </div>
        <div class="slider-item d-flex align-items-center">
            <img src="./assets/img/breeder-page/pic3.png" alt="" class="image slider-image">
        </div>
    </div>
</div>

<div class="main-content d-flex align-items-center flex-column">
    <div class="about-puppies">
        <aside class="aside d-flex flex-column first-aside">
            <div class="top-info d-flex flex-row justify-content-between">
                <div class="left-side">
                    <div class="heading">
                        <span>заводчик мопсов</span>
                    </div>
                    <div class="title">
                        <span>Сладкие мопсы</span>
                    </div>
                    <div class="location d-flex align-items-center">
                        <i class="icon icon-location"></i>
                        <span>Челябинск</span>
                    </div>
                    <div class="link d-flex align-items-center">
                        <i class="icon icon-link"></i>
                        <span>sladkiemopsi.ru</span>
                    </div>
                    <div class="social-networks d-flex">
                        <div class="instagram">
                            <i class="instagram-icon d-flex align-items-center justify-content-center"></i>
                        </div>
                        <div class="facebook">
                            <i class="facebook-icon d-flex align-items-center justify-content-center"></i>
                        </div>
                    </div>
                </div>
                <div class="right-side">
                    <img src="./assets/img/breeder-page/group-2.png" alt="">
                </div>
            </div>
            <div class="line"></div>
            <div class="description">
                <p class="subtitle">О питомнике</p>
                <p>
                    Значимость этих проблем настолько очевидна,
                    что консультация с широким активом способствует подготовки и реализации новых предложений.
                    С другой стороны укрепление и развитие структуры требуют от нас анализа позиций,
                    занимаемых участниками в отношении поставленных задач.
                </p>
            </div>
            <button type="button" class="button button-ask-a-question d-flex align-items-center justify-content-center">Задать вопрос</button>
        </aside>
        <section class="section d-flex flex-column">
            <h2>О ЩЕНКАХ</h2>

            <div class="top-info d-flex">
                <div class="age-of-sale">
                    <span class="bold">Возраст продажи: </span>
                    <span>от 10 недель</span>
                </div>
                <div class="price">
                    <span class="bold">Стоимость: </span>
                    <span>20000-30000 Р</span>
                </div>
            </div>

            <div class="line"></div>

            <div class="about-puppies-title pawme-title">
                <span>Обязательный комплект PawMe</span>
            </div>

            <div class="pawme-label-list d-flex align-items-center">
                <span class="pawme-label-item">МЕТРИКА / РОДОСЛОВНАЯ</span>
                <span class="pawme-label-item-plus">+</span>
                <span class="pawme-label-item">ВЕТЕРИНАРНЫЙ ПАСПОРТ</span>
                <span class="pawme-label-item-plus">+</span>
                <span class="pawme-label-item">КЛЕЙМО</span>
            </div>

            <div class="line"></div>

            <div class="about-puppies-title medical-title">
                <span>Медицина</span>
            </div>

            <div class="medical-label-list d-flex align-items-center flex-wrap">
                <div class="medical-label-item d-flex align-items-center align-content-between justify-content-between flex-column">
                    <i class="icon vaccine-icon"></i>
                    <span class="text">Поставлены прививки</span>
                </div>
                <div class="medical-label-item d-flex align-items-center align-content-between justify-content-between flex-column">
                    <i class="icon worm-icon"></i>
                    <span class="text">Обработаны от глистов</span>
                </div>
                <div class="medical-label-item d-flex align-items-center align-content-between justify-content-between flex-column">
                    <i class="icon sterilized-icon"></i>
                    <span class="text">Стерилизованы/Кастрированы</span>
                </div>
                <div class="medical-label-item d-flex align-items-center align-content-between justify-content-between flex-column">
                    <i class="icon sterilized-icon"></i>
                    <span class="text">Стерилизованы/Кастрированы</span>
                </div>
            </div>

            <div class="line"></div>

            <div class="additional-info-list d-flex flex-row flex-wrap">
                <div class="additional-info-item d-flex flex-column mb-32">
                    <div class="title d-flex align-items-center justify-content-between"
                         [ngClass]="{'mb-16' : collapse.contract}"
                         (click)="showInfo('contract')">
                        <div class="d-flex">
                            <i class="icon icon-combined-shape d-flex align-items-center justify-content-center"></i>
                            Договор PawMe
                        </div>

                        <div class="arrow-icon hidden-lg show-sm">
                            <i class="icon arrow-down"></i>
                        </div>
                    </div>
                    <div class="description" [ngClass]="{'collapse' : collapse.contract}">
                        Значимость этих проблем настолько очевидна,
                        что консультация с широким активом способствует подготовки и реализации новых предложений.
                        С другой стороны укрепление и развитие структуры требуют от нас анализа позиций,
                        занимаемых участниками в отношении поставленных задач.
                    </div>
                    <div class="contract-link" [ngClass]="{'collapse' : collapse.contract}">
                        <a href="">Посмотреть договор</a>
                    </div>
                    <div class="line"></div>
                </div>
                <div class="additional-info-item d-flex flex-column mb-32">
                    <div class="title d-flex align-items-center justify-content-between"
                         [ngClass]="{'mb-16' : collapse.warranty}"
                         (click)="showInfo('warranty')">
                        <div class="d-flex">
                            <i class="icon icon-heart d-flex align-items-center justify-content-center"></i>
                            Гарантии по здоровью
                        </div>

                        <div class="arrow-icon hidden-lg show-sm">
                            <i class="icon arrow-down"></i>
                        </div>
                    </div>
                    <div class="description" [ngClass]="{'collapse' : collapse.warranty}">
                        Значимость этих проблем настолько очевидна,
                        что консультация с широким активом способствует подготовки и реализации новых предложений.
                        С другой стороны укрепление и развитие структуры требуют от нас анализа позиций,
                        занимаемых участниками в отношении поставленных задач.
                    </div>
                    <div class="line"></div>
                </div>
                <div class="additional-info-item d-flex flex-column">
                    <div class="title d-flex align-items-center justify-content-between"
                         [ngClass]="{'mb-16' : collapse.buyPuppy}"
                         (click)="showInfo('buyPuppy')">
                        <div class="d-flex">
                            <i class="icon icon-certificate-shape d-flex align-items-center justify-content-center"></i>
                            Как приобрести щенка
                        </div>

                        <div class="arrow-icon hidden-lg show-sm">
                            <i class="icon arrow-down"></i>
                        </div>
                    </div>
                    <div class="description" [ngClass]="{'collapse' : collapse.buyPuppy}">
                        Значимость этих проблем настолько очевидна,
                        что консультация с широким активом способствует подготовки и реализации новых предложений.
                        С другой стороны укрепление и развитие структуры требуют от нас анализа позиций,
                        занимаемых участниками в отношении поставленных задач.
                    </div>
                    <div class="line"></div>
                </div>
                <div class="additional-info-item d-flex flex-column">
                    <div class="title d-flex align-items-center justify-content-between"
                         [ngClass]="{'mb-16' : collapse.gifts}"
                         (click)="showInfo('gifts')">
                        <div class="d-flex">
                            <i class="icon icon-gift d-flex align-items-center justify-content-center"></i>
                            Подарки
                        </div>

                        <div class="arrow-icon hidden-lg show-sm">
                            <i class="icon arrow-down"></i>
                        </div>
                    </div>
                    <div class="description" [ngClass]="{'collapse' : collapse.gifts}">
                        Значимость этих проблем настолько очевидна,
                        что консультация с широким активом способствует подготовки и реализации новых предложений.
                        С другой стороны укрепление и развитие структуры требуют от нас анализа позиций,
                        занимаемых участниками в отношении поставленных задач.
                    </div>
                </div>
            </div>

            <div class="line"></div>

            <div class="about-puppies-title about-puppies-with-btn d-flex justify-content-between">
                <span class="available-puppies-title">Доступные щенки</span>
                <button type="button" class="button-ask-a-question d-flex align-items-center justify-content-center hidden-sm">Задать вопрос</button>
            </div>

            <div class="available-puppies-list d-flex">
                <div class="available-puppies-item d-flex flex-column">
                    <img src="./assets/img/breeder-page/rectangle-1.png" class="image" alt="">

                    <span class="name d-flex align-items-center justify-content-between">
                        Ворчун
                        <i class="icon icon-male"></i>
                    </span>
                    <span class="text">Американский стаффордширский терьер</span>
                    <span class="additional-info">После 1 июня</span>
                </div>
                <div class="available-puppies-item d-flex flex-column">
                    <img src="./assets/img/breeder-page/rectangle-2.png" class="image" alt="">

                    <span class="name d-flex align-items-center justify-content-between">
                        Азирафель
                        <i class="icon icon-female"></i>
                    </span>
                    <span class="text">Мопс</span>
                    <span class="additional-info">После 1 июня</span>
                </div>
                <div class="available-puppies-item d-flex flex-column">
                    <img src="./assets/img/breeder-page/rectangle-3.png" class="image" alt="">

                    <span class="name d-flex align-items-center justify-content-between">
                        Вечнокруглый Шарик
                        <i class="icon icon-male"></i>
                    </span>
                    <span class="text">Мопс</span>
                    <span class="additional-info">После 1 июня</span>
                </div>
            </div>
        </section>
    </div>

    <div class="about-breeder">
        <section class="section d-flex flex-column">
            <h2>О ЗАВОДЧИКЕ</h2>

            <div class="about-breeder-content">
                <div class="left-side">
                    <div class="about-breeder-post">
                        <div class="title">Расскажите о себе</div>

                        <p>
                            Значимость этих проблем настолько очевидна,
                            что консультация с широким активом способствует подготовки и реализации новых предложений.
                            С другой стороны укрепление и развитие структуры требуют от нас анализа позиций,
                            занимаемых участниками в отношении поставленных задач.
                        </p>
                    </div>

                    <div class="about-breeder-post">
                        <div class="title">С чего все началось?</div>

                        <p>
                            Значимость этих проблем настолько очевидна,
                            что консультация с широким активом способствует подготовки и реализации новых предложений.
                            С другой стороны укрепление и развитие структуры требуют от нас анализа позиций,
                            занимаемых участниками в отношении поставленных задач.
                        </p>
                    </div>

                    <div class="about-breeder-post">
                        <div class="title">Что выделяет ваш питомник?</div>

                        <p>
                            Значимость этих проблем настолько очевидна,
                            что консультация с широким активом способствует подготовки и реализации новых предложений.
                            С другой стороны укрепление и развитие структуры требуют от нас анализа позиций,
                            занимаемых участниками в отношении поставленных задач.
                        </p>
                    </div>
                </div>
                <div class="right-side">
                    <div class="image-block mb-12">
                        <img src="./assets/img/breeder-page/group-21.png" class="image" alt="">
                    </div>

                    <div class="info-block">
                        <div class="title mb-12">
                            <span>Иванова Владислава</span>
                        </div>
                        <span class="clubs">Клубы:</span>

                        <ul>
                            <li>
                                <span class="circle"></span>
                                <span>Ассоциация мопсов</span>
                            </li>
                            <li>
                                <span class="circle"></span>
                                <span>Галактические заводчики</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="line"></div>

            <div class="awards-and-certificates">
                <div class="title">
                    <span>Награды & Сертификаты</span>
                </div>

                <div class="certificates-list d-flex flex-wrap">
                    <div class="certificate-item d-flex align-items-center justify-content-center">
                        <img src="./assets/img/breeder-page/certificate_breeder.jpg" alt="">
                    </div>
                    <div class="certificate-item d-flex align-items-center justify-content-center">
                        <img src="./assets/img/breeder-page/certificate_breeder.jpg" alt="">
                    </div>
                    <div class="certificate-item d-flex align-items-center justify-content-center">
                        <img src="./assets/img/breeder-page/certificate_breeder.jpg" alt="">
                    </div>
                    <div class="certificate-item d-flex align-items-center justify-content-center">
                        <img src="./assets/img/breeder-page/certificate_breeder.jpg" alt="">
                    </div>
                </div>
            </div>
        </section>
    </div>

    <div class="about-parents">
        <section class="section d-flex flex-column">
            <div class="about-parents-title">
                <h2>О РОДИТЕЛЯХ</h2>
            </div>

            <div class="available-puppies-list d-flex">
                <div class="available-puppies-item d-flex flex-column">
                    <img src="./assets/img/breeder-page/rectangle-1.png" class="image" alt="">

                    <span class="name d-flex align-items-center justify-content-between">
                        Ворчун
                        <i class="icon icon-male"></i>
                    </span>
                    <span class="text">Американский стаффордширский терьер</span>
                    <span class="additional-info">После 1 июня</span>
                </div>
                <div class="available-puppies-item d-flex flex-column">
                    <img src="./assets/img/breeder-page/rectangle-2.png" class="image" alt="">

                    <span class="name d-flex align-items-center justify-content-between">
                        Азирафель
                        <i class="icon icon-female"></i>
                    </span>
                    <span class="text">Мопс</span>
                    <span class="additional-info">После 1 июня</span>
                </div>
                <div class="available-puppies-item d-flex flex-column">
                    <img src="./assets/img/breeder-page/rectangle-3.png" class="image" alt="">

                    <span class="name d-flex align-items-center justify-content-between">
                        Вечнокруглый Шарик
                        <i class="icon icon-male"></i>
                    </span>
                    <span class="text">Мопс</span>
                    <span class="additional-info">После 1 июня</span>
                </div>
            </div>

            <div class="line"></div>

            <div class="medical-test-parents">
                <div class="title">Медицинские тесты родителей</div>

                <div class="tests-list d-flex flex-row">
                    <div class="test-item">
                        <div class="test-item-title d-flex align-items-center">
                            <i class="icon icon-eye d-flex align-items-center justify-content-center"></i>
                            <span>Глаза</span>
                        </div>

                        <div class="test-item-description">
                            <p>
                                Значимость этих проблем настолько очевидна,
                                что консультация с широким активом способствует подготовки и реализации новых предложений.
                            </p>
                        </div>
                    </div>
                    <div class="test-item">
                        <div class="test-item-title d-flex align-items-center">
                            <i class="icon icon-eye d-flex align-items-center justify-content-center"></i>
                            <span>Глаза</span>
                        </div>

                        <div class="test-item-description">
                            <p>
                                Значимость этих проблем настолько очевидна,
                                что консультация с широким активом способствует.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <div class="our-instagram">
        <section class="section d-flex flex-column">
            <div class="our-instagram-title d-flex flex-row justify-content-between">
                <h2>НАШ INSTAGRAM</h2>
                <div class="instagram-link">
                    <a class="link" href="">@sweet_mops</a>
                </div>
            </div>

            <div class="our-instagram-content">
                <div class="images-list d-flex flex-wrap">
                    <img src="./assets/img/breeder-page/pic.png" alt="" class="image">
                    <img src="./assets/img/breeder-page/pic1.png" alt="" class="image">
                    <img src="./assets/img/breeder-page/pic2.png" alt="" class="image">
                    <img src="./assets/img/breeder-page/pic3.png" alt="" class="image">
                    <img src="./assets/img/breeder-page/pic.png" alt="" class="image">
                    <img src="./assets/img/breeder-page/pic1.png" alt="" class="image">
                </div>
            </div>
        </section>
    </div>
</div>

<footer class="footer">
    <div class="logo">

    </div>

    <div class="links">
        <a href="" class="link">О платформе</a>
        <a href="" class="link">Преимущества</a>
        <a href="" class="link">Скоро</a>
    </div>

    <div class="registration-link">
        <a href="" class="link">Регистрация</a>
    </div>
</footer>
