$screen-lg: 1202px;
$screen-sm: 769px;

footer{
    width: 100%;
    height: auto;
    background-color: #645fc9;
    padding: 5% 7%;
}

.footer-breeder-landing-block{
    margin-bottom: 4em;
    display: flex;
    width: 100%;
    justify-content: space-between;

    .footer-info-block{
        align-self: center;

        & > span{
            font-size: 28px;
            font-family: 'Intro-Regular';
            color: #fff;
        }
    }

    .footer-sign-up-button-block{
        align-self: center;
        width: 332px;
        min-width: 332px;

         &>a{
             display: block;
         }
    }

}

hr{
    width: 100%;
    background: #fff;
}

@media screen and (max-width: 769px){

    footer{
        width: 100%;
        background: #645fc9;
        padding: 15% 5%;
        display: flex;
        flex-direction: column;
    }

    .footer-breeder-landing-block{
        flex-direction: column;
        margin-bottom: 2em;

        .footer-info-block{
            span{
                font-size: 22px;
                line-height: 28px;
            }
        }

        .footer-sign-up-button-block{
            width:  100%;
            min-width: unset;
            margin: 25px 0 10px;

            &> a{
                font-size: 14px;
                width: 100%;
                display: block;
                text-align: center;
            }
        }
    }

}

// Muzaffar styles
.base-footer {

    @media (max-width: $screen-lg - 1px) {
        flex-direction: column;
        align-items: flex-start!important;
    }
    @media (max-width: $screen-sm - 1px) {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .copyright {

        margin-bottom: 24px;
        &-logo {
            margin-bottom: 26px;
            width: 200px;
        }

        &-text {
            font-family: Intro-Book;
            font-size: 14px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            color: #ffffff;
        }
    }

    .links-item {
        a {
            color: #fff;
            font-family: 'Intro-Book';
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            text-decoration: none;
            &:hover {
                text-decoration: none;
            }
        }
    }
    .fs-18 {
        font-size: 18px;
    }
    .fs-14 {
        font-size: 14px;
    }
    .first {
        :not(:last-child) {
            margin-right: 50px;
        }
        margin-bottom: 28px;

        @media (max-width: $screen-lg - 1px) {
            :not(:last-child) {
                margin-right: 24px;
                margin-bottom: 24px;
            }
        }

        @media (max-width: $screen-sm - 1px) {
            margin-bottom: 54px;
            margin-top: 54px;
        }
    }
    .second {
        opacity: 0.5;
        font-family: Intro-Book;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;

        :not(:last-child) {
            margin-right: 33px;
        }

        @media (max-width: $screen-lg - 1px) {
            justify-content: flex-start!important;

            :not(:last-child) {
                margin-right: 24px;
                margin-bottom: 24px;
            }
        }
    }
}