footer {
  width: 100%;
  height: auto;
  background-color: #645fc9;
  padding: 5% 7%;
}

.footer-breeder-landing-block {
  margin-bottom: 4em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-breeder-landing-block .footer-info-block {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.footer-breeder-landing-block .footer-info-block > span {
  font-size: 28px;
  font-family: 'Intro-Regular';
  color: #fff;
}

.footer-breeder-landing-block .footer-sign-up-button-block {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 332px;
  min-width: 332px;
}

.footer-breeder-landing-block .footer-sign-up-button-block > a {
  display: block;
}

hr {
  width: 100%;
  background: #fff;
}

@media screen and (max-width: 769px) {
  footer {
    width: 100%;
    background: #645fc9;
    padding: 15% 5%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer-breeder-landing-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 2em;
  }
  .footer-breeder-landing-block .footer-info-block span {
    font-size: 22px;
    line-height: 28px;
  }
  .footer-breeder-landing-block .footer-sign-up-button-block {
    width: 100%;
    min-width: unset;
    margin: 25px 0 10px;
  }
  .footer-breeder-landing-block .footer-sign-up-button-block > a {
    font-size: 14px;
    width: 100%;
    display: block;
    text-align: center;
  }
}

@media (max-width: 1201px) {
  .base-footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start !important;
        -ms-flex-align: start !important;
            align-items: flex-start !important;
  }
}

@media (max-width: 768px) {
  .base-footer {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.base-footer .copyright {
  margin-bottom: 24px;
}

.base-footer .copyright-logo {
  margin-bottom: 26px;
  width: 200px;
}

.base-footer .copyright-text {
  font-family: Intro-Book;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
}

.base-footer .links-item a {
  color: #fff;
  font-family: 'Intro-Book';
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-decoration: none;
}

.base-footer .links-item a:hover {
  text-decoration: none;
}

.base-footer .fs-18 {
  font-size: 18px;
}

.base-footer .fs-14 {
  font-size: 14px;
}

.base-footer .first {
  margin-bottom: 28px;
}

.base-footer .first :not(:last-child) {
  margin-right: 50px;
}

@media (max-width: 1201px) {
  .base-footer .first :not(:last-child) {
    margin-right: 24px;
    margin-bottom: 24px;
  }
}

@media (max-width: 768px) {
  .base-footer .first {
    margin-bottom: 54px;
    margin-top: 54px;
  }
}

.base-footer .second {
  opacity: 0.5;
  font-family: Intro-Book;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
}

.base-footer .second :not(:last-child) {
  margin-right: 33px;
}

@media (max-width: 1201px) {
  .base-footer .second {
    -webkit-box-pack: start !important;
        -ms-flex-pack: start !important;
            justify-content: flex-start !important;
  }
  .base-footer .second :not(:last-child) {
    margin-right: 24px;
    margin-bottom: 24px;
  }
}
/*# sourceMappingURL=footer.component.css.map */