<footer>
    <div class="footer-info-block">
        <span>100</span>
        <div>
            <span>первых зарегистрированных заводчиков<br />cмогут целый год торговать без
                комиссии</span><br />
            <span style="opacity: 0.5;">после выхода полной версии платформы</span>
        </div>
    </div>
    <div class="footer-sign-up-button-block">
        <a title="Зарегистрируйся сейчас" (click)="showSignUpPopup()" class="custom-btn btn-white">ЗАРЕГИСТРИРУЙСЯ СЕЙЧАС
            <img src="./assets/img/paw-in-signup-btn.png" alt="Лапа"
                style="width: 20px; margin-left: 10px;" /></a>
    </div>

    <hr>

    <div class="footer-logo-block">
        <img src="./assets/img/logo-footer.png" alt="Логотип PawMe">
    </div>
</footer>

<app-popup-template [ngSwitch]="popupService.getCurrentForm()">
    <app-login *ngSwitchCase="'login'"></app-login>
    <app-sign-up *ngSwitchCase="'sign-up'"></app-sign-up>
    <app-remind-password *ngSwitchCase="'remind-password'"></app-remind-password>
</app-popup-template>