<footer *ngIf="getCurRoute() == '/breeder-landing'">
    <div class="footer-info-block">
        <span>100</span>
        <div>
            <span>первых зарегистрированных заводчиков cмогут целый год торговать без
                комиссии</span><br/>
            <span style="opacity: 0.5;">после выхода полной версии платформы</span>
        </div>
    </div>
    <div class="footer-sign-up-button-block">
        <a title="Зарегистрируйся сейчас" [routerLink]="['/sign-up']" class="custom-btn btn-white">ЗАРЕГИСТРИРУЙСЯ СЕЙЧАС
            <img src="./assets/img/paw-in-signup-btn.png" alt="Лапа"
                style="width: 20px; margin-left: 10px;" /></a>
    </div>

    <hr>

    <div class="footer-logo-block">
        <img src="./assets/img/logo-footer.png" alt="Логотип PawMe">
    </div>
</footer>

<footer *ngIf="getCurRoute() != '/breeder-landing'" class="footer d-flex align-items-center justify-content-between">
    <div class="copyright">
        <img src="./assets/img/logo-footer.png" class="copyright-logo" alt="">

        <div class="copyright-text">
            © 2019 Petman. All rights reserved
        </div>
    </div>

    <div class="links d-flex flex-column">
        <div class="d-flex flex-wrap links-item first fs-18">
            <a href="" title="О платформе">О платформе</a>
            <a href="" title="Связаться с нами">Связаться с нами</a>
            <a href="" title="Регистрация заводчика">Регистрация заводчика</a>
        </div>

        <div class="d-flex justify-content-end flex-wrap links-item second fs-14">
            <a href="" title="Пользовательское соглашение">Пользовательское соглашение</a>
            <a href="" title="Политика конфиденциальности">Политика конфиденциальности</a>
        </div>
    </div>
</footer>