<div class="page-wrapper">
    <div class="page-container">
        <img src="./assets/img/about-us-top-img.jpg" alt="О платформе Petman" />

        <h2>О НАС</h2>

        <div class="text-block">
            <p>Когда-то мы сами выбирали своего первого питомца и столкнулись с суровой реальностью - объявления на
                Avito и других ресурсах не вызывают доверия, а среди друзей никто не знает заводчика нужной породы.
                Конечно, можно самому объездить дюжину питомников, посетить выставки и в итоге купить щенка своей мечты,
                но ведь сейчас 21 век, верно?</p>
            <p>Так родилась идея создания Petman — платформы, которая объединит сотни ответственных заводчиков со всей
                России. Мы хотим, чтобы люди выбирали нового члена семьи из профессиональных питомников и не могли стать
                жертвой безответственных бизнесменов. К любому питомцу можно привязаться очень быстро, но проблемы со
                здоровьем причинят боль и вам, и ему.</p>
            <p>Чтобы добиться поставленной цели, мы отсекаем плохих заводчиков определенными требованиями (например,
                договор) и даем максимум информации покупателю на странице каждого питомника. С ее помощью легко
                отличить профессионалов от фермы по разведению животных.</p>
            <p>Мы настроены изменить рынок продажи питомцев, и вы можете быть частью этого процесса.</p>

            <img src="./assets/img/about-us-signiture.svg" alt="Подпись Petman" />
        </div>
    </div>
</div>