<div class="page-wrapper">
    <div class="page-container">
        <img src="./assets/img/about-us-top-img.jpg" alt="О платформе Petman" />

        <h2>О НАС</h2>

        <div class="text-block">
            <p> Когда-то мы сами выбирали своего первого питомца и столкнулись с суровой реальностью - объявления на
                Avito и других ресурсах не вызывают доверия, а среди друзей никто не знает заводчика нужной породы.</p>
            <p>Так родилась идея создания Petman — платформы, которая объединит сотни ответственных заводчиков со всей
                России. Мы хотим, чтобы люди выбирали нового члена семьи из профессиональных питомников и не могли стать
                жертвой безответственных бизнесменов. Чтобы добиться поставленной цели, мы отсекаем плохих заводчиков
                определенными требованиями (например, договор) и даем максимум информации покупателю на странице каждого
                питомника.</p>
            <p>Однако платформа - это лишь отправная точка. В будущем мы построим полноценную экосистему для владельцев
                собак и кошек. Помимо покупки самого питомца, мы поможем владельцу получить электронную родословную,
                поучаствовать в первом турнире и проконсультироваться со специалистом. Со временем к Petman
                присоединятся
                ключевые партнеры, которые еще больше упростят процесс для нового хозяина питомца. Например, магазины
                зоотоваров помогут подобрать корм и игрушки, а ветеринарные клиники подскажут правильные медицинские
                услуги.</p>
            <p>Команда Petman настроена изменить рынок продажи питомцев, и вы можете быть частью этого процесса.</p>

            <img src="./assets/img/about-us-signiture.svg" alt="Подпись Petman" />
        </div>
    </div>
</div>