<header [ngClass]="{'header-for-profile': !isNonProfileHeader()}">
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand">
            <img src="{{isNonProfileHeader() ? './assets/img/logo-footer.png': './assets/img/logo.png'}}" alt="PawMe логотип" [routerLink]="['/client-page']">
        </a>

        <div *ngIf="getMenuType() == 1" class="my-2 my-lg-0">
            <div class="menu-btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <a *ngIf="!appService.userData || !appService.userData.generalInfo || !appService.userData.generalInfo.profilePhoto">ЛК</a>
                <img *ngIf="appService.userData && appService.userData.generalInfo && appService.userData.generalInfo.profilePhoto"
                    src="/img/{{appService.userData.generalInfo.profilePhoto.preview}}.jpg"/>
            </div>
            <div class="dropdown-menu custom-header-dropdown-menu">
                <a class="dropdown-item" style="color: #4dbebb;" [routerLink]="['/breeder-profile']"><img src="./assets/img/menu-user.png"
                        alt="Личный кабинет" width="13px" height="15px" style="margin-right: 10px;" />
                    {{appService.userData && appService.userData.profileFill > 4 ? 'Личный кабинет' : 'Заполнить анкету'}}</a>
                <a class="dropdown-item" (click)="openMyPage()"><img src="./assets/img/menu-eye.png" alt="Моя страница"
                        width="16px" height="12px" style="margin-right: 8px;" />Моя
                    страница</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" [routerLink]="['/faq']"><img src="./assets/img/menu-help.png" alt="Помощь" width="16px"
                        height="16px" style="margin-right: 8px;" />Помощь</a>
                <a class="dropdown-item" (click)="logout()"><img src="./assets/img/menu-log-out.png" width="15px"
                        height="15px" alt="Выйти" style="margin-right: 9px;" />Выйти</a>
            </div>
        </div>
        <div *ngIf="getMenuType() == 2" class="my-2 my-lg-0">
                <div class="menu-btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <a *ngIf="!appService.userData || !appService.userData.generalInfo || !appService.userData.generalInfo.profilePhoto">ЛК</a>
                    <img *ngIf="appService.userData && appService.userData.generalInfo && appService.userData.generalInfo.profilePhoto"
                        src="/img/{{appService.userData.generalInfo.profilePhoto.preview}}.jpg"/>
                </div>
                <div class="dropdown-menu custom-header-dropdown-menu">
                    <a class="dropdown-item" (click)="logout()"><img src="./assets/img/menu-log-out.png" width="15px"
                        height="15px" alt="Выйти" style="margin-right: 9px;" />Выйти</a>
                </div>
            </div>
        <div *ngIf="getMenuType() == 0" class="my-2 my-lg-0">
            <input type="button" class="custom-btn btn-transparent" [class.white-login-btn]="isNonProfileHeader()"
                value="Войти" [routerLink]="['/login']" />
        </div>
    </nav>
</header>