<app-notification-bar></app-notification-bar>
<header>
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand">
            <img src="./assets/img/logo.png" alt="PawMe логотип" width="150px;">
        </a>

        <div *ngIf="appService.userData" class="my-2 my-lg-0">
            <div class="menu-btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <a>ЛК</a>
            </div>
            <div class="dropdown-menu custom-header-dropdown-menu">
                <a class="dropdown-item" href="#" style="color: #4dbebb;"><img src="./assets/img/menu-user.png"
                        alt="Личный кабинет" width="13px" height="15px" style="margin-right: 10px;" />Заполнить
                    анкету</a>
                <a class="dropdown-item" href="#"><img src="./assets/img/menu-eye.png" alt="Моя страница"
                        width="16px" height="12px" style="margin-right: 8px;" />Моя
                    страница</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#"><img src="./assets/img/menu-help.png" alt="Помощь" width="16px"
                        height="16px" style="margin-right: 8px;" />Помощь</a>
                <a class="dropdown-item" (click)="logout()"><img src="./assets/img/menu-log-out.png" width="15px"
                        height="15px" alt="Выйти" style="margin-right: 9px;" />Выйти</a>
            </div>
        </div>
        <div *ngIf="!appService.userData" class="my-2 my-lg-0">
            <input type="button" class="custom-btn btn-transparent" value="Войти" [routerLink]="['/login']" />
        </div>
    </nav>
</header>