@font-face {
  font-family: 'Intro-Regular';
  src: url(../fonts/Intro-Regular.otf);
}

@font-face {
  font-family: 'Intro-Bold';
  src: url(../fonts/Intro-Bold.otf);
}

@font-face {
  font-family: 'Intro-Thin';
  src: url(../fonts/Intro-Thin.otf);
}

@font-face {
  font-family: 'Intro-Light';
  src: url(../fonts/Intro-Light.otf);
}

@font-face {
  font-family: 'Intro-Book';
  src: url(../fonts/Intro-Book.otf);
}

body {
  font-family: 'Intro-Regular';
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
}

h1, h2, h3, h4, h5 {
  color: #0e0b4d;
  font-family: 'Intro-Bold';
}

p {
  font-family: 'Intro-Book';
  font-size: 18px;
  color: #0e0b4d;
}

span, label {
  color: #0e0b4d;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.header-for-landing header {
  background-color: unset !important;
  padding: 2em !important;
}

.header-for-landing header nav {
  background-color: unset !important;
  padding: 0 !important;
}

.header-shelters header {
  background-color: unset !important;
}

.header-shelters header nav {
  background-color: unset !important;
}

.custom-btn {
  border-radius: 28px;
  padding: 10px 25px;
  border: none;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.custom-btn:focus, .custom-btn:active {
  outline: none !important;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn-purple {
  background: #645fc9;
  color: #ffffff !important;
}

.btn-transparent {
  border: 1px solid #645fc9;
  color: #645fc9;
  background-color: #f8f9fb;
  margin: 10px auto;
  display: block;
}

.btn-white {
  background: #ffffff;
  color: #645fc9 !important;
}

.btn-label {
  font-size: 14px;
  font-family: 'Intro-Regular';
  color: #fff;
  background-color: #4a90e2;
  border-radius: 25px;
  border: unset;
  padding: 2px 8px;
}

.btn-label:focus, .btn-label:active {
  outline: none !important;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn-white:hover,
.btn-transparent:hover {
  background: #efefef;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.btn-purple:hover {
  background: #7975ce;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.btn-label:hover {
  background-color: #58a0f5;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.popup-form-group,
.popup-form-check {
  width: 50% !important;
  margin: 15px auto 0 !important;
  text-align: left;
}

.popup-form-check div {
  display: inline-block;
}

.popup-form-check label {
  width: calc(100% - 27px);
  font-size: 12px;
}

.custom-checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: .2em;
  margin-bottom: .2em;
}

.custom-checkbox > div {
  width: 22px;
  height: 22px;
  background-color: #fff;
  border-radius: 2px;
  border: 1px solid #cbd8f6;
  cursor: pointer;
  margin-right: 5px;
}

.custom-checkbox > div img {
  position: relative;
  left: 2px;
  bottom: 1px;
}

.breeder-profile-subpage-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto;
  -ms-grid-columns: 50% 50%;
      grid-template: auto / 50% 50%;
  grid-row-gap: 2em;
  grid-column-gap: 1em;
  padding: 1em;
  background-color: #fff;
  border: 1px solid #cbd8f6;
  border-radius: 4px;
}

.breeder-profile-subpage-container .upper-btn {
  -ms-grid-column: 2;
      grid-column-start: 2;
  text-align: right;
}

.breeder-profile-subpage-container .lower-btn {
  -ms-grid-column: 1;
      grid-column-start: 1;
  text-align: left;
}

.breeder-profile-subpage-container .block-description {
  opacity: 0.5;
  font-size: 14px;
  font-family: 'Intro-Book';
}

.breeder-profile-subpage-form-group {
  width: 100%;
  float: left;
}

.gallery-initial-block {
  position: relative;
  border: 1px dotted #645fc9;
  background-color: rgba(203, 216, 246, 0.2);
  border-radius: 4px;
  width: 100%;
  height: auto;
  padding: 3em;
  text-align: center;
}

.gallery-initial-block > input {
  opacity: 0.0;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.gallery-initial-block span {
  color: #8685a6;
  font-size: 14px;
}

.gallery-initial-block span a {
  color: #4a90e2;
  -webkit-text-decoration: underline #4a90e2;
          text-decoration: underline #4a90e2;
}

.carousel-caption {
  display: none;
}

.dropdown-menu {
  left: unset !important;
  right: 0;
}

.dropdown-menu .dropdown-item {
  font-family: 'Intro-Book';
  font-size: 13px;
  color: #0e0b4d;
  padding: .25rem .5rem;
}

.dropdown-menu .dropdown-item img {
  -o-object-fit: contain;
     object-fit: contain;
}

.form-control {
  border: 1px solid #cbd8f6;
}

.form-group {
  margin: 15px auto 0;
  text-align: left;
}

.form-group label {
  margin: unset;
  color: #0e0b4d;
}

.input-group-text {
  background-color: #fff !important;
}

@media screen and (max-width: 769px) {
  .header-for-landing {
    padding: 0 !important;
  }
  .header-for-landing nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-bottom: 0 !important;
  }
  .custom-btn {
    padding: 15px 25px;
  }
  .popup-form-group,
  .popup-form-check {
    width: 80% !important;
  }
  .carousel-indicators {
    bottom: -1em !important;
  }
  .carousel .carousel-indicators li {
    width: 1rem !important;
    height: 1rem !important;
  }
  .carousel-indicators li {
    margin-right: 10px !important;
    margin-left: 10px !important;
    background-color: #645fc9 !important;
  }
  .carousel-control-prev,
  .carousel-control-next {
    display: none !important;
  }
  .carousel-caption {
    display: block;
    position: static !important;
  }
  .carousel-fade .carousel-inner > .carousel-item.active,
  .carousel-fade .carousel-inner > .carousel-item.next.left,
  .carousel-fade .carousel-inner > .carousel-item.prev.right {
    display: block !important;
  }
  .form-group,
  .form-check {
    margin: 5px auto 0;
  }
}
/*# sourceMappingURL=main.css.map */