

:host {
    background: #ffffff;
}
a:hover {
    text-decoration: none;
}

.main {
    background: #ffffff !important;
    width: 100%;
}

.checkbox-item {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;

    img {
        width: 11px;
        height: 8px;
        margin-top: 12px;
        margin-right: 22px;
        background-image: url("/assets/img/search-page/search-checkbox.png");
        display: none;
    }
}
.checkbox-item:hover {
    img {

        display: block;
    }
}

.checkbox-item:hover {
    img {

        display: block;
    }
}

.header { 
    height: 600px;
    background-image: url("/assets/img/client-page/header.jpeg");
    background-repeat: no-repeat;  
    background-size: cover; 
    background-position: center;
}

.header-title {
    margin-top: 155px !important;
    opacity: 1;
    margin: 0 auto;
    max-width: 636px;
    text-align: center;
    h3 {
        font-size: 38px;
        font-family: Intro-Bold;
        color: #ffffff;
    }
    p  {
        font-size: 18px;
        font-family: Intro-Book;
        line-height: 1.44;
        color: #ffffff;
    }
}
.header-logo {
    display: flex;
    justify-content: center;
}
.logo img {
    width: 150px;
    outline: none;
    margin-top: 30px;
}

.search-block {
    max-width: 680px;
    margin-top: -90px !important;
    border: solid 1px #cbd8f6;
    background-color: #ffffff;
    padding: 30px;
    margin: 0 auto;  
}

.search-content {
    display: flex;
    flex-wrap: wrap;
    .dropdown-text-input {
        width: 437px;
        height: 52px;
    }
}

.star {
    display: flex;
    flex-wrap: nowrap;
    margin-top: 12px;
    font-size: 15px;
    opacity: 0.8;
    color: #0e0b4d;
    &>div:last-child {
        margin-left: 4px;
    }
    a {
        color: #645fc9;
        text-decoration: underline;
        margin-left: 2px;
    }
}

.custom-btn  {
    margin-left: 20px;
    width: 157px;
    min-width: 157px;
    height: 44px;
    text-align: center;
    input {
        font-size: 16px;
        letter-spacing: 0.18px;
        color: #ffffff;
        background: none;
        border: none;
    }
}
    .container {
        max-width: 1300px;  
    }
    .title {
        font-size: 28px;
        color: #645fc9;
        margin-top: 70px;
        margin-left: 30px;
        font-family: "Intro-Regular";
    }

.dogs {
    color: #0e0b4d;
    margin-top: 60px;
    h3 {
        font-size: 22px;
        margin-left: 30px;
    }
    .text {
        font-size: 18px;
        line-height: 1.44;
        max-width: 970px;
        margin-top: 16px;
        margin-left: 30px;
    }
    img {
        width: 270px;
        height: 220px;
    }
}

.dogs-pics {
    margin-top: 32px;
    display: flex;
    flex-wrap: wrap;
    div {
        margin-left: 30px;
        cursor: pointer;
    }
    p {
        font-size: 22px;
        margin-top: 10px;
        font-family: "Intro-Regular";
        max-width: 240px;
    }
}
  
  .middle-content {
    background-color: #f8f9fb !important;
    padding-bottom: 73px;
    h3 {
        font-size: 28px;
        color: #645fc9;
        margin-left: 30px;
        padding-top: 60px;
    }
    p {
        font-size: 16px;
        line-height: 1.38;
        letter-spacing: normal;
        color: #0e0b4d;
        margin-left: 30px;
    }
}

.middle-content-icons {
    display: flex;
    flex-wrap: wrap;
    margin-top: 57px;
    margin-left: 30px;
    div:first-child {
        margin: 0px;
    }
    div {
        margin-left: 100px;
    }
    h3 {
        font-size: 22px;
        line-height: 1.5;
        color: #0e0b4d;
        margin-left: 0px;
        margin-top: 21px;
        padding-top: 0;
    }
    p {
        max-width: 298px;
         margin-top: 16px;
        margin-left: 0px;
        font-size: 16px;
    }
    a {
        color: #645fc9;
        text-decoration: underline;
         margin-top: 32px;
        font-size: 16px;
        letter-spacing: 0.18px;
    }
}

.oval-background {
    background-color: #ffffff;
    background-image: url(/assets/img/client-page/kruglii_cut.svg), url(/assets/img/client-page/Oval_big.svg);
   // background-image: url(/assets/img/client-page/kruglii_cut.svg), url(/assets/img/client-page/circles.png);

    background-position: left bottom, right bottom;
    background-repeat: no-repeat, no-repeat;
    background-position: fixed;
    margin-top: 50px;

}
.oval-content {
    display: flex;
    justify-content: space-between;
}
.oval-right {
    margin-left: 30px;
    h3 {
    width: 510px;
    font-size: 28px;
    letter-spacing: normal;
    color: #645fc9;
    margin-top: 90px;
    }
    h2 {
    width: 536px;
    margin-top: 65px;
    font-size: 22px;
    color: #0e0b4d;
    }
    p {
    width: 570px;
    height: 110px;
    font-size: 16px;
    line-height: 1.38;
    color: #0e0b4d;
    margin-top: 22px;
    }
    input {
        margin-top: 22px;
        margin-left: 0;
        width: 224px;
        height: 44px;
        border-radius: 26px;
        background-color: #645fc9;
        font-size: 14px;
        letter-spacing: 0.16px;
        text-align: center;
        color: #ffffff;
        text-transform: uppercase;
    }
}
.girl {
    width: 683px;
    height: 586px;
    margin-left: 52px;
}
 .girl-img {
     margin: 30px 0px 0px 43px;
 }
.slider-button {
    display: flex;
    flex-wrap: nowrap;
    margin: 15px 0 0 230px; 
    .show {
        background-image: url("/assets/img/client-page/hover_circle.svg");
        .circle {
            display: none;
        }
    }
    a,.mainCircle div {
        width: 28px;
        height: 28px;
        .circle {
            width: 14px;
            height: 14px;
            opacity: 0.5;
            background-color: #645fc9;
            border-radius: 50%;
            margin : 7px 0 0 7px;    
        }
        &:hover, .show {
            background-image: url("/assets/img/client-page/hover_circle.svg");
            .circle {
                display: none;
            }
        }
    }
}
 
.choose-dog {
    margin: 0 auto;
    margin-top: 70px;
    h3 {
    font-size: 28px;
    text-align: center;
    color: #645fc9;
    text-transform: uppercase;
    }
    p {
    font-size: 16px;
    line-height: 1.38;
    text-align: center;
    color: #0e0b4d;
    }
}

.choose-dog-pics {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 42px 0 36px 0;
}

.dog-freind {
    background-image: url("/assets/img/client-page/back_readyfordog.svg");
    width: 670px;
    height: 380px;
    position: relative;
    h3 {
        font-size: 28px;
        color: #0e0b4d;
        margin: 27px 0 0 32px;
        padding-top: 27px;
    }

    .heart {
        top: 46px;
        right: 42px;
        position: absolute;
    }
}
.dog {
    margin-left: 200px;
    background-image: url("/assets/img/client-page/bitmap.png");
    width: 456px;
    height: 320px;
}
.dog-freind-left {
    margin-left: 30px;
    h3 {
    width: 212px;
    font-size: 28px;
    color: #0e0b4d;
    padding-top: 27px;
    padding-left: 32px;
    }    
}
.white-dog {
    width: 470px;
    height: 175px;
    display: flex;
    justify-content: space-between;
    padding-top: 21px;
    margin-top: 27px;
    background-image: url("/assets/img/client-page/back_howtochoose.svg");
}
.white-dog-pic {
    background-image: url("/assets/img/client-page/white-dog.png");
    width: 212px;
    height: 154px;
}
.black-dog {
    width: 470px;
    height: 175px;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    background-image: url("/assets/img/client-page/back_howtochoosebreed.svg");
}
.black-dog-pic {
    background-image: url("/assets/img/client-page/black-dog.png");
    width: 156px;
    height: 175px;
}
.info-button {
    margin: 0 auto;
    width: 256px;
    input {
    width: 256px;
    height: 44px;
    border-radius: 26px;
    border: solid 1px #645fc9;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 0.16px;
    text-align: center;
    color: #645fc9;
    }
}
.dogs-bottom {
    margin-top: 70px;
    background-color: #edeceb;
    img {
        margin-left: 150px;
    }
}

.content {
    margin: 0 auto;
    width: 425px;
    h3 {
        font-size: 28px;
        text-align: center;
        color: #645fc9;
        padding-top: 60px;
    }
    p {
        width: 465px;
        font-size: 16px;
        line-height: 1.38;
        text-align: center;
        color: #0e0b4d;
        margin-top: 22px;
    }
    input {
        width: 214px;
        height: 44px;
        font-size: 14px;
        margin: 15px 0 0 110px ;
    }
} 
.bottom-dogs {
    background-image: url("/assets/img/client-page/dogs_vizavodchik.jpg");
    background-repeat: no-repeat;  
    background-position: center;
    background-size: cover; 
    height: 334px;
    margin-top: 50px;
}

.outer-header {
    display: none;
    &.scrolled {
        display: block;
        position: fixed !important;
        top: 0;
        width: 100%;
        left: 0;

        box-shadow: 0 2px 24px 0 rgba(14, 11, 77, 0.1);
        background-color: #ffffff;

        z-index: 100;
    }
    .container-header{
        display: flex;
        align-items: center;
        min-height: 90px;
        justify-content: space-between;
        max-width: 1300px;
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
        .logo {
            img{
                margin: 0;
            }
        }
        .search-meta{
            width: 100%;
            max-width: 420px;
            margin: 0 10px;
        }
        .custom-btn{
            margin: 0;
        }
    }
   
}
.show-client-mobile {
    display: none !important;
}

@media screen and (max-width: 769px) {
    .show-client-mobile {
        display: block !important;
        margin-top:200px !important;
        text-align: center;
         margin-left: 15px;
    }
    .show-client-desktop {
        display: none;
    }

    .outer-header {
        .container-header{
            min-height: 90px;
            .search-meta{
                display: none;
            }
            .custom-btn{
                display: none;
            }
        }
    }

     .header { 
        background-image: url("/assets/img/client-page/header-mobile.jpg");
        background-size: cover; 
        background-position: center;
        background-repeat: no-repeat;  
        height: 485px !important;
    }
    .header-title {
        margin-top: 100px !important;
        h3 {
            font-size: 26px;
        }
        p  {
            font-size: 15px;
        }
    }
    .search-block {
        width: 328px;
        margin-top: -155px !important;
        padding: 22px 16px 16px 16px;

    }
    .search-content {
        .dropdown-text-input {
            width: 296px; 
            height: 40px;
        }
    }
    .custom-btn  {
        width: 296px; 
        height: 46px;
        margin-left: 0;
        margin-top: 16px;
        input {
            font-size: 14px;
        }
    }
    .star {
        font-size: 14px;
    }
    .title {
        font-size: 20px;
        margin-top: 61px;
        margin-left: 0px;
    }
    .container {
        width: 328px;
        margin: 0 auto;
        padding: 0;
    }

    .dogs {
        margin-top: 28px;
        h3 {
            font-size: 18px;
            margin-left: 0px;
        }
        .text {
            font-size: 14px;
            margin-top: 12px;
            margin-left: 0px;
        }
        img {
            width: 156px;
            height: 127px;
        }
     
    }
    .dogs-pics {
        margin-top: 12px;
        div {
            margin-left: 16px;
        }
        div:nth-child(1), div:nth-child(3) {
            margin-left: 0;
        }
        img {
            width: 156px;
            height: 127px;
        }
        p {
            font-size: 13px;
            margin-top: 10px;
            max-width: 150px;
        }
    }
  .middle-content {
        padding-bottom: 50px;
        margin: 0 auto;
        h3 {
            font-size: 20px;
            margin-left: 0px;
        }
        p {
            font-size: 14px;
            margin-left: 0px;
            width: 328px !important;
        }
    }
    .middle-content-icons {
        margin-top: 32px;
        margin-left: 0px; 
        div:first-child {
            margin: 0px;
        }
        div {
           margin-left: 0px;
           width: 328px;
           img {
            margin-top: 32px;
           }
        }
        h3 {
            font-size: 22px;
            margin-left: 0px;
            margin-top: 16px;
        }
        p {
            max-width: 328px;
            margin-top: 14px;
            margin-left: 0px;
            font-size: 16px;
        }
        a {
             margin-top: 22px;
            font-size: 16px;
        }
    }
    .oval-background {
        background-image: none;
        margin-top: 0;
    }
    .oval-content {
         flex-wrap: wrap;
    }
    .oval-right {
        margin-left: 0px; 
        margin-bottom: 16px;
        h3 {
        width: 205px; 
        font-size: 20px;
        margin-top: 40px;

        }
        h2 {
        width: 328px; 
        margin-top: 24px;
        font-size: 18px;
        }
        p {
        width: 328px; 
        height: 110px;
        font-size: 14px;
        margin-top: 14px;
        overflow-y: auto;
        }
        input {
            margin-top: 40px;
            width: 328px;
            height: 44px;
        }
    }
    .girl {
        width: 328px;
        height: 200px;
        margin-top: 12px;
        margin-left: 0px;
        img {
            width: 330px !important;
        }
    }
    .girl-img {
        margin: 0px 0px 0px 0px;
        margin-left: 0px;
    }
    .slider-button {
        margin: 15px 0 0 90px; 
    }
    .choose-dog {
        margin: 0 auto;
        margin-top: 70px;
        width: 328px;
        h3 {
            font-size: 20px;
        }
        p {
            font-size: 14px;
        }
    }
    .choose-dog-pics {
        margin: 42px 0 36px 0;
    }
    .dog-freind {
        background-image: url("/assets/img/client-page/mobile_back_readyfordog.svg");
        width: 328px;
        height: 256px;
        h3 {
            font-size: 22px;
            margin: 22px 0 0 22px;
        }
        .heart {
            top: 50px;
            right: 30px;
            img {
                width: 66px;
                height: 65px;
            }
        }
    }
    .dog {
        margin-left: 20px;
        background-image: url("/assets/img/client-page/bitmap-mobile.png");
        width: 256px;
        height: 188px;
        margin-top: 18px;
    }
    .dog-freind-left {
        margin-left: 0; 
        h3 {
        width: 185px;
        font-size: 22px;
        padding-top: 22px;
        padding-left: 22px;
        }    
    }
    .white-dog {
        width: 328px;
        height: 175px;
        margin-top: 30px;
        padding-top: 0;
        display: flex;
        justify-content: space-between;
        background-image: url("/assets/img/client-page/mobile_back_howtochose.svg");
    }
    .white-dog-pic {
        background-image: url("/assets/img/client-page/mobile-white-dog.png");
        width: 158px;
        height: 130px;
        background-repeat: no-repeat; 
        margin-top: 60px;
    }
    .black-dog {
        width: 328px;
        height: 175px;
        margin-top: 30px;
        display: flex;
        justify-content: space-between;
        background-image: url("/assets/img/client-page/mob_back_howtochoosebreed.svg");
    }
    .black-dog-pic {
        background-image: url("/assets/img/client-page/mobile-black-dog.png");
        background-repeat: no-repeat; 
        width: 189px;
        height: 129px;
        margin-top: 46px;
        margin-left: 17px;
    }
    .content {
        margin: 0 auto;
        width: 328px;
        h3 {
            font-size: 20px;
            padding-top: 40px;
        }
        p {
            width: 328px;
            font-size: 14px;
        }
        input {
            width: 214px;
            height: 44px;
            font-size: 14px;
            margin: 29px 0 0 60px;
        }
    } 
    .dogs-bottom {
        margin-top: 40px;
        background-color: #edeceb;
        img {
            margin-left: 0; 
            width: 360px;
            height: 241px;
        }
    }

    .bottom-dogs {
        background-image: url("/assets/img/client-page/mob_vizavodchik.jpg");
        background-repeat: no-repeat;
        height: 241px; 
        margin-top: 0; 
    }
}


