<div class="outer-conteiner outer-header fixed-header" [ngClass]="{'scrolled': state}">
    <div class="container-header" [ngClass]="{'non-border': state && !showMenu}">
        <div class="logo">
            <img src="./assets/img/logo.png" alt="PawMe логотип" [routerLink]="['/client-page']">
        </div>
        <div *ngIf="state" class="search-meta">
            <div class="dropdown-text-input dropdown-style">
                <ng-select
                    [items]="breedList"
                    [multiple]="false"
                    bindLabel="name"
                    clearAllText ="Clear All"
                    placeholder="Порода"
                    [selectableGroup]="true"
                    [selectableGroupAsModel]="false"
                    [closeOnSelect]="true"
                    bindValue="id"
                    (change)="getSearchPage()"
                    [virtualScroll]="true"
                    [(ngModel)]="breed">
                    <ng-template let-clear="clear" ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                        <div class="checkbox-item" [ngClass]="{'disabled': item?.disabled}">
                            <div [title]="item.name" class="name">{{item.name}}</div>  
                            <img *ngIf="!item.disabled" src="./assets/img/search-page/search-checkbox.png" alt="" />
                            <div *ngIf="item.disabled" class="coming-soon">
                                Уже скоро
                            </div>
                        </div>
                    </ng-template>
                </ng-select>  
            </div>
        </div>
        <app-menu [showMenu]="showMenu" [state]="state"></app-menu>
    </div>
</div>
<div class="main">
    <div class="header">
          <div class="header-logo">
                <div class="logo">
                     <img src="./assets/img/logo-footer.png" alt="PawMe логотип" [routerLink]="['/client-page']">
                </div>
          </div>         
        <div class="header-title">
            <h3>НАЙДИ ЛУЧШЕГО ДРУГА У НАС</h3>
            <p>Мы помогаем будущим хозяевам собак и заводчикам находить друг друга</p>    
        </div> 
    </div>
    <div class="search-block">
        <div class="search-content">
            <div class="dropdown-text-input dropdown-style">
                    <ng-select
                        [items]="breedList"
                        [multiple]="false"
                        bindLabel="name"
                        clearAllText ="Clear All"
                        placeholder="Порода"
                        [selectableGroup]="true"
                        [selectableGroupAsModel]="false"
                        [closeOnSelect]="true"
                        bindValue="id"
                        [virtualScroll]="true"
                        [(ngModel)]="breed">
                        <ng-template let-clear="clear" ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                            <div class="checkbox-item" [ngClass]="{'disabled': item?.disabled}">
                                <div [title]="item.name" class="name">{{item.name}}</div>  
                                <img *ngIf="!item.disabled" src="./assets/img/search-page/search-checkbox.png" alt="" />
                                <div *ngIf="item.disabled" class="coming-soon">
                                    Уже скоро
                                </div>
                            </div>
                        </ng-template>
                    </ng-select>  
                </div>
                
            <div class="custom-btn btn-purple" (click)="getSearchPage()">
                <input type="button" value="НАЙТИ!"/>
                <img src="./assets/img/client-page/shape.svg" alt="" />
            </div>   
        </div>
        <div class="star">
            <div>Или<a [routerLink]="['/search-page']">посмотрите</a> топ наших заводчиков</div>
            <div class=""><img src="./assets/img/client-page/star.svg" alt="" /></div>
        </div>
    </div>
    <div class="container">
        <h3 class="title">САМЫЕ ПОПУЛЯРНЫЕ ПОРОДЫ</h3>
        <div class="dogs">
            <h3>Для аллергиков</h3>
            <p class="text">Любая собака производит аллергены, но эти - в минимальных количествах</p>
            <div class="dogs-pics">
                <div>
                    <a (click)="selectParod('Цвергшнауцер')">
                        <img src="./assets/img/client-page/dogs/shvergshancuer.jpg" alt="" />
                    </a>
                    <p>Цвергшнауцер</p>
                </div>
                <div>
                    <a (click)="selectParod('Йоркширский терьер')">
                        <img src="./assets/img/client-page/dogs/iorkshirski.jpg" alt="" />
                    </a>
                    <p>Йоркширский терьер</p>
                </div>
                <div>
                    <a (click)="selectParod('Басенджи')">
                        <img src="./assets/img/client-page/dogs/basenji.jpg" alt="" />
                    </a>
                    <p>Басенджи</p>
                </div>
                <div>
                    <a (click)="selectParod('Пудель')">
                        <img src="./assets/img/client-page/dogs/pudel.jpg" alt="" />
                    </a>
                    <p>Пудель</p>
                </div>
            </div>
        </div>
        <div class="dogs">
            <h3>Для квартиры</h3>
            <p class="text">Отличный вариант для тех, кто ограничен в пространстве</p>
            <div class="dogs-pics">
                <div>
                    <a (click)="selectParod('Французский бульдог')">
                        <img src="./assets/img/client-page/dogs/fran.jpg" alt="" />
                    </a>
                    <p>Французский бульдог</p>
                </div>
                <div>
                    <a (click)="selectParod('Кавалер-кинг-чарльз-спаниель')">
                        <img src="./assets/img/client-page/dogs/kavaler.jpg" alt="" />
                    </a>
                    <p>Кавалер-кинг-чарльз-спаниель</p>
                </div>
                <div>
                    <a (click)="selectParod('Такса гладкошёрстная')">
                        <img src="./assets/img/client-page/dogs/taksa.jpg" alt="" />
                    </a>
                    <p>Такса</p>
                </div>
                <div>
                    <a (click)="selectParod('Чихуахуа длинношёрстный')">
                       <img src="./assets/img/client-page/dogs/chixuaya.jpg" alt="" />
                    </a>
                    <p>Чихуахуа</p>
                </div>
            </div>
        </div>
    </div>
    <div class="middle-content">
        <div class="container">
            <h3>ПОЧЕМУ У НАС?</h3>
            <p>Мы работаем только с ответственными заводчиками, которые думают о будущих хозяевах.</p>
            <div class="middle-content-icons">
                <div>
                    <img src="./assets/img/client-page/groupe.svg" alt="" />
                    <h3 class="">Договор PetMan</h3>
                    <p class="">Мы составили договор, который зафиксирует гарантийные условия и обезопасит вас </p>
                    <a [routerLink]="['/docs/contract.pdf']" target="_blank">Посмотреть договор</a>
                </div>
                <div>
                    <img src="./assets/img/client-page/oval.svg" alt="" />
                    <h3 class="">Комплект PetMan</h3>
                    <p class="">Каждый щенок продается с обязательным комплектом - метрика, вет. паспорт и клеймо. Так мы защищаем вас от нелегальных бизнесменов.</p>
                </div>
                <div>
                    <img src="./assets/img/client-page/info.svg" alt="" />
                    <h3 class="">Подробная информация</h3>
                    <p class="">Каждый заводчик заполняет несколько обязательных разделов, включая медицинские тесты/услуги, фотографии и родителей. </p>
                </div>
            </div>
        </div>
    </div>
    <div class="oval-background">
        <div *ngIf="showData" class="oval-content container">
            <div class="oval-right">
                <h3 class="">ПОЗНАКОМЬТЕСЬ С ЗАВОДЧИКАМИ</h3>
                <h2 class="">Привет! <br />{{showData.subTitle}}</h2>
                <p class="">{{showData.text}}</p>
                <a  class="show-client-desktop" href="{{showData.url}}"><input type="button" class="custom-btn btn-purple" value="Посмотреть профиль"></a>
            </div>
            <div class="girl">
               <div class="girl-img">
                    <img src="{{showData.img}}" alt="" />
               </div> 
                <div class="slider-button">
                <a [ngClass]="{'show': id === '1' }" (click)="showClinet('1')"><div class="mainCircle" ><div class="circle"></div></div></a>
                <a [ngClass]="{'show': id === '2' }" (click)="showClinet('2')"><div class="mainCircle" ><div class="circle"></div></div></a>
                <a [ngClass]="{'show': id === '3' }" (click)="showClinet('3')"><div class="mainCircle"><div class="circle"></div></div></a>
                <a [ngClass]="{'show': id === '4' }" (click)="showClinet('4')"><div class="mainCircle"><div class="circle"></div></div></a>
                <a [ngClass]="{'show': id === '5' }" (click)="showClinet('5')"><div class="mainCircle"><div class="circle"></div></div></a>
                </div>
            </div>
            <a class="show-client-mobile" href="{{showData.url}}"><input type="button" class="custom-btn btn-purple" value="Посмотреть профиль"></a>

        </div>
    </div>
    <div class="choose-dog">
        <h3 class="">Выбираете своего первого питомца?</h3>
        <p class="">Узнайте подробнее, как все работает и что нужно ожидать</p>
    </div>
    <div class="choose-dog-pics">
        <a [routerLink]="['/article/1']" class="">
            
            <div class="dog-freind">
                <h3 class="">Готов ли я к собаке?</h3>
                <div class="dog"></div>
                <div class="heart">
                    <img src="./assets/img/client-page/heart.png" alt="" />
                </div>
            </div>
        </a>
        <div class="dog-freind-left">
            <a [routerLink]="['/article/10']" class="">
                <div class="white-dog">
                    <h3>Как выбрать заводчика?</h3>
                    <div class="white-dog-pic"></div>
                </div>
            </a>
            <a [routerLink]="['/article/18']" class="">
                <div class="black-dog">
                    <h3>Как подготовиться?</h3>
                    <div class="black-dog-pic"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="info-button">
        <div>
            <input type="button" (click)="openArtical()" class="custom-btn btn-transparent" value="Перейти к базе знаний">
        </div>  
    </div>
    <div class="dogs-bottom">
        <div class="content">
            <h3>ВЫ ЗАВОДЧИК?</h3>
            <p>Присоединяйтесь к сообществу ответственных заводчиков и продавайте щенков через нашу платформу.</p>
            <input type="button" (click)="renderBrender()" class="custom-btn btn-purple" value="УЗНАТЬ ПОДРОБНЕЕ">
        </div>
        <div class="bottom-dogs">
        </div>
        
    </div>
</div>
