<div class="main">
    <div class="header">
        <app-header class='header-for-landing'></app-header>  
        <div>
            <p>НАЙДИ ЛУЧШЕГО ДРУГА У НАС</p>
            <p>Мы помогаем будущим хозяевам собак и заводчикам находить друг друга</p>    
        </div> 
    </div>
    <div class="search-block">
        <div class="search-content">
            <div class="dropdown-text-input">
                <input  type="text" class="form-control custom-form-control-border" placeholder="Порода">
                <img src="./assets/img/arrow-down.svg" alt="Стрелка вниз" />
            </div>
            <div class="custom-btn btn-purple">
                <input type="button" value="НАЙТИ!" />
                <img src="./assets/img/client-page/shape.svg" alt="" />
            </div>   
        </div>
        <div class="star">
            <div>Или <a href="">посмотрите</a> топ наших заводчиков</div>
            <div class=""><img src="./assets/img/client-page/star.svg" alt="" /></div>
        </div>
    </div>
    <div class="containers">
        <p class="title">САМЫЕ ПОПУЛЯРНЫЕ ПОРОДЫ</p>
        <div class="dogs">
            <p>Смешные, пока маленькие</p>
            <p class="text">После регистрации вы бесплатно получите собственную страницу заводчика с личным кабинетом, которую можно смело использовать в качестве персонального сайта.</p>
            <div>
                <div>
                    <img src="./assets/img/client-page/dog1.png" alt="" />
                    <p>Мопс</p>
                </div>
                <div>
                    <img src="./assets/img/client-page/dog2.png" alt="" />
                    <p>Сенбернар</p>
                </div>
                <div>
                    <img src="./assets/img/client-page/dog3.png" alt="" />
                    <p>Немецкая овчарка</p>
                </div>
                <div>
                    <img src="./assets/img/client-page/dog4.png" alt="" />
                    <p>Торопыжка</p>
                </div>
            </div>
        </div>
        <div class="dogs">
            <p>Дворовые породы</p>
            <p class="text">После регистрации вы бесплатно получите собственную страницу заводчика с личным кабинетом, которую можно смело использовать в качестве персонального сайта.</p>
            <div>
                <div>
                    <img src="./assets/img/client-page/dog1.png" alt="" />
                    <p>Мопс</p>
                </div>
                <div>
                    <img src="./assets/img/client-page/dog2.png" alt="" />
                    <p>Сенбернар</p>
                </div>
                <div>
                    <img src="./assets/img/client-page/dog3.png" alt="" />
                    <p>Немецкая овчарка</p>
                </div>
                <div>
                    <img src="./assets/img/client-page/dog4.png" alt="" />
                    <p>Торопыжка</p>
                </div>
            </div>
        </div>
    </div>
    <div class="middle-content">
        <h3>ПОЧЕМУ У НАС?</h3>
        <p>Мы работаем только с ответственными заводчиками, которые думают о будущих хозяевах.</p>
        <div class="middle-content-icons">
            <div>
                <img src="./assets/img/client-page/groupe.svg" alt="" />
                <h3 class="">Договор PawMe</h3>
                <p class="">Мы составили договор, который зафиксирует гарантийные условия и обезопасит вас </p>
                <a href="">Посмотреть договор</a>
            </div>
            <div>
                <img src="./assets/img/client-page/oval.svg" alt="" />
                <h3 class="">Комплект PetMan</h3>
                <p class="">Каждый щенок продается с обязательным коплектом - метрика, ветеринарный паспорт и клеймо</p>
                <a href="">Зачем это нужно?</a>
            </div>
            <div>
                <img src="./assets/img/client-page/info.svg" alt="" />
                <h3 class="">Подробная информация</h3>
                <p class="">Мы составили договор, который зафиксирует гарантийные условия и обезопасит вас </p>
            </div>
        </div>
    </div>
    <div class="oval-content">
        <div class="right">
            <h3 class="">ПОЗНАКОМЬТЕСЬ С ЗАВОДЧИКАМИ</h3>
            <h2 class="">Привет! <br />Я Наташа Ростова из питомника «Сладкие мопсы»</h2>
            <p class="">Значимость этих проблем настолько очевидна, что консультация с широким активом способствует подготовки и реализации новых предложений. С другой стороны укрепление и развитие 
                структуры требуют от нас анализа позиций, занимаемых участниками в отношении поставленных задач. </p>
            <input type="button" class="custom-btn btn-purple" value="Посмотреть профиль">
        </div>
        <div class="girl">
            <img src="./assets/img/client-page/oval-girl.png" alt="" />
            <div class="slider-button">
                <div><div class="circle"></div></div>
                <div><div class="circle"></div></div>
                <div><div class="circle"></div></div>
                <div><div class="circle"></div></div>
            </div>
        </div>
    </div>
    <div class="choose-dog">
        <h3 class="">Выбираете своего первого питомца?</h3>
        <p class="">Узнайте подробнее, как все работает и что нужно ожидать</p>
    </div>
    <div class="choose-dog-pics">
        <div>
            <h3 class="">Готов ли я к собаке?</h3>
            <div class="dog"><img src="./assets/img/client-page/bitmap.png" alt="" /></div>
            <div class="heart"><img src="./assets/img/client-page/heart.png" alt="" /></div>
        </div>
        <div>
            <div class="white-dog">
                <h3>Как выбрать заводчика?</h3>
                <img src="./assets/img/client-page/white-dog.png" alt="" />
            </div>
            <div class="black-dog">
                <h3>Как выбрать породу?</h3>
                <img src="./assets/img/client-page/black-dog.png" alt="" />
            </div>
        </div>
    </div>
    <div class="info-button">
        <div>
            <input type="button" class="custom-btn" value="Перейти к базе знаний">
        </div>  
    </div>
    <div class="dogs-bottom">
        <div class="content">
            <h3>ВЫ ЗАВОДЧИК?</h3>
            <p>Присоединяйтесь к сообществу ответственных заводчиков и продавайте щенков через нашу платформу.</p>
            <input type="button" class="custom-btn btn-purple" value="УЗНАТЬ ПОДРОБНЕЕ">
        </div>
        <img src="./assets/img/client-page/dogs.png" alt="" />
    </div>
</div>
