<div class="page-wrapper">
    <div class="page-container">
        <img src="./assets/img/contact-us-img.jpg" alt="Связаться с нами" />

        <h2>СВЯЗАТЬСЯ С НАМИ</h2>

        <div class="text-block">
            <p>Если у вас есть предложения или комментарии по работе нашей платформы, пишите на почту help@petman.co.
                Petman всегда открыт к новым идеям и конструктивной критике, поэтому прислайте свои письма, и мы их
                обязательно прочитаем.</p>

            <p>Если вы хотите стать нашим партнером или сотрудничать на коммерческой основе, пишите на почту
                partner@petman.co</p>
        </div>
    </div>
</div>