h1{
    font-size: 60px;
    text-align: center;

    @media screen and (max-width: 769px) {
        font-size: 42px;
        margin-top: .75em;
    }
}

.page-container{
    width: 90%;
    max-width: 450px;
    margin: 2.5em auto 5em;

    @media screen and (max-width: 769px) {
        margin: 2em auto 4em;
    }

    img{
        width: 100%;
    }

    p{
        margin-top: 2.5em;
        font-size: 18px;
        font-family: 'Intro-Book' !important;
        text-align: center;

        @media screen and (max-width: 769px) {
            margin-top: 1.5em;
            font-size: 16px;
        }
    }
}

