

<div class="main">
    <h3 class="">Не стоит ограничиваться заводчиками из вашего города</h3>
    <div class="text">
        - Многие заводчики находятся совсем рядом, в нескольких часах езды на машине 
        <div class="number"> (100-200км)</div>
    </div>
    <div class="text">
        - Petman организует доставку  для этого достаточно написать нам в чат поддержки
        <div class="number"> (200-500 км)</div> для этого достаточно написать 
        <div class="chat"><a (click)="opneIntercom()" >нам в чат поддержки</a></div>
    </div>
    <div class="text"> - Для дальних расстояний есть авиаперевозки в специальном защищенном боксе
        <div class="number"> (500-3000км)</div>
    </div>
    <div class="text">
        Кроме этого, многие заводчики предлагают свою доставку разными способами на разные расстояния
    </div>
    <button (click)="closePopup()" class="do-you-know">Понятно</button>
</div>



