<div class="outer-conteiner outer-header" [ngClass]="{'scrolled': state}">
        <div class="container header" [ngClass]="{'non-border': state && !showMenu}">
            <div class="logo">
                <img src="./assets/img/logo.png" alt="PawMe логотип" [routerLink]="['/client-page']">
            </div>
            <app-menu [showMenu]="showMenu" [state]="state"></app-menu>
        </div>
    </div>
<!-- <hr> -->
<div class="wrapper">
    <main>
        <div class="block-shelters block-base">
            <div class="container">
                <h3 class="our-shelter">НАШИ ПРИЮТЫ</h3>
                <div class="content">
                    <div class="content-left">
                        <div class="top-left-content">
                            <div class="buttons">
                                <button class="dogs">
                                    <div class="dog-pic"><img src="./assets/img/shelters-search/filled.svg" />
                                    </div>
                                    <div class="dog-text">Щенки</div>
                                </button>
                                <button class="shelters-button">
                                    <div class="shelters-pic"><img src="./assets/img/shelters-search/Exclude.svg" /></div>
                                    <div class="shelters-text">Приюты</div>
                                </button>
                            </div>
                            <div class="dropdown-text-input">
                                <input type="text" class="form-control custom-form-control-border" placeholder="Все приюты">
                                <img src="./assets/img/arrow-down.svg" alt="Стрелка вниз"/>
                            </div>
                        </div>
                        <div class="dogs-content">
                        <!-- <div  class="dogs-content" *ngFor="let data of getSearchData | paginate: { itemsPerPage: 10, currentPage: p }; let i = index;" -->

                            <div class="dogs-info">
                                <div class="desktop-dogs-pic">
                                    <img src="./assets/img/shelters-search/Bitmap.svg" />
                                </div>
                                <div class="mobile-dogs-pic">
                                    <img src="./assets/img/shelters-search/BitmapMob.svg" />
                                </div>
                                <div class="bottom-dogs-info">
                                     <span class="dogs-name">Азирафель</span>
                                     <img src="./assets/img/shelters-search/Boy.svg" />
                                </div>
                                <div class="mount">10 месяцев<span class="age"> (возраст)</span></div>
                            </div>
                            <div class="dogs-info">
                                <div class="desktop-dogs-pic">
                                    <img src="./assets/img/shelters-search/Bitmap.svg" />
                                </div>
                                <div class="mobile-dogs-pic">
                                    <img src="./assets/img/shelters-search/BitmapMob.svg" />
                                </div>
                                <div class="bottom-dogs-info">
                                        <span class="dogs-name">Азирафель</span>
                                        <img src="./assets/img/shelters-search/Boy.svg" />
                                </div>
                                <div class="mount">10 месяцев<span class="age"> (возраст)</span></div>
                            </div>
                            <div class="dogs-info">
                                <div class="desktop-dogs-pic">
                                    <img src="./assets/img/shelters-search/Bitmap.svg" />
                                </div>
                                <div class="mobile-dogs-pic">
                                    <img src="./assets/img/shelters-search/BitmapMob.svg" />
                                </div>
                                <div class="bottom-dogs-info">
                                        <span class="dogs-name">Азирафель</span>
                                        <img src="./assets/img/shelters-search/Boy.svg" />
                                </div>
                                <div class="mount">10 месяцев<span class="age"> (возраст)</span></div>
                            </div>
                            <div class="dogs-info">
                                <div class="desktop-dogs-pic">
                                    <img src="./assets/img/shelters-search/Bitmap.svg" />
                                </div>
                                <div class="mobile-dogs-pic">
                                    <img src="./assets/img/shelters-search/BitmapMob.svg" />
                                </div>
                                <div class="bottom-dogs-info">
                                        <span class="dogs-name">Азирафель</span>
                                        <img src="./assets/img/shelters-search/Boy.svg" />
                                </div>
                                <div class="mount">10 месяцев<span class="age"> (возраст)</span></div>
                            </div>
                            <div class="dogs-info">
                                <div class="desktop-dogs-pic">
                                    <img src="./assets/img/shelters-search/Bitmap.svg" />
                                </div>
                                <div class="mobile-dogs-pic">
                                    <img src="./assets/img/shelters-search/BitmapMob.svg" />
                                </div>
                                <div class="bottom-dogs-info">
                                        <span class="dogs-name">Азирафель</span>
                                        <img src="./assets/img/shelters-search/Boy.svg" />
                                </div>
                                <div class="mount">10 месяцев<span class="age"> (возраст)</span></div>
                            </div>
                            <div class="dogs-info">
                                <div class="desktop-dogs-pic">
                                    <img src="./assets/img/shelters-search/Bitmap.svg" />
                                </div>
                                <div class="mobile-dogs-pic">
                                    <img src="./assets/img/shelters-search/BitmapMob.svg" />
                                </div>
                                <div class="bottom-dogs-info">
                                        <span class="dogs-name">Азирафель</span>
                                        <img src="./assets/img/shelters-search/Boy.svg" />
                                </div>
                                <div class="mount">10 месяцев<span class="age"> (возраст)</span></div>
                            </div>
                        </div>
                    </div>
                    <div class="content-right">
                        <div class="dropdown-text-input">
                            <input type="text" class="form-control custom-form-control-border" placeholder="Все города">
                            <img src="./assets/img/arrow-down.svg" alt="Стрелка вниз"/>
                        </div>
                        <div class="content-right-info">
                            <div class="age-filter">
                                <span class="age-text">Возраст</span> 
                                <div class="filter">
                                    <img src="./assets/img/shelters-search/0.svg" />
                                    <img src="./assets/img/shelters-search/Rectangle.svg" />
                                    <img src="./assets/img/shelters-search/10.svg" />
                                </div>
                                <div class="med">
                                    <img src="./assets/img/shelters-search/med.svg" />
                                </div>
                                <div class="filter-checkbox">
                                    <div class="custom-checkbox popup-form-check">
                                        <div> <img src="./assets/img/check-mark.png"/></div>
                                    </div>
                                    <div class="puppy">Щенок<span class="puppy-age"> (до года)</span> </div>
                                </div>      
                            </div>
                            <div class="gender">
                                <span class="age-text">Пол</span> 
                                <div class="gender-pic">
                                    <div class="boy active">
                                        <div class="boy-img">                                                   <img src="./assets/img/shelters-search/Boy.svg" />
                                        </div>
                                        <div class="boy-white-img">                                               <img src="./assets/img/shelters-search/white-boy.svg" />
                                        </div>
                                        <span class="">Мальчик</span>
                                    </div>
                                    <div class="girl">
                                        <img src="./assets/img/shelters-search/girl.svg" />
                                        <span class="">Девочка</span>
                                    </div>
                                    <div class="any">Любой</div>
                                </div>
                            </div>
                            <div class="dog-size">
                                <span class="age-text">Размер</span> 
                                <div class="size-pic">
                                    <div class="small-dog">
                                        <div class="size-border">
                                                <img src="./assets/img/shelters-search/small.svg" />
                                        </div>
                                        <div class="size-top">Маленький</div>
                                    </div>
                                    <div class="middle">
                                        <div class="size-border">
                                            <img src="./assets/img/shelters-search/middle.svg" />
                                        </div>
                                        <div class="size-top">Средний</div>    
                                    </div>
                                    <div class="big">
                                        <div class="size-border">
                                            <img src="./assets/img/shelters-search/big.svg" />
                                        </div>
                                        <div class="size-top">Большой</div>
                                    </div>
                                </div>
                            </div>
                            <div class="breed">
                                <!-- <span class="age-text">Порода</span> 
                                <div class="filter-checkbox">
                                    <div class="checkbox-oval custom-checkbox  popup-form-check">
                                        <div> <img src="./assets/img/check-mark.png"/></div>
                                    </div>
                                    <div class="puppy">Беспородная</div>
                                </div> -->
                                <!-- <div class="filter-checkbox">
                                    <div class="checkbox-oval custom-checkbox popup-form-check">
                                        <div></div>
                                    </div>
                                    <div class="puppy">Метис/Породистая </div>
                                </div> -->
                    
                                <!-- </div> -->
                                <div class="character">
                                        <span class="age-text">Порода</span>
                                        <div class="charater-button">
                                            <button class="custom-btn btn-purple actives">Беспородная</button>
                                            <button class="custom-btn btn-transparent puppy">Метис/Породистая</button>
                                        </div> 
                                    </div>
                                <div class="character">
                                    <span class="age-text">Характер</span>
                                    <div class="charater-button">
                                        <button class="custom-btn btn-purple actives">Активный</button>
                                        <button class="custom-btn btn-transparent calm">Спокойный</button>
                                    </div> 
                                    <button class="clear-filtr custom-btn btn-transparent">Сбросить фильтры</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <div class="pagenation">
                    <pagination-controls (pageChange)="p = $event; scrollTop(); updateParam();" previousLabel=" " nextLabel=" ">
                    </pagination-controls>
                </div> -->
            </div>
        </div>
    </main>
</div>
