<header class="header d-flex align-items-center justify-content-between">
    <a class="navbar-brand">
        <img src="./assets/img/logo.png" alt="PawMe логотип" width="150px;">
    </a>

    <button class="button lb-button d-flex align-items-center justify-content-center">
        <span>ЛВ</span>
    </button>
</header>

<div class="main-content">
    <div class="mail">
        <div class="mail-info">
            <div class="last-step d-flex flex-column">
                <div class="bold mb-16">Остался последний шаг!</div>

                <div>Мы отправили проверочное письмо на вашу почту mail@gmail.com.
                    Нажмите на ссылку в письме для подтверждения аккаунта</div>
            </div>


            <div class="line"></div>

            <div class="additional-info d-flex flex-column">
                <div class="mb-16">Не можете найти письмо от no-reply@takepet.ru? Внимательно проверьте все папки, включая "Спам"</div>

                <div>Если вы не получили письма в течение 5 минут, <br>
                    <a href="" class="repeat">отправьте</a> письмо повторно</div>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>
