.popup-wrapper{
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    position: fixed;
    background-color: rgba(14, 11, 77, 0.5);
    padding: 0 15vw;
    z-index: 999;

    & > div{
        position: relative;
        margin: 0 auto;
        top: 10vh;
        text-align: center;
        background: #fff;
        border-radius: 5px;
        border: 1px solid #e6e8f5;
        padding: 1em 0;

        & > img{
            float: right;
            width: 16px;
            cursor: pointer;
            position: absolute;
            top: 25px;
            right: 20px;
        }
    }
}

@media screen and (max-width: 769px){

    .popup-wrapper{
        padding: 0 5vw;

        & > div{
            top: 5vh !important;
        }
    }

    .popup-from-group{
        width: 80%;
    }
}