<div class="main-content">
    <div class="mail">
        <div class="mail-info">
            <div class="last-step d-flex flex-column">
                <div class="bold mb-16">Остался последний шаг!</div>

                <div>Мы отправили проверочное письмо на вашу почту {{mail}}.
                    Нажмите на ссылку в письме для подтверждения аккаунта</div>
            </div>


            <div class="line"></div>

            <div class="additional-info d-flex flex-column">
                <div class="mb-16">Не можете найти письмо от no-reply@petman.co? Внимательно проверьте все папки, включая "Спам"</div>

                <div>Если вы не получили письма в течение 5 минут, <br>
                    <a class="repeat" (click)="confirmEmailAgain()">отправьте</a> письмо повторно</div>
            </div>
        </div>
    </div>
</div>
