<div class="wrapper">
    <main>
        <div  class="block-detail">
            <div class="container">
               <div class="text-block">
                   <h3 class="">Сообщения</h3>
                   <div class="buttons">
                        <button class="all">Все</button>
                        <button class="unread">Непрочитанные 2</button>
                   </div>
               </div>
               <div class="chat-content">
                   <div class="left">sssss</div>
                   <div class="right">aaaaa</div>
               </div>
            </div>
        </div>
       
    </main>
</div>