<div class="wrapper">
    <main>
        <div class="block-detail">
            <div class="container ">
                <div class="text-block">
                    <h3 class="">Сообщения</h3>
                    <div *ngIf="rooms && rooms.length && meData.type !== 'ADMIN'" class="buttons desktop-button">
                        <button (click)="selectedTab = 'all'" [ngClass]="{'active': selectedTab === 'all'}"
                            class="all tab">Все</button>
                        <button (click)="selectedTab = 'unread'" [ngClass]="{'active': selectedTab === 'unread'}"
                            class="unread tab">
                            <div class="unread-text">Непрочитанные</div>
                            <div *ngIf="allUnreadCount" class="count count-mob">{{allUnreadCount}}</div>
                        </button>
                    </div>
                    <div *ngIf="rooms && rooms.length && meData.type === 'ADMIN'" class="buttons desktop-button">
                        <button (click)="selectedTabAdmin = 'only_flags'"
                            [ngClass]="{'active': selectedTabAdmin === 'only_flags'}" class="all tab admin">
                            <div>
                                Только с флагами
                            </div>
                            <div *ngIf="allFlagsCount" class="count count-mob">{{allFlagsCount}}</div>
                        </button>
                        <button style="width: 150px;" (click)="selectedTabAdmin = 'active'"
                            [ngClass]="{'active': selectedTabAdmin === 'active'}" class="default tab">
                            <div class="unread-text">Все активные</div>
                        </button>
                        <button style="width: 180px;" (click)="selectedTabAdmin = 'inactive'"
                            [ngClass]="{'active': selectedTabAdmin === 'inactive'}" class="unread tab">
                            <div class="unread-text">Все неактивные</div>
                        </button>
                    </div>
                </div>
                <div *ngIf="rooms && rooms.length && meData.type !== 'ADMIN'" [ngClass]="{'show': showChatsListMobile}"
                    class="mobile-button">
                    <button (click)="selectedTab = 'all'; showChatsListMobile = true;"
                        [ngClass]="{'active': selectedTab === 'all'}">
                        Все
                    </button>
                    <button (click)="selectedTab = 'unread'; showChatsListMobile = true;"
                        [ngClass]="{'active': selectedTab === 'unread'}">
                        <div class="unread-text">Непрочитанные</div>
                        <div *ngIf="allUnreadCount" class="count-mob">{{allUnreadCount}}</div>
                    </button>
                </div>
                <div *ngIf="rooms && rooms.length && meData.type === 'ADMIN'" [ngClass]="{'show': showChatsListMobile}"
                    class="mobile-button">
                    <button (click)="selectedTabAdmin = 'only_flags'; showChatsListMobile = true;"
                        [ngClass]="{'active': selectedTabAdmin === 'only_flags'}">
                        Только с флагами
                        <div *ngIf="allFlagsCount" class="count-mob">{{allFlagsCount}}</div>
                    </button>
                    <button (click)="selectedTabAdmin = 'active'; showChatsListMobile = true;"
                        [ngClass]="{'active': selectedTabAdmin === 'active'}">
                        <div class="unread-text">Все активные</div>
                    </button>
                    <button (click)="selectedTabAdmin = 'inactive'; showChatsListMobile = true;"
                        [ngClass]="{'active': selectedTabAdmin === 'inactive'}">
                        <div class="unread-text">Все неактивные</div>
                    </button>
                </div>
                <div class="chat-content">
                    <!-- <div class="left deckto"> -->
                    <div class="left desktop" [ngClass]="{'show': showChatsListMobile}">
                        <ng-container *ngIf="rooms && rooms.length; else emptyChat">
                            <div *ngFor="let room of rooms | chatRooms: selectedTab: selectedTabAdmin">
                                <ng-container *ngFor="let item of room.users">
                                    <div *ngIf="(meData.type !== 'ADMIN' && item.id !== meData.id) || (meData.type === 'ADMIN' && item.avatar)"
                                        (click)="selectRoom(room)" [ngClass]="{'active': this.selectedRoom === room}"
                                        class="chat-info">
                                        <div class="name">
                                            <div class="name-info-wrap"
                                                [ngStyle]="{'max-width': (meData.type === 'ADMIN' && room.summonAdmin) ? 'calc(100% - 90px)': 'calc(100% - 34px)'}">
                                                <p class="name-info" [title]="item.name">
                                                    {{item.name}}
                                                </p>
                                                <span *ngIf="meData.type === 'ADMIN'">, id:{{item.id}}</span>
                                            </div>
                                            <div *ngIf="room.unreadCount && meData.type !== 'ADMIN'" class="count">
                                                {{room.unreadCount}}
                                            </div>
                                            <div *ngIf="meData.type === 'ADMIN' && room.summonAdmin">
                                                <button (click)="unSupport(room)" class="problem-confirm">
                                                    Проблема решена
                                                </button>
                                            </div>
                                        </div>
                                        <!-- *ngIf="room.messages"  -->
                                        <p [ngStyle]="{'max-width': (meData.type === 'ADMIN' && room.summonAdmin) ? 'calc(100% - 90px)': 'calc(100% - 34px)'}"
                                            class="message">{{room?.messages[0].body}}</p>
                                    </div>
                                </ng-container>
                            </div>
                        </ng-container>
                        <ng-template #emptyChat>
                            <div class="empty-chat">
                                У Вас нет открытых комнат
                            </div>
                        </ng-template>

                        <!-- <div class="chat-info">
                            <div class="name">
                                <p class="name-info">Иван Гончаров</p>
                                <div class="count">2</div>
                            </div>
                            <p class="message">Добрый день, как у вас…</p>
                        </div>
                        <div class="chat-info">
                            <div class="name">
                                <p class="name-info">Петя Иванов</p>
                                <div class="count">1</div>
                            </div>
                            <p class="message">Добрый день, как у вас…</p>
                        </div> -->
                    </div>
                    <!-- <div class="right desktop-version"> -->
                    <div class="right" [ngClass]="{'show': !showChatsListMobile}">

                        <ng-container>
                            <div class="mobile-user-name align-items-center" (click)="showChatsListMobile = true">
                                <div class="back"><img src="./assets/img/arrow_back.svg" alt=""></div>
                                <span class="user-name" *ngIf="selectedRoom && selectedRoom.users">
                                    <ng-container *ngFor="let item of selectedRoom.users">
                                        <ng-container
                                            *ngIf="item.id !== meData.id && !(meData.type === 'ADMIN' && !item.avatar)">
                                            <div class="d-flex align-items-center">
                                                <div class="user-icon" *ngIf="item.avatar">
                                                    <img src="/img/{{item.avatar}}.jpg" alt="">
                                                </div>
                                                <span>
                                                    {{item.name}}
                                                </span>
                                            </div>
                                        </ng-container>
                                    </ng-container>
                                </span>
                            </div>
                            <div class="right-chat-content" #chatWrap (scroll)="scrollTop()">
                                <ng-container *ngIf="rooms && rooms.length;">
                                    <div class="center-text" style="padding: 0 10px; max-width: 620px; margin: auto;">
                                        <img src="./assets/img/chat-lapa.svg" alt="">
                                        <span [ngSwitch]="meData.type">
                                            <p *ngSwitchCase="'CUSTOMER'">
                                                Вы начали чат с “
                                                <ng-container *ngFor="let item of selectedRoom.users">
                                                    <ng-container *ngIf="item.id !== meData.id">
                                                        <span>{{item.name}}</span>
                                                    </ng-container>
                                                </ng-container>
                                                ”. Напишите кратко о себе и задайте сразу все интересующие вас вопросы.
                                                Заводчик ответит на них, как только зайдет в чат.
                                            </p>
                                            <p *ngSwitchCase="'BREEDER'">
                                                <ng-container *ngFor="let item of selectedRoom.users">
                                                    <ng-container *ngIf="item.id !== meData.id">
                                                        <span>{{item.name}}</span>
                                                    </ng-container>
                                                </ng-container> начал с вами чат. Не забудьте уточнить, подходит ли
                                                покупатель под
                                                ваши требования и в каком городе он живет.
                                            </p>

                                        </span>

                                        <div class="line"></div>
                                    </div>
                                    <!-- <div class="main-chat">
                                        <div class="text">
                                            Привет, все популярные вопросы собраны в моем FAQ.
                                            У меня следующие требования к покупателям:
                                            1. Не бузить
                                            2. Любить моих собак иначе откушу причинное место
                                            3. Все собаки попадают в рай, и я тоже
                                            4. Вы мне деньги – я вам лучшего друга на всю жизнь
                                        </div>
                                        <div class="">
                                            <img src="./assets/img/girl1.png" alt="">
                                        </div>
                                    </div>
                                    <p class="main-time time-left-chat">22:22</p> -->


                                    <ng-container *ngFor="let message of history?.messages">
                                        <div
                                            [ngClass]="{'left-chat': message.senderId === meData.id || (message.type === 'admin' && meData.type === 'ADMIN'), 'right-chat': message.senderId !== meData.id && !(message.type === 'admin' && meData.type === 'ADMIN')}">
                                            <div class="massage-counter">

                                                <a *ngIf="listUser[message.senderId] && listUser[message.senderId].avatar"
                                                    [routerLink]="[ '/breeder/' + message.senderId ]">
                                                    <img class="icon-img"
                                                        [src]="'/img/' + listUser[message.senderId].avatar + '.jpg'"
                                                        alt="">
                                                </a>
                                                <div *ngIf="listUser[message.senderId] && !listUser[message.senderId].avatar"
                                                    class="icon-name">
                                                    {{listUser[message.senderId].name.slice(0, 2)}}
                                                </div>
                                                <div *ngIf="message.type === 'admin'" class="icon-name"
                                                    style="background: white;">
                                                    <img src="assets/img/admin_avatar.svg" alt="">
                                                </div>
                                            </div>
                                            <div class="text">{{message.body}}</div>
                                        </div>
                                        <p
                                            [ngClass]="{'time-left-chat': message.senderId === meData.id || (message.type === 'admin' && meData.type === 'ADMIN'), 'time-right-chat': message.senderId !== meData.id && !(message.type === 'admin' && meData.type === 'ADMIN')}">
                                            <span *ngIf="message.read && message.senderId === meData.id" style="display: inline-flex;">
                                                <img src="assets/img/tick_pet.svg" alt="">
                                            </span>
                                            <span *ngIf="message.senderId === meData.id" style="display: inline-flex;">
                                                <img src="assets/img/tick_pet.svg" alt="">
                                            </span>
                                            {{message.timestamp | messageTime}}
                                        </p>
                                    </ng-container>

                                    <!-- <ng-container>
                                        <div class="left-chat">
                                            <div class="">
                                                <img src="./assets/img/girl1.png" alt="">
                                            </div>
                                            <div class="text">
                                                Привет, все популярные вопросы собраны в моем FAQ.
                                                У меня следующие требования к покупателям:
                                            </div>
                                        </div>
                                        <p class="time-left-chat bottom-chat">22:22</p>
                                    </ng-container> -->
                                </ng-container>
                                <ng-container *ngIf="!rooms || !rooms.length;">
                                    <div class="empty-chat" style="padding-top: 74px; flex-flow: column;">
                                        <ng-container *ngIf="meData.type !== 'BREEDER'">
                                            <div>
                                                Вы можете начать переписку с любым из заводчиков
                                            </div>
                                            <div>
                                                <a [routerLink]="[ '/search-page' ]">Топ заводчиков</a>
                                            </div>
                                        </ng-container>
                                        <ng-container *ngIf="meData.type === 'BREEDER'">
                                            <div style="text-align: center; max-width: 500px;">
                                                Заинтересованные покупатели напишут вам в этот чат. Не забывайте
                                                регулярно проверять свой личный кабинет!
                                            </div>
                                        </ng-container>
                                    </div>
                                </ng-container>
                            </div>
                            <div *ngIf="rooms && rooms.length;" class="write-message">
                                <div class="textarea-wrap">
                                    {{message}}
                                    <textarea [(ngModel)]="message" (keydown.enter)="sendMessage()" type="text"
                                        placeholder="Напишите сообщение…"></textarea>
                                </div>
                                <!-- <input [(ngModel)]="message" type="text" placeholder="Напишите сообщение…"> -->
                                <button class="custom-btn btn-purple" (click)="sendMessage()">Отправить</button>
                                <div class="send" (click)="sendMessage()">
                                    <img src="./assets/img/send.svg" alt="">
                                </div>
                            </div>

                        </ng-container>

                    </div>
                </div>
                <div *ngIf="meData.type !== 'ADMIN'" class="invite-admin" [ngClass]="{'show': !showChatsListMobile}">
                    <div class="comment">Нужна помощь?</div>
                    <button [ngClass]="{'disable': !canInviteSuppotr}" (click)="inviteSupport()">
                        <img src="assets/img/paw-in-signup-btn.png" alt="">
                        Пригласить Petman в чат
                    </button>
                </div>
            </div>
        </div>
    </main>
</div>