<hr>
<div class="wrapper">
    <main>
        <div class="block-detail">
            <div class="container ">
               <div class="text-block">
                   <h3 class="">Сообщения</h3>
                   <div class="buttons desktop-button">
                        <button class="all">Все</button>
                        <button class="unread">
                            <div class="unread-text">Непрочитанные</div>
                            <div class="count count-mob">2</div>
                        </button>
                   </div>
               </div>
               <div class="buttons mobile-button">
                    <button class="all">Все</button>
                    <button class="unread">
                        <div class="unread-text">Непрочитанные</div>
                        <div class="count count-mob">2</div>
                    </button>
               </div>
                <div class="chat-content">
                   <!-- <div class="left deckto"> -->
                    <div class="left desktop">
                       <div class="chat-info">
                        <div class="name">
                            <p class="name-info">Иван Гончаров</p>
                            <div class="count">2</div>
                        </div>
                        <p class="message">Добрый день, как у вас…</p>
                       </div>
                       <div class="chat-info">
                            <div class="name">
                                <p class="name-info">Петя Иванов</p>
                                <!-- <div class="count"></div> -->
                            </div>
                            <p class="message">Добрый день, как у вас…</p>
                           </div>
                   </div>
                   <!-- <div class="right desktop-version"> -->
                    <div class="right">
                       <div class="right-chat-content">
                            <div class="center-text">
                                <img src="./assets/img/chat-lapa.svg" alt="">
                                <p class="">
                                    Вы начали чат с “Сладкие мопсы”. Если в процессе у вас возникнут проблемы или понадобится помощь, напишите в чат @petman и мы поможем. 
                                </p>
                                <div class="line"></div>
                            </div>
                            <div class="main-chat">
                                <div class="text">
                                    Привет, все популярные вопросы собраны в моем FAQ. 
                                    У меня следующие требования к покупателям:
                                    1. Не бузить
                                    2. Любить моих собак иначе откушу причинное место
                                    3. Все собаки попадают в рай, и я тоже
                                    4. Вы мне деньги – я вам лучшего друга на всю жизнь
                                </div>
                                <div class="">
                                    <img src="./assets/img/girl1.png" alt="">
                                </div> 
                            </div>
                            <p class="main-time time-left-chat">22:22</p>
                            <div class="mobile-user-name">
                                <div class="back"><img src="./assets/img/arrow_back.svg" alt=""></div>
                                <div class="user-name">Иван Гончаров</div>
                            </div>
                            <div class="right-chat">
                                <div class="">
                                    <img src="./assets/img/girl2.png" alt="">
                                </div>
                                <div class="text">У меня к вас вопросу по поводу породы. Скажите, что с ней?</div>
                            </div>
                            <p class="time-right-chat">22:22</p>
                            <div class="left-chat">
                                <div class="text">
                                    Привет, все популярные вопросы собраны в моем FAQ. 
                                    У меня следующие требования к покупателям:
                                </div>
                                <div class="">
                                    <img src="./assets/img/girl1.png" alt="">
                                </div> 
                            </div>
                            <p class="time-left-chat bottom-chat">22:22</p>
                       </div>
                       <div class="write-message">
                           <input type="text" placeholder="Напишите сообщение…">
                           <button class="custom-btn btn-purple">Отправить</button>
                           <div class="send">
                              <img src="./assets/img/send.svg" alt="">
                           </div>
                        </div>
                   </div>
               </div>
            </div>
        </div>
    </main>
</div>