.desktop-version {
  display: block;
}

button:focus {
  outline: 0;
}

.container {
  width: 100%;
  max-width: 1200px;
  min-width: 320px;
  margin: 0 auto;
  padding: 0 15px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Intro-Book' !important;
}

.block-detail {
  padding: 50px 0 12px;
  background: #FFFFFF;
}

.text-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.text-block h3 {
  font-size: 28px;
}

.chat-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 26px;
}

.left {
  width: 30%;
  height: 541px;
  border-radius: 4px;
  border: solid 1px #cbd8f6;
  background-color: #ffffff;
  overflow-y: scroll;
}

.buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.right {
  width: 90%;
  border-radius: 4px;
  border: solid 1px #cbd8f6;
  background-color: #ffffff;
  margin-left: 30px;
}

.right-chat-content {
  height: 471px;
  overflow-y: scroll;
}

.all {
  width: 100px;
  height: 50px;
  border-radius: 25px;
  border: solid 1px #cbd8f6;
  background-color: #645fc9;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  color: #ffffff;
  opacity: 0.9;
  font-family: "Intro-Regular";
  font-size: 18px;
}

.unread {
  width: 300px;
  height: 50px;
  border-radius: 25px;
  border: solid 1px #cbd8f6;
  background-color: #ffffff;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  color: #0e0b4d;
  font-size: 18px;
  font-family: "Intro-Book";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.unread .unread-text {
  opacity: 0.5;
}

.count {
  background: #4dbebb;
  color: #ffffff;
  font-family: "Intro-Regular";
  font-size: 15px;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  margin-top: 3px;
  margin-left: 4px;
  text-align: center;
}

.center-text {
  text-align: center;
}

.center-text p {
  font-size: 14px !important;
  color: #0e0b4d;
  width: 870px;
  margin-top: 16px;
}

.center-text img {
  margin-top: 32px;
}

.line {
  height: 1px;
  width: 200px;
  background: #cbd8f6;
  margin: 0 auto;
  margin-top: 16px;
  margin-bottom: 16px;
}

.main-chat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-right: 32px;
}

.main-chat .text {
  background: #c9ebea;
  width: 538px;
  border-radius: 30px;
  border-bottom-right-radius: 0;
  font-size: 14px;
  background: #eff3fc;
  color: #0e0b4d;
  font-family: "Intro-Book";
  padding: 15px;
}

.main-chat div {
  margin-left: 16px;
}

.left-chat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-right: 32px;
}

.left-chat .text {
  width: 538px;
  border-radius: 30px;
  border-bottom-right-radius: 0;
  font-size: 14px;
  background: #c9ebea;
  color: #0e0b4d;
  font-family: "Intro-Book";
  padding: 15px;
}

.left-chat div {
  margin-left: 16px;
}

.bottom-chat {
  margin-bottom: 30px;
}

.right-chat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 32px;
  margin-top: 28px;
}

.right-chat .text {
  width: 454px;
  border-radius: 30px;
  border-bottom-left-radius: 0;
  background-color: #cbd8f6;
  font-family: "Intro-Book";
  margin-left: 16px;
  font-size: 14px;
  color: #0e0b4d;
  padding: 15px;
  margin-top: 8px;
}

.write-message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 14px;
  height: 70px;
  border-top: solid 1px #cbd8f6;
  background-color: #ffffff;
  font-size: 14px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.write-message input {
  border: none;
  background: none;
  color: #0e0b4d;
  font-family: "Intro-Book";
  opacity: 0.5;
  width: 100%;
}

.send {
  display: none;
}

.custom-btn {
  padding: 10px 40px;
}

textarea:focus, input:focus {
  outline: none;
}

.time-left-chat {
  font-size: 14px;
  text-align: right;
  margin-right: 109px;
  margin-top: 2px;
  opacity: 0.5;
}

.time-right-chat {
  font-size: 14px;
  margin-left: 107px;
  margin-top: 2px;
  opacity: 0.5;
}

.chat-info {
  border-bottom: solid 1px #cbd8f6;
  background-color: #ffffff;
  padding-top: 20px;
  padding-left: 30px;
  padding-right: 23px;
}

.chat-info:hover {
  background: #e0def3;
  cursor: pointer;
}

.name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.name-info {
  font-size: 18px;
  color: #0d074e;
  font-family: "Intro-Regular";
}

.message {
  font-size: 16px;
  color: #0d074e;
  margin-top: -12px;
}

.mobile-user-name {
  display: none;
}

@media screen and (max-width: 769px) {
  .block-detail {
    background: #f8f9fb;
  }
  .desktop-version {
    display: none;
  }
  .left {
    width: 100%;
    background: #ffffff;
  }
  .text-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .text-block h3 {
    font-size: 20px;
  }
  .all {
    width: 0;
    height: 0;
    border: none;
    background-color: #f8f9fb;
    color: #0e0b4d;
    font-size: 16px;
    margin-left: -4px;
  }
  .unread {
    width: 210px;
    height: 0;
    background-color: #f8f9fb;
    border: none;
    color: #0e0b4d;
    font-size: 16px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .unread .unread-text {
    opacity: 0.5;
  }
  .unread .count-mob {
    font-size: 11.3px;
    width: 13px;
    height: 13px;
    margin-top: 5px !important;
  }
  .chat-info {
    background-color: #ffffff;
    padding-left: 20px;
  }
  .name-info {
    font-size: 14px;
  }
  .message {
    font-size: 13px;
  }
  .right {
    width: 100%;
    margin-left: 0;
    border-radius: 10px;
  }
  .center-text {
    display: none;
  }
  .main-chat {
    display: none;
  }
  .main-time {
    display: none;
  }
  .time-left-chat {
    font-size: 12px;
    margin-right: 32px;
  }
  .time-right-chat {
    font-size: 12px;
    margin-left: 32px;
  }
  .left-chat {
    padding-right: 14px;
    padding-left: 14px;
  }
  .left-chat .text {
    font-size: 13px;
  }
  .left-chat img {
    display: none;
  }
  .right-chat {
    padding-left: 14px;
    padding-right: 14px;
    margin-top: 12px;
  }
  .right-chat .text {
    font-size: 13px;
  }
  .right-chat img {
    display: none;
  }
  .write-message {
    height: 39px;
    border-radius: 10px;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
  }
  .write-message input {
    font-size: 13px;
  }
  .write-message button {
    display: none;
  }
  .send {
    display: block;
    margin-top: -8px;
    margin-right: 10px;
  }
  .mobile-user-name {
    display: block;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    height: 40px;
    border-bottom: solid 1px #cbd8f6;
    margin-top: 20px;
    padding-left: 20px;
  }
  .mobile-user-name .user-name {
    font-family: "Intro-Regular";
    font-size: 14px;
    color: #0e0b4d;
    margin-left: 8px;
  }
}
/*# sourceMappingURL=chat.component.css.map */