<h3>ВВЕДИТЕ НОВЫЙ ПАРОЛЬ</h3>

<p>Укажите свой Email, и мы вышлем вам ссылку для изменения пароля</p>

<div *ngIf="matchError || respError" class="change-error-message-block">
    <span *ngIf="matchError" class="invalid-field-message">Пароли не совпадают, попробуйте еще раз</span>
    <span *ngIf="respError" class="invalid-field-message">Произошла ошибка, попробуйте еще раз</span>
</div>

<form>
    <div class="form-group popup-form-group">
        <label for="new-password">Новый пароль</label>
        <input type="password" class="form-control custom-form-control-border" name="new-password" [(ngModel)]="newPassword">
    </div>

    <div class="form-group popup-form-group">
        <label for="repeat-password">Повторите пароль</label>
        <input type="password" class="form-control custom-form-control-border" name="repeat-password" [(ngModel)]="repeatPassword">
    </div>

    <input type="button" class="custom-btn btn-purple popup-form-button" style="margin-top: 30px;" value="Изменить пароль" (click)="changePassword()" />
</form>
