<div *ngIf="isMainPage" class="breeder-profile-subpage-container">

    <div class="page-header page-header-with-desc">
        <h3>Наши собаки</h3>
        <p>Добавьте минимум одного родителя (суку или кобеля), чтобы вы могли добавлять своих щенков.</p>
    </div>

    <div class="dog-entity-list-block">
        <div *ngIf="parentsData.parents.length == 0" class="add-dog-entity-item" (click)="showCurrentParentPage(-1)"
            [class.invalid-form-field-value]="profileService.invalidFields.includes('parents')">
            <div>
                <img src="./assets/img/thin-plus.png" alt="Добавить родителя" width="30px" />
                <br>
                <label>Добавить родителя</label>
            </div>
        </div>

        <div *ngFor="let parent of parentsData.parents;let i = index;" class="avail-dog-entity-item"
            (click)="showCurrentParentPage(i)">
            <div class="entity-image-block">
                <img src='/img/{{parent.gallery[0].preview}}.jpg' alt="Изображение родителя" />
            </div>

            <div class="entity-info-block">
                <div>
                    <span>{{parent.nickname}}</span>
                    <span>{{parent.breed.name}}</span>
                </div>
                <img src="./assets/img/sex_{{parent.gender == 'MALE' ? 'male' : 'female'}}.png" alt="Пол родителя" />

            </div>
            <div class="delete-dog-entity-button btn-transparent" (click)="deleteParent(i)">
                Удалить родителя&nbsp;&nbsp;&nbsp;X
            </div>
        </div>

        <div class="add-dog-entity-item" (click)="showCurrentParentPage(-1)"
            [class.invalid-form-field-value]="profileService.invalidFields.includes('parents')">
            <div>
                <img src="./assets/img/thin-plus.png" alt="Добавить родителя" width="30px" />
                <br>
                <label>Добавить родителя</label>
            </div>
        </div>
    </div>

    <hr>

    <div class="parents-medicals-block">
        <label>Медицинские тесты на родителях</label>
        <br>
        <span class="block-description">Все медицинские тесты разбиты по категориям. Если ваш тест не подходит ни к
            одной
            из них, выберите категорию “Другое”. В каждой категории мы предлагаем ряд стандартных тестов, но вы всегда
            можете
            написать свой.
        </span>

        <div class="btn-label-list">
            <div *ngFor="let test of parentsData.parentTests;let i = index;" class="btn-label"
                (click)="deleteMedical(i)">
                <div class="btn-label-text">{{test.name}}</div>
                <div>&nbsp;&nbsp;X</div>
            </div>
        </div>

        <div class="breeder-profile-subpage-form-left body-part-dropdown">
            <div class="dropdown-text-input">
                <input type="text" class="form-control custom-form-control-border" [(ngModel)]="currentBodyPart"
                    (input)="currentMedicalTest = ''"
                    [ngbTypeahead]="appService.fieldAutocomplete(testsCategories, bodyPartFocus$, bodyPartClick$, bodyPartInstance)"
                    id="body-part" (focus)="bodyPartFocus$.next($event.target.value)" (click)="onBodyPartClick($event)"
                    (change)="profileService.inputValueChanged('bodyParts');" #bodyPartInstance="ngbTypeahead"
                    [class.invalid-form-field-value]="profileService.invalidFields.includes('bodyParts')"
                    placeholder="Часть тела" (ngModelChange)="updateLocalData(); profileService.inputValueChanged('bodyParts');">
                <img src="./assets/img/arrow-down.svg" alt="Стрелка вниз"
                    (click)="appService.toggleDropdownTextInput('body-part', $event)" />
            </div>
            <div *ngIf="profileService.invalidFields.includes('bodyParts')" class="error-field-message"
                style="position: absolute;">
                Выберите один из предложенных вариантов
            </div>
        </div>

        <div class="breeder-profile-subpage-form-right test-dropdown">
            <div class="dropdown-text-input">
                <ng-container *ngFor="let cat of testsCategories">
                    <input *ngIf="currentBodyPart == cat" type="text" class="form-control custom-form-control-border"
                        [(ngModel)]="currentMedicalTest"
                        [ngbTypeahead]="appService.fieldAutocomplete(parentTests[cat], medicalTestFocus$, medicalTestClick$, medicalTestInstance)"
                        (focus)="medicalTestFocus$.next($event.target.value)" (click)="onTestsClick($event)"
                        (change)="profileService.inputValueChanged('tests');"
                        [class.invalid-form-field-value]="profileService.invalidFields.includes('tests')"
                        id="parent-test" #medicalTestInstance="ngbTypeahead" placeholder="Название теста"
                        (ngModelChange)="updateLocalData();">
                    <img src="./assets/img/arrow-down.svg" alt="Стрелка вниз"
                        (click)="appService.toggleDropdownTextInput('parent-test', $event)" />
                </ng-container>

                <input *ngIf="!testsCategories.includes(currentBodyPart)" type="text"
                    class="form-control custom-form-control-border" id="parent-test" [(ngModel)]="currentMedicalTest"
                    [ngbTypeahead]="appService.fieldAutocomplete([], medicalTestFocus$, medicalTestClick$, medicalTestInstance)"
                    (focus)="medicalTestFocus$.next($event.target.value)" (click)="onTestsClick($event)"
                    (change)="profileService.inputValueChanged('tests');" #medicalTestInstance="ngbTypeahead"
                    [class.invalid-form-field-value]="profileService.invalidFields.includes('tests')"
                    placeholder="Название теста" (ngModelChange)="updateLocalData(); profileService.inputValueChanged('tests');">
                <img src="./assets/img/arrow-down.svg" alt="Стрелка вниз" />
            </div>
            <div *ngIf="profileService.invalidFields.includes('tests')" class="error-field-message"
                style="position: absolute;">
                Это поле обязательно к заполнению
            </div>
        </div>

        <div class="add-test-button-block">
            <input type="button" class="custom-btn btn-transparent" style="margin: unset;width:220px;"
                value="+ Добавить тест" (click)="addMedical()" />
        </div>
    </div>

    <div class="lower-btn">
        <span *ngIf="profileService.invalidFields.length > 0" class="invalid-field-message"
            style="display: block; margin-bottom: 1em;">
            Пожалуйста, заполните или исправьте поля, выделенные красным
        </span>
    </div>

</div>

<div *ngIf="!isMainPage" class="breeder-profile-subpage-container">

    <div class="get-back-block" (click)="backToMainPage()">
        <span>
            <img src="./assets/img/arrow-left.svg">&nbsp;&nbsp;&nbsp;НАЗАД</span>
    </div>

    <div class="upper-btn add-entity-page-upper-btn-desktop">
        <input type="button" class="custom-btn btn-transparent" value="Сохранить черновик" (click)="saveDraft()" />
    </div>

    <div class="page-header adding-entity-page-header">
        <h3>{{currentParentData.id ? 'Изменить' : 'Добавить'}} родителя</h3>
    </div>

    <div class="upper-btn add-entity-page-upper-btn-mobile">
        <input type="button" class="custom-btn btn-transparent" value="Сохранить черновик" (click)="saveDraft()" />
    </div>

    <div class="breeder-profile-subpage-form-left add-puppy-page-name-block">
        <div class="dog-name-block">
            <label for="parent-name">Кличка родителя<span class="red-star">*</span></label>
            <br>
            <span class="textarea-length-counter"
                [style.color]="appService.getTextareaLimit(currentParentData.nickname, 40) > 0 ? '#46b0ad' : '#eb0000'">
                {{appService.getTextareaLimit(currentParentData.nickname, 40)}}
            </span>
            <input type="text" class="form-control custom-form-control-border" name="parent-name"
                [class.invalid-form-field-value]="isFocused['name'] && errors && errors.includes('name') || (customeValidator && errors && errors.includes('name'))"
                [(ngModel)]="currentParentData.nickname"
                (change)="profileService.inputValueChanged('name'); updateLocalData(); focusCheck('name')" placeholder="Кличка" />
            <div *ngIf="isFocused['name'] && errors && errors.includes('name') || (customeValidator && errors && errors.includes('name'))" class="error-field-message">
                Это поле обязательно к заполнению
            </div>
        </div>

        <div class="dog-sex-block">
            <label for="parent-sex">Пол</label><span class="red-star">*</span>
            <br>
            <button class="form-control custom-form-control-border"
                (click)="currentParentData.gender = currentParentData.gender == 'MALE' ? 'FEMALE' : 'MALE'; updateLocalData()">
                <img height="17px" src="./assets/img/sex_{{currentParentData.gender == 'MALE' ? 'male' : 'female'}}.png"
                    alt="Пол родителя" />
            </button>
        </div>
    </div>

    <div class="breeder-profile-subpage-form-right">
        <label for="parent-breed">Порода</label><span class="red-star">*</span>
        <br>
        <div class="dropdown-text-input">
            <input *ngIf="appService.breeds" type="text" class="form-control custom-form-control-border"
                name="parent-breed" [(ngModel)]="currentBreed"
                [class.invalid-form-field-value]="isFocused['breed'] && errors && errors.includes('breed') || (customeValidator && errors && errors.includes('breed'))" id="breed"
                [ngbTypeahead]="appService.fieldAutocomplete(appService.breeds, parentBreedFocus$, parentBreedClick$, parentBreedInstance)"
                (focus)="parentBreedFocus$.next($event.target.value)"
                (click)="parentBreedClick$.next($event.target.value)"
                (change)="profileService.inputValueChanged('breed')" (ngModelChange)="updateLocalData(); focusCheck('breed')"
                #parentBreedInstance="ngbTypeahead" placeholder="Выбрать" aria-describedby="basic-addon2">
            <img src="./assets/img/arrow-down.svg" alt="Стрелка вниз"
                (click)="appService.toggleDropdownTextInput('breed', $event)" />
        </div>
        <div *ngIf="isFocused['breed'] && errors && errors.includes('breed') || (customeValidator && errors && errors.includes('breed'))" class="error-field-message">
            Выберите один из предложенных вариантов
        </div>

    </div>

    <div class="add-parent-page-info-block">
        <label for="parent-info">Расскажите об этом родителе</label><span class="red-star">*</span>
        <br>
        <span class="block-description">Опишите достижения, отличительные особенности</span>
        <span class="textarea-length-counter"
            [style.color]="appService.getTextareaLimit(currentParentData.info, 1024) > 0 ? '#46b0ad' : '#eb0000'">
            {{appService.getTextareaLimit(currentParentData.info, 1024)}}
        </span>
        <textarea rows="3" class="form-control custom-form-control-border" [(ngModel)]="currentParentData.info"
            (change)="profileService.inputValueChanged('info'); updateLocalData(); focusCheck('info')"
            [class.invalid-form-field-value]="isFocused['info'] && errors && errors.includes('info') || (customeValidator && errors && errors.includes('info'))">
        </textarea>
        <div *ngIf="(isFocused['info'] && errors && errors.includes('info') || (customeValidator && errors && errors.includes('info'))) && !(appService.getTextareaLimit(currentParentData.info, 1024) < 0)" class="error-field-message">
            Это поле обязательно к заполнению
        </div>
        <div *ngIf="appService.getTextareaLimit(currentParentData.info, 1024) < 0" class="error-field-message">
            Превышено количество символов
        </div>
    </div>

    <div class="add-parent-page-photos-block">
        <label>Загрузите фотографии</label><span class="red-star">*</span>

        <div *ngIf="currentParentData.gallery.length == 0" class="gallery-initial-block"
            (click)="previewParentImage(-1)"
            [class.invalid-form-field-value]="isFocused['photos'] && errors && errors.includes('photos') || (customeValidator && errors && errors.includes('photos'))">
            <img src="./assets/img/cloud-computing.png" alt="Облако скачивания" />
            <br>
            <span>Нажмите для загрузки фотографий</span>
        </div>

        <div *ngIf="currentParentData.gallery.length > 0" class="gallery-uploaded-photos-block">
            <div *ngFor="let photo of currentParentData.gallery;let i = index;" class="active-galley-photo-block">
                <img class="close-button" src="./assets/img/close-button-white.svg" alt="Удалить картинку"
                    (click)="deleteParentImage(i)" />
                <img src="/img/{{photo.preview}}.jpg" class="pet-image" alt="Изображение в галерее"
                    (click)="previewParentImage(i)" />
            </div>
            <div class="empty-galley-photo-block" (click)="previewParentImage(-1)">
                <img src="./assets/img/photo-camera.svg" alt="Камера" />
            </div>
        </div>

        <div *ngIf="currentParentData.gallery.length == 0" class="gallery-upload-button custom-btn btn-transparent"
            (click)="previewParentImage(-1)"
            [class.invalid-form-field-value]="isFocused['photos'] && errors && errors.includes('photos') || (customeValidator && errors && errors.includes('photos'))">
            <span>Выбрать</span>
        </div>
    </div>

    <div class="lower-btn">
        <!-- <span *ngIf="profileService.invalidFields.length > 0" class="invalid-field-message"
            style="display: block; margin-bottom: 1em;">
            Пожалуйста, заполните или исправьте поля, выделенные красным
        </span> -->
        <br *ngIf="profileService.invalidFields.length > 0" />
        <input type="button" class="custom-btn btn-purple"
            value="{{currentParentData.id ? 'Сохранить' : 'Добавить'}} родителя" (click)="addParent(false)" />
    </div>
</div>