<div class="container">
    <span>Понравился заводчик? Поделитесь страницей:</span>
    <div id="share-buttons">
        <button class="button" data-sharer="facebook">
            <img src="./assets/img/social-icons/fb.svg" alt="Поделиться в Facebook">
        </button>
        <button class="button" data-sharer="vk">
            <img src="./assets/img/social-icons/vk.svg" alt="Поделиться Вконтакте">
        </button>
        <button class="button" data-sharer="twitter">
            <img src="./assets/img/social-icons/twitter.svg" alt="Поделиться в Twitter">
        </button>
        <button class="button" data-sharer="okru">
            <img src="./assets/img/social-icons/ok.svg" alt="Поделиться в Одноклассниках">
        </button>
        <button class="button" data-sharer="whatsapp">
            <img src="./assets/img/social-icons/whatsapp.svg" alt="Поделиться в Whatsapp">
        </button>
        <button class="button" data-sharer="telegram">
            <img src="./assets/img/social-icons/telegram.svg" alt="Поделиться в Telegram">
        </button>
    </div>
</div>