hr{
    width: 80%;
    margin: 0 auto;
    background-color: #f8f9fb;
}

.profile-container{
    display: grid;
    width: 80%;
    max-width: 1440px;
    grid-template: 70%/30%;
    grid-template-rows: auto;
    margin: 2% auto;
    grid-gap: 20px;
}

.profile-progress-bar{
    grid-column: 1/3;
    background-image: linear-gradient(to left, #84e0df, #4dbebb);
    border-radius: 8px;
    height: 16px;
    // opacity: 0.4;
    margin-bottom: 2em;
    display: flex;

    div{
        width: 20%;
        border-right: 1px solid #fff; 
    }

    div:nth-child(1){
        border-radius: 25px 0 0 25px;
    }

    div:nth-child(5){
        text-align: right;
        border-radius: 0 25px 25px 0;

        img{
            position: relative;
            top: -15px;
            right: -5px;
            width: 40px;
            height: 40px;
        }
    }
}

.profile-menu-container{
    text-align: center;
    
    &> input{
        margin-top: 1em;
    }
}

.profile-menu{
    text-align: left;
    border: 1px solid #cbd8f6;
    border-radius: 4px;
    background-color: #fff;

    p{
        font-family: 'Intro-Regular';
        font-size: 18px;
        padding: 20px 15px;
        margin: 0; 
        position: relative; 

        &:hover{
            background-color: #eeeff1;
            transition: all 0.5s ease;
        }

        &:before{
            content : "";
            position: absolute;
            left: 5%;
            bottom: 0;
            height: 1px;
            width: 90%;
            border-bottom: 1px solid #cbd8f6;
        }
    }

    p:nth-child(5){
        &:before{
            display: none;
        }
    }
}

.active-page{
    background-color: #cbd8f6 !important;
}