$progress-bar-height: 18px;

hr{
    width: 80%;
    max-width: 1210px;
    margin: -15px auto 0;
    background-color: #f8f9fb;
}

.profile-container{
    display: grid;
    width: 80%;
    max-width: 1210px;
    grid-template: auto / 3fr 7fr;
    margin: 4em auto 6em;
    grid-gap: 10px 20px;
    overscroll-behavior-y: contain;
}

.progress-bar-container{
    grid-column: 1/3;
    position: relative;
    width: 100%;
    height: $progress-bar-height;
    margin-bottom: 2em;
    
    .progress-bar-base{
        background-image: linear-gradient(to left, rgba(132, 224, 223, 0.4), rgba(77, 190, 187, 0.4));
        border-radius: 8px;
        position: absolute;
        width: 100%;
        height: $progress-bar-height;
    }

    .progress-bar-sections{
        position: absolute;
        width: 100%;
        height: $progress-bar-height;
        display: inline-flex;
        z-index: 10;
  
        div{
            width: 20%;
            border-right: 1px solid #fff; 
        }

        div:nth-child(1){
            border-radius: 25px 0 0 25px;
        }

        div:nth-child(5){
            text-align: right;
            border-radius: 0 25px 25px 0;

            img{
                position: relative;
                top: -12px;
                right: -1px;
                width: 40px;
                height: 40px;
            }
        }
    }

    .progress-line{
        height: $progress-bar-height;
        position: absolute;
        background-image: linear-gradient(to left, #645fc9, #5ed7d5);
        border-radius: 8px;
    }

    .partial-progress-line{
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
}

.profile-menu-container-desktop{
    text-align: center;
    
    &> input{
        width: 98%;
        margin: 1.5em auto 0;
    }
}

.profile-menu-container-mobile{
    display: none;
    position: relative;
    z-index: 999;
    margin-bottom: 4em;

    .mobile-dropdown-menu-item{
        position: relative;

        img{
            position: absolute;
            top: 30%;
            height: 40%;
            right: .5em;
        }
    }
}

.profile-menu-desktop,
.profile-menu-mobile{
    text-align: left;
    border: 1px solid #cbd8f6;
    border-radius: 4px;
    background-color: #fff;

    div{
        font-family: 'Intro-Regular';
        font-size: 18px;
        color: #0e0b4d;
        padding: 20px 20px;
        margin: 0; 
        position: relative; 
        cursor: pointer;

        &:before{
            content : "";
            position: absolute;
            left: 6%;
            top: 0;
            height: 1px;
            width: 87.5%;
            border-top: 1px solid #cbd8f6;
        }
    }

    div:nth-child(1){
        &:before{
            display: none;
        }
    }
}

.profile-menu-desktop{

    div:hover{
        background-color: #eeeff1;
        transition: all 0.5s ease;
    }
}

.profile-menu-mobile{

    position: absolute;
    left: 0;
    right: 0;

    .invisible-menu{
        &:before{
            display: none !important;
        }
    }

}

.active-page{
    background-color: #cbd8f6 !important;
}

.hidden-underline{
    &:before{
        display: none;
    }
}

.page-example{
    text-align: center;
    border-radius: 4px;
    border: solid 1px #f4e1d5;
    background-color: #ffffff;
    margin: 1.5em auto 0;
    position: relative;
    top: 0;
    left: 0;
    img:first-child {
        position: relative;
        max-width: 333px;
        margin-top: 18px;
        top: 0;
        left: 0;
    }
    img:last-child {
        position: absolute;
        top: 30px;
        right: 40px;
    }
    &> input{ 
        margin: 2px auto 25px;
        font-size: 14px;
    }
    .first-p {
        font-size: 16px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.19;
        letter-spacing: normal;
        text-align: center;
        color: #0e0b4d;
        margin-top: 17px;
    }
    .last-p {
        opacity: 0.5;
        font-size: 14px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.36;
        letter-spacing: normal;
        text-align: center;
        color: #0e0b4d;
        width: 235px;
        margin-left: 45px;
    }
  }
  .notification {
      color: #645bcc;
      font-size: 14px;
      font-family: "Intro-Regular";
      margin-bottom: 11px;
      margin-top: -24px;
  }

@media screen and (max-width: 769px){

    hr{
        width: 90%;
        margin: .5em auto 0;
    }

    .profile-container{
        grid-template: auto / 100%;
        width: 90%;
        grid-row-gap: 2em;
        margin: 1.5em auto 4em;
        overflow: auto;
        overscroll-behavior-y: contain;
    }

    .profile-page{
        margin-bottom: 3em;
    }

    .profile-menu-container-desktop{
        display: none;
    }
    .page-example{
        display: none;
    }
    
    .profile-menu-container-mobile{
        display: block;
    }
    .progress-bar-container{
        margin-top: 1.5em;
        margin-bottom: unset;
        grid-column: 1/2;
    }
    .notification {
        font-size: 11px;
        margin-bottom: 5px;
    }
}