hr {
  width: 80%;
  max-width: 1210px;
  margin: -15px auto 0;
  background-color: #f8f9fb;
}

.profile-container {
  display: -ms-grid;
  display: grid;
  width: 80%;
  max-width: 1210px;
  -ms-grid-rows: auto;
  -ms-grid-columns: 3fr 7fr;
      grid-template: auto / 3fr 7fr;
  margin: 4em auto 6em;
  grid-gap: 10px 20px;
}

.progress-bar-container {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  position: relative;
  width: 100%;
  height: 18px;
  margin-bottom: 2em;
}

.progress-bar-container .progress-bar-base {
  background-image: -webkit-gradient(linear, right top, left top, from(rgba(132, 224, 223, 0.4)), to(rgba(77, 190, 187, 0.4)));
  background-image: linear-gradient(to left, rgba(132, 224, 223, 0.4), rgba(77, 190, 187, 0.4));
  border-radius: 8px;
  position: absolute;
  width: 100%;
  height: 18px;
}

.progress-bar-container .progress-bar-sections {
  position: absolute;
  width: 100%;
  height: 18px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  z-index: 10;
}

.progress-bar-container .progress-bar-sections div {
  width: 20%;
  border-right: 1px solid #fff;
}

.progress-bar-container .progress-bar-sections div:nth-child(1) {
  border-radius: 25px 0 0 25px;
}

.progress-bar-container .progress-bar-sections div:nth-child(5) {
  text-align: right;
  border-radius: 0 25px 25px 0;
}

.progress-bar-container .progress-bar-sections div:nth-child(5) img {
  position: relative;
  top: -12px;
  right: -1px;
  width: 40px;
  height: 40px;
}

.progress-bar-container .progress-line {
  height: 18px;
  position: absolute;
  background-image: -webkit-gradient(linear, right top, left top, from(#645fc9), to(#5ed7d5));
  background-image: linear-gradient(to left, #645fc9, #5ed7d5);
  border-radius: 8px;
}

.progress-bar-container .partial-progress-line {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.profile-menu-container-desktop {
  text-align: center;
}

.profile-menu-container-desktop > input {
  width: 87%;
  margin: 1em auto 0;
}

.profile-menu-container-mobile {
  display: none;
  position: relative;
  z-index: 999;
  margin-bottom: 4em;
}

.profile-menu-container-mobile .mobile-dropdown-menu-item {
  position: relative;
}

.profile-menu-container-mobile .mobile-dropdown-menu-item img {
  position: absolute;
  top: 30%;
  height: 40%;
  right: .5em;
}

.profile-menu-desktop,
.profile-menu-mobile {
  text-align: left;
  border: 1px solid #cbd8f6;
  border-radius: 4px;
  background-color: #fff;
}

.profile-menu-desktop div,
.profile-menu-mobile div {
  font-family: 'Intro-Regular';
  font-size: 18px;
  color: #0e0b4d;
  padding: 20px 20px;
  margin: 0;
  position: relative;
  cursor: pointer;
}

.profile-menu-desktop div:before,
.profile-menu-mobile div:before {
  content: "";
  position: absolute;
  left: 6%;
  top: 0;
  height: 1px;
  width: 87.5%;
  border-top: 1px solid #cbd8f6;
}

.profile-menu-desktop div:nth-child(1):before,
.profile-menu-mobile div:nth-child(1):before {
  display: none;
}

.profile-menu-desktop div:hover {
  background-color: #eeeff1;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.profile-menu-mobile {
  position: absolute;
  left: 0;
  right: 0;
}

.profile-menu-mobile .invisible-menu:before {
  display: none !important;
}

.active-page {
  background-color: #cbd8f6 !important;
}

.hidden-underline:before {
  display: none;
}


@media screen and (max-width: 769px) {
  hr {
    width: 90%;
    margin: .5em auto 0;
  }
  .profile-container {
    -ms-grid-rows: auto;
    -ms-grid-columns: 100%;
        grid-template: auto / 100%;
    width: 90%;
    grid-row-gap: 2em;
    margin: 1.5em auto 4em;
  }
  .profile-page {
    margin-bottom: 3em;
  }
  .profile-menu-container-desktop {
    display: none;
  }
  .profile-menu-container-mobile {
    display: block;
  }
  .progress-bar-container {
    margin-top: 1.5em;
    margin-bottom: unset;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
  }
}
/*# sourceMappingURL=breeder-profile.component.css.map */