<div class="wrapper">
    <main>
        <div *ngIf="showData" class="block-detail">
            <div class="container">
                <div class="block-detail__inner">
                    <a href="/articles" [routerLink]="[ '/articles' ]" class="title title_4 title_link">К базе знаний</a>
                    <div class="social">
                        <div class="social__left">
                            <span class="title title_3">{{showData.title1}}</span>
                            <span class="block-detail__subtitle">{{showData.subTitle}}</span>
                        </div>
                        <div class="social__right">
                            <a href="#" class="social__item">
                                <img src="./assets/img/articales/img/articles-details/vk_svg.svg" alt="">
                            </a>
                            <a href="#" class="social__item">
                                <img src="./assets/img/articales/img/articles-details/face_svg.svg" alt="">
                            </a>
                            <a href="#" class="social__item">
                                <img src="./assets/img/articales/img/articles-details/twit_svg.svg" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="block-detail__img">
                        <img src="{{showData.img}}" alt="">
                    </div>
                    <div *ngIf="showData.body" class="block-detail-text">
                        <div *ngFor="let item of showData.body" [ngClass]="{
                                'title': item.type === 'title',
                                'paragraph': item.type === 'paragraph'
                            }">
                            <span *ngIf="item.type !== 'list'">{{item.text}}</span>
                            <ol *ngIf="item.type === 'list'">
                                <li *ngFor="let listElem of item.text">
                                    {{listElem}}
                                </li>
                            </ol>
                        </div>
                    </div>
                    <!-- <div class="block-detail-text">
                        <p>{{showData.text1}}</p>
                        <p>{{showData.text2}}</p>
                        <p>{{showData.text4}}</p>
                        <p>{{showData.text5}}</p>
                        <p>{{showData.text6}}</p>
                        <p>{{showData.text7}}</p>
                        <p>{{showData.text8}}</p>
                        <p>{{showData.text9}}</p>
                        <p>{{showData.text10}}</p>
                        <p>{{showData.text11}}</p>
                        <p>{{showData.text12}}</p>
                        <p>{{showData.text13}}</p>
                        <p>{{showData.text14}}</p>
                        <p>{{showData.text15}}</p>
                        <p>{{showData.text16}}</p>
                        <p>{{showData.text17}}</p>
                        <p>{{showData.text18}}</p>
                        <p>{{showData.text19}}</p>
                        <p>{{showData.text20}}</p>
                        <p>{{showData.text21}}</p>
                        <p>{{showData.text22}}</p>
                        <p>{{showData.text23}}</p>
                        <p>{{showData.text24}}</p>
                        <p>{{showData.text25}}</p>
                        <p>{{showData.text26}}</p>
                        <p>{{showData.text27}}</p>
                        <p>{{showData.text28}}</p>
                        <p>{{showData.text29}}</p> 
                        <p>{{showData.text30}}</p> 
                        <p>{{showData.text31}}</p>
                        <p>{{showData.text32}}</p>
                        <p>{{showData.text33}}</p>
                        <p>{{showData.text34}}</p>
                        <p>{{showData.text35}}</p>
                        <p>{{showData.text36}}</p>
                        <p>{{showData.text37}}</p>
                        <p>{{showData.text38}}</p>
                        <p>{{showData.text39}}</p>
                        <p>{{showData.text40}}</p>
                        <p>{{showData.text41}}</p>
                        <p>{{showData.text42}}</p>
                        <p>{{showData.text43}}</p>
                        <p>{{showData.text44}}</p>
                        <p>{{showData.text45}}</p>
                        <p>{{showData.text46}}</p>
                        <p>{{showData.text47}}</p>
                        <p>{{showData.text48}}</p>
                        <p>{{showData.text49}}</p>
                        <p>{{showData.text50}}</p>
                        <p>{{showData.text51}}</p>
                        <p>{{showData.text52}}</p>
                        <p>{{showData.text53}}</p>
                        <p>{{showData.text54}}</p>
                        <p>{{showData.text55}}</p>
                        <p>{{showData.text56}}</p>
                        <p>{{showData.text57}}</p>
                        <p>{{showData.text58}}</p>
                        <p>{{showData.text59}}</p>
                        <p>{{showData.text60}}</p>
                        <p>{{showData.text61}}</p>
                        <p>{{showData.text62}}</p>
                        <p>{{showData.text63}}</p>
                        <p>{{showData.text64}}</p>
                        <p>{{showData.text65}}</p>
                        <p>{{showData.text66}}</p>
                        <p>{{showData.text67}}</p>
                        <p>{{showData.text68}}</p>
                        <p>{{showData.text69}}</p>
                        <p>{{showData.text70}}</p>
                        <p>{{showData.text71}}</p>
                        <p>{{showData.text72}}</p>
                        <p>{{showData.text73}}</p>
                        <p>{{showData.text74}}</p>
                        <p>{{showData.text75}}</p>
                        <p>{{showData.text76}}</p>
                        <p>{{showData.text77}}</p>
                        <p>{{showData.text78}}</p>
                        <p>{{showData.text79}}</p>
                        <p>{{showData.text80}}</p>
                        <p>{{showData.text81}}</p>
                        <p>{{showData.text82}}</p>
                        <p>{{showData.text83}}</p>
                        <p>{{showData.text84}}</p>
                        <p>{{showData.text85}}</p>
                        <p>{{showData.text86}}</p>
                        <p>{{showData.text87}}</p>
                        <p>{{showData.text88}}</p>
                        <p>{{showData.text89}}</p>
                        <p>{{showData.text90}}</p>
                        <p>{{showData.text91}}</p>
                        <p>{{showData.text92}}</p>
                        <p>{{showData.text93}}</p>
                        <p>{{showData.text94}}</p>
                        <p>{{showData.text95}}</p>
                        <p>{{showData.text96}}</p>
                        <p>{{showData.text97}}</p>
                        <p>{{showData.text98}}</p>
                        <p>{{showData.text100}}</p>
                        <p>{{showData.text101}}</p>
                        <p>{{showData.text102}}</p>
                        <p>{{showData.text103}}</p>
                        <p>{{showData.text104}}</p>
                        <p>{{showData.text105}}</p>
                        <p>{{showData.text106}}</p>
                        <p>{{showData.text107}}</p>
                        <p>{{showData.text108}}</p>
                        <p>{{showData.text109}}</p>
                    </div> -->
                </div>
            </div>
        </div>
        <!-- <div class="block-awaits">
            <div class="container">
                <span class="title title_3">Похожие истории</span>
                <div class="wrap-about">
                    <div class="wrap-about__inner">
                        <a href="#" class="wrap-about__item">
                            <span class="wrap-about__img">
                                <img src="./assets/img/articales/img/articles/b1.jpg" alt="">
                            </span>
                            <span class="title title_4">Если после применения правила Лопиталя</span>
                        </a>
                        <a href="#" class="wrap-about__item">
                            <span class="wrap-about__img">
                                <img src="./assets/img/articales/img/articles/b2.jpg" alt="">
                            </span>
                            <span class="title title_4">Интересно отметить, что биуретовая</span>
                        </a>
                        <a href="#" class="wrap-about__item">
                            <span class="wrap-about__img">
                                <img src="./assets/img/articales/img/articles/b3.jpg" alt="">
                            </span>
                            <span class="title title_4">Гетерогенная структура трансформирует</span>
                        </a>
                    </div>
                </div>
            </div>
        </div> -->
    </main>
</div>