<div class="wrapper">
    <main>
        <div *ngIf="showData" class="block-detail">
            <div class="container">
                <div class="block-detail__inner">
                    <a [routerLink]="[ '/articles' ]" class="title title_4 title_link">К базе знаний</a>
                    <div class="social">
                        <div class="social__left">
                            <span class="title title_3">{{showData.title1}}</span>
                            <span class="block-detail__subtitle">{{showData.subTitle}}</span>
                            <div class="chat"><a (click)="opneIntercom()" >{{showData.intercom}}</a></div>

                        </div>
                        <div id="share-buttons" class="social__right">
                            <a data-sharer="vk" class="social__item">
                                <img src="./assets/img/articales/img/articles-details/vk_svg.svg" alt="">
                            </a>
                            <a data-sharer="facebook" class="social__item">
                                <img src="./assets/img/articales/img/articles-details/face_svg.svg" alt="">
                            </a>
                            <a data-sharer="twitter"class="social__item">
                                <img src="./assets/img/articales/img/articles-details/twit_svg.svg" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="block-detail__img">
                        <img src="{{showData.img}}" alt="">
                    </div>
                    <div *ngIf="showData.body" class="block-detail-text">
                        <div *ngFor="let item of showData.body" [ngClass]="{
                                'title': item.type === 'title',
                                'paragraph': item.type === 'paragraph'
                            }">
                            <div *ngIf="item.type === 'link'"   class="link"><a [routerLink]="[ '/article/16' ]" target="_blank">  статье.</a></div>
                            <span *ngIf="item.type !== 'list'">{{item.text}}</span>
                            <ol *ngIf="item.type === 'list'">
                                <li *ngFor="let listElem of item.text">
                                    {{listElem}}
                                </li>
                            </ol>
                        </div>
                    </div>
                    <!-- <div class="block-detail-text">
                    </div> -->
                </div>
            </div>
        </div>
        <!-- <div class="block-awaits">
            <div class="container">
                <span class="title title_3">Похожие истории</span>
                <div class="wrap-about">
                    <div class="wrap-about__inner">
                        <a href="#" class="wrap-about__item">
                            <span class="wrap-about__img">
                                <img src="./assets/img/articales/img/articles/b1.jpg" alt="">
                            </span>
                            <span class="title title_4">Если после применения правила Лопиталя</span>
                        </a>
                        <a href="#" class="wrap-about__item">
                            <span class="wrap-about__img">
                                <img src="./assets/img/articales/img/articles/b2.jpg" alt="">
                            </span>
                            <span class="title title_4">Интересно отметить, что биуретовая</span>
                        </a>
                        <a href="#" class="wrap-about__item">
                            <span class="wrap-about__img">
                                <img src="./assets/img/articales/img/articles/b3.jpg" alt="">
                            </span>
                            <span class="title title_4">Гетерогенная структура трансформирует</span>
                        </a>
                    </div>
                </div>
            </div>
        </div> -->
    </main>
</div>