
<div class="wrapper">
    <main>
        <div *ngIf="this.showData" class="block-detail">
            <div class="container">
                <div class="block-detail__inner">
                    <a href="/articles" class="title title_4 title_link">К базе знаний</a>
                    <div class="social">
                        <div class="social__left">
                            <span class="title title_3">{{this.showData.title1}}</span>
                            <span class="block-detail__subtitle">{{this.showData.subTitle}}</span>
                        </div>
                        <div class="social__right">
                            <a href="#" class="social__item">
                                <img src="./assets/img/articales/img/articles-details/vk_svg.svg" alt="">
                            </a>
                            <a href="#" class="social__item">
                                <img src="./assets/img/articales/img/articles-details/face_svg.svg" alt="">
                            </a>
                            <a href="#" class="social__item">
                                <img src="./assets/img/articales/img/articles-details/twit_svg.svg" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="block-detail__img">
                        <img src="{{this.showData.img}}" alt=""> 
                    </div>
                    <div class="block-detail-text">
                        <p>{{this.showData.text1}}</p>
                        <p>{{this.showData.text2}}</p>
                        <!-- <span class="block-detail-text__subtitle">{{this.showData.text3}}</span> -->
                        <p>{{this.showData.text4}}</p>
                        <p>{{this.showData.text5}}</p>
                        <p>{{this.showData.text6}}</p>
                        <p>{{this.showData.text7}}</p>
                        <p>{{this.showData.text8}}</p>
                        <p>{{this.showData.text9}}</p>
                        <p>{{this.showData.text10}}</p>
                        <p>{{this.showData.text11}}</p>
                        <p>{{this.showData.text12}}</p>
                        <p>{{this.showData.text13}}</p>
                        <p>{{this.showData.text14}}</p>
                        <p>{{this.showData.text15}}</p>
                        <p>{{this.showData.text16}}</p>
                        <p>{{this.showData.text17}}</p>
                        <p>{{this.showData.text18}}</p>
                        <p>{{this.showData.text19}}</p>
                        <p>{{this.showData.text20}}</p>
                        <p>{{this.showData.text21}}</p>
                        <p>{{this.showData.text22}}</p>
                        <p>{{this.showData.text23}}</p>
                        <p>{{this.showData.text24}}</p>
                        <p>{{this.showData.text25}}</p>
                        <p>{{this.showData.text26}}</p>
                        <p>{{this.showData.text27}}</p>
                        <p>{{this.showData.text28}}</p>
                        <p>{{this.showData.text29}}</p> 
                        <p>{{this.showData.text30}}</p> 
                        <p>{{this.showData.text31}}</p>
                        <p>{{this.showData.text32}}</p>
                        <p>{{this.showData.text33}}</p>
                        <p>{{this.showData.text34}}</p>
                        <p>{{this.showData.text35}}</p>
                        <p>{{this.showData.text36}}</p>
                        <p>{{this.showData.text37}}</p>
                        <p>{{this.showData.text38}}</p>
                        <p>{{this.showData.text39}}</p>
                        <p>{{this.showData.text40}}</p>
                        <p>{{this.showData.text41}}</p>
                        <p>{{this.showData.text42}}</p>
                        <p>{{this.showData.text43}}</p>
                        <p>{{this.showData.text44}}</p>
                        <p>{{this.showData.text45}}</p>
                        <p>{{this.showData.text46}}</p>
                        <p>{{this.showData.text47}}</p>
                        <p>{{this.showData.text48}}</p>
                        <p>{{this.showData.text49}}</p>
                        <p>{{this.showData.text50}}</p>
                        <p>{{this.showData.text51}}</p>
                        <p>{{this.showData.text52}}</p>
                        <p>{{this.showData.text53}}</p>
                        <p>{{this.showData.text54}}</p>
                        <p>{{this.showData.text55}}</p>
                        <p>{{this.showData.text56}}</p>
                        <p>{{this.showData.text57}}</p>
                        <p>{{this.showData.text58}}</p>
                        <p>{{this.showData.text59}}</p>
                        <p>{{this.showData.text60}}</p>
                        <p>{{this.showData.text61}}</p>
                        <p>{{this.showData.text62}}</p>
                        <p>{{this.showData.text63}}</p>
                        <p>{{this.showData.text64}}</p>
                        <p>{{this.showData.text65}}</p>
                        <p>{{this.showData.text66}}</p>
                        <p>{{this.showData.text67}}</p>
                        <p>{{this.showData.text68}}</p>
                        <p>{{this.showData.text69}}</p>
                        <p>{{this.showData.text70}}</p>
                        <p>{{this.showData.text71}}</p>
                        <p>{{this.showData.text72}}</p>
                        <p>{{this.showData.text73}}</p>
                        <p>{{this.showData.text74}}</p>
                        <p>{{this.showData.text75}}</p>
                        <p>{{this.showData.text76}}</p>
                        <p>{{this.showData.text77}}</p>
                        <p>{{this.showData.text78}}</p>
                        <p>{{this.showData.text79}}</p>
                        <p>{{this.showData.text80}}</p>
                        <p>{{this.showData.text81}}</p>
                        <p>{{this.showData.text82}}</p>
                        <p>{{this.showData.text83}}</p>
                        <p>{{this.showData.text84}}</p>
                        <p>{{this.showData.text85}}</p>
                        <p>{{this.showData.text86}}</p>
                        <p>{{this.showData.text87}}</p>
                        <p>{{this.showData.text88}}</p>
                        <p>{{this.showData.text89}}</p>
                        <p>{{this.showData.text90}}</p>
                        <p>{{this.showData.text91}}</p>
                        <p>{{this.showData.text92}}</p>
                        <p>{{this.showData.text93}}</p>
                        <p>{{this.showData.text94}}</p>
                        <p>{{this.showData.text95}}</p>
                        <p>{{this.showData.text96}}</p>
                        <p>{{this.showData.text97}}</p>
                        <p>{{this.showData.text98}}</p>
                        <p>{{this.showData.text100}}</p>
                        <p>{{this.showData.text101}}</p>
                        <p>{{this.showData.text102}}</p>
                        <p>{{this.showData.text103}}</p>
                        <p>{{this.showData.text104}}</p>
                        <p>{{this.showData.text105}}</p>
                        <p>{{this.showData.text106}}</p>
                        <p>{{this.showData.text107}}</p>
                        <p>{{this.showData.text108}}</p>
                        <p>{{this.showData.text109}}</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="block-awaits">
            <div class="container">
                <span class="title title_3">Похожие истории</span>
                <div class="wrap-about">
                    <div class="wrap-about__inner">
                        <a href="#" class="wrap-about__item">
                            <span class="wrap-about__img">
                                <img src="./assets/img/articales/img/articles/b1.jpg" alt="">
                            </span>
                            <span class="title title_4">Если после применения правила Лопиталя</span>
                        </a>
                        <a href="#" class="wrap-about__item">
                            <span class="wrap-about__img">
                                <img src="./assets/img/articales/img/articles/b2.jpg" alt="">
                            </span>
                            <span class="title title_4">Интересно отметить, что биуретовая</span>
                        </a>
                        <a href="#" class="wrap-about__item">
                            <span class="wrap-about__img">
                                <img src="./assets/img/articales/img/articles/b3.jpg" alt="">
                            </span>
                            <span class="title title_4">Гетерогенная структура трансформирует</span>
                        </a>
                    </div>
                </div>
            </div>
        </div> -->
    </main>
</div>

