<div class="breeder-landing-top-block">
    <div class="breeder-landing-title">
        <h1>Платформа для ответственных заводчиков, которым нужны удобные инструменты</h1>

        <button class="custom-btn btn-purple" (click)="showSignUpPopup()">БЕСПЛАТНАЯ РЕГИСТРАЦИЯ</button>
    </div>
</div>



<div class="what-is-avail-block">
    <h2>ЧТО УЖЕ ДОСТУПНО?</h2>
    <p>После регистрации вы бесплатно получите собственную страницу заводчика с личным кабинетом, которую можно смело использовать
        в качестве персонального сайта.</p>
    <section class="first-slider-section">
        <h3>Стильная индивидуальная страница</h3>
        <mdb-carousel #firstSlider class="carousel slide carousel-fade" (activeSlideChange)="onFirstSliderActiveChanged($event)">
            <mdb-carousel-item *ngFor="let slide of firstSliderData">
                <div class="view w-100">
                    <img class="d-block w-100" [src]="slide.img" [alt]="slide.text">
                    <div class="mask rgba-black-light waves-light" mdbWavesEffect></div>
                </div>
                <div class="carousel-caption">
                    <p style="font-family: 'Intro-Regular'">{{slide.text}}</p>
                </div>
            </mdb-carousel-item>
        </mdb-carousel>
        <div class="first-slider-text">
            <h3>Стильная индивидуальная страница</h3>
            <p [class.active]="firstSliderActiveIndex == 0" (click)="firstSliderTitleClicked(0)">
                <a [class.active]="firstSliderActiveIndex == 0">&#11044;</a>Общая информация + фотографии
            </p>
            <p [class.active]="firstSliderActiveIndex == 1" (click)="firstSliderTitleClicked(1)">
                <a [class.active]="firstSliderActiveIndex == 1">&#11044;</a>О себе
            </p>
            <p [class.active]="firstSliderActiveIndex == 2" (click)="firstSliderTitleClicked(2)">
                <a [class.active]="firstSliderActiveIndex == 2">&#11044;</a>Родители щенков
            </p>
            <p [class.active]="firstSliderActiveIndex == 3" (click)="firstSliderTitleClicked(3)">
                <a [class.active]="firstSliderActiveIndex == 3">&#11044;</a>Информация о щенках
            </p>
            <p [class.active]="firstSliderActiveIndex == 4" (click)="firstSliderTitleClicked(4)">
                <a [class.active]="firstSliderActiveIndex == 4">&#11044;</a>Подключение аккаунта Instagram
            </p>
        </div>
    </section>

    <section class="second-slider-section">
        <div class="second-slider-text">
            <div>
                <h3>Удобный личный кабинет</h3>
                <p [class.active]="secondSliderActiveIndex == 0" (click)="secondSliderTitleClicked(0)">
                    <a [class.active]="secondSliderActiveIndex == 0">&#11044;</a>Редактирование своей страницы
                </p>
                <p [class.active]="secondSliderActiveIndex == 1" (click)="secondSliderTitleClicked(1)">
                    <a [class.active]="secondSliderActiveIndex == 1">&#11044;</a>Общение с покупателями
                </p>
                <p [class.active]="secondSliderActiveIndex == 2" (click)="secondSliderTitleClicked(2)">
                    <a [class.active]="secondSliderActiveIndex == 2">&#11044;</a>Своя форма заявки на щенка
                </p>
                <p [class.active]="secondSliderActiveIndex == 3" (click)="secondSliderTitleClicked(3)">
                    <a [class.active]="secondSliderActiveIndex == 3">&#11044;</a>Обработка заявок от покупателей
                </p>

                <button class="custom-btn btn-purple">БЕСПЛАТНАЯ РЕГИСТРАЦИЯ</button>
            </div>
        </div>
        <h3>Удобный личный кабинет</h3>
        <mdb-carousel #secondSlider class="carousel slide carousel-fade" (activeSlideChange)="onSecondSliderActiveChanged($event)">
            <mdb-carousel-item *ngFor="let slide of secondSliderData">
                <div class="view w-100">
                    <img class="d-block w-100" [src]="slide.img" [alt]="slide.text">
                    <div class="mask rgba-black-light waves-light" mdbWavesEffect></div>
                </div>
                <div class="carousel-caption">
                    <p style="font-family: 'Intro-Regular'">{{slide.text}}</p>
                </div>
            </mdb-carousel-item>
        </mdb-carousel>
    </section>
</div>



<div class="our-mission-coming-soon-blocks">
    <div class="our-mission">
        <section class="our-mission-text-block">
            <h2>НАША МИССИЯ</h2>
            <p style="margin-bottom: 20px;">Жизнь хорошего заводчика полна сложностей - бессонные ночи с щенками, постоянное обучение, отбор достойных покупателей
                и это лишь малая часть списка. Наша платформа помогает вам искать потенциальных хозяев и взаимодействовать
                с ними, а также хранить всю необходимую информацию на индивидуальной странице.</p>
            <p style="color: #645fc9;">Мы хотим, чтобы вы уделяли больше времени самому важному - выращиванию образцовых щенков, а PawMe поможет вам
                со всем остальным.</p>
        </section>
        <section class="dog-in-box-section">
            <img src="../../assets/img/dog-in-box.png" alt="Собачка в коробке">
            <br>
        </section>
    </div>
    <div class="coming-soon">
        <h2 style="margin-bottom: 2em;">УЖЕ СОВСЕМ СКОРО...</h2>
        <section>
            <img src="../../assets/img/dog-in-hands.png" alt="Собака в руках">
            <p></p>
            <p>Общая платформа для всех проверенных заводчиков</p>
            <p>Вы получите доступ к потоку потенциальных покупателей, которых мы будем привлекать за свои деньги</p>
        </section>
        <section>
            <img src="../../assets/img/gears.png" alt="Шестеренки">
            <p></p>
            <p>Автоматизация сделок</p>
            <p>Покупатели смогут оплачивать щенков внутри платформы, а вы сможете выводить полученные деньги удобным для вас
                способом.</p>
            <p>Чтобы избавить вас от бумажной волокиты, заключение договоров будет также реализовано онлайн</p>
        </section>
        <section>
            <img src="../../assets/img/fundraising.png" alt="Сбор средств">
            <p></p>
            <p>Сбор депозитов с будущих покупателей</p>
            <p>Вы будете уверены, что для новых щенков сразу найдутся заинтересованные хозяева</p>
        </section>
        <p>
            <img style="float: right; margin-top: 50px; width: 350px;" src="../../assets/img/dog-head.png" alt="Голова собаки">
        </p>
    </div>
</div>

<app-popup-template [ngSwitch]="popupService.getCurrentForm()">
    <app-login *ngSwitchCase="'login'"></app-login>
    <app-sign-up *ngSwitchCase="'sign-up'"></app-sign-up>
</app-popup-template>

<app-footer></app-footer>