.breeder-landing-top-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
  background-image: url("../../assets/img/breeder-page-top-block-bg.png");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.breeder-landing-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 10vh 2em auto;
  width: 50%;
}

.breeder-landing-title h1 {
  font-size: 38px;
  line-height: 45px;
}

.breeder-landing-title button {
  margin-top: 50px;
}

.what-is-avail-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2em;
  text-align: center;
}

.what-is-avail-block section {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 25px;
}

.our-mission-coming-soon-blocks {
  width: 100%;
  background-color: #f7f4f1;
  display: inline-block;
  background-image: url(../../assets/img/oval-behind-dog-head.png);
  background-repeat: no-repeat;
  background-position-y: bottom;
  background-position-x: right;
}

.our-mission {
  padding: 2em 0 2em 2em;
  display: inline-block;
  width: 100%;
}

.our-mission-text-block {
  float: left;
  width: 46%;
  max-width: 570px;
  line-height: 29px;
}

.our-mission-text-block h3 {
  margin-bottom: 25px;
}

.our-mission-text-block p {
  font-size: 20px;
}

.dog-in-box-section {
  width: 54%;
  float: right;
  text-align: right;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  background-image: url(../../assets/img/ovals-behind-dog-in-box.png);
}

.dog-in-box-section img {
  width: 80%;
}

.coming-soon {
  padding: 2em 2em 0;
  background-image: url(../../assets/img/oval-coming-soon-section.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.coming-soon section {
  width: 33%;
  display: -ms-inline-grid;
  display: inline-grid;
  padding: 0 40px;
}

.coming-soon section p:nth-child(3) {
  font-size: 22px;
  font-weight: 600;
  min-height: 75px;
}

mdb-carousel {
  width: 50%;
  margin: auto;
}

.first-slider-section > h3 {
  display: none;
}

.first-slider-section mdb-carousel {
  padding: 3% 0 3% 15% !important;
}

.second-slider-section > h3 {
  display: none;
}

.second-slider-section mdb-carousel {
  padding: 3% 15% 3% 0 !important;
}

.first-slider-text {
  width: 50%;
  float: right;
  text-align: left;
}

.second-slider-text {
  width: 50%;
  float: left;
}

.second-slider-text div {
  float: right;
  text-align: left;
}

.first-slider-text,
.second-slider-text {
  margin: auto 35px;
}

.first-slider-text p,
.second-slider-text p {
  margin-bottom: 10px;
}

.first-slider-text p a,
.second-slider-text p a {
  margin-right: 10px;
  color: #e0dff3;
}

.first-slider-text .active,
.second-slider-text .active {
  color: #645fc9;
}

.first-slider-text .active a,
.second-slider-text .active a {
  color: #645fc9 !important;
}

@media screen and (max-width: 769px) {
  h2 {
    font-size: 20px;
  }
  .breeder-landing-top-block {
    height: 120vh;
  }
  .breeder-landing-title {
    padding: 1em;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    text-align: center;
    margin: unset;
  }
  .breeder-landing-title h1 {
    font-size: 28px;
    line-height: 28px;
  }
  .breeder-landing-title button {
    margin-top: 10px;
  }
  .what-is-avail-block section {
    display: block;
  }
  .what-is-avail-block p {
    font-size: 14px;
  }
  .what-is-avail-block h3 {
    font-size: 18px;
  }
  mdb-carousel {
    width: 100%;
  }
  .first-slider-section > h3,
  .second-slider-section > h3 {
    display: block;
  }
  .first-slider-text,
  .second-slider-text {
    display: none;
  }
  .first-slider-text {
    text-align: cetner;
  }
  .second-slider-text {
    text-align: center;
  }
  .second-slider-text div {
    float: unset;
  }
  .our-mission {
    padding: 1em 0 1em 1em;
  }
  .our-mission h2 {
    margin-bottom: 20px;
  }
  .our-mission-text-block {
    width: 100%;
  }
  .our-mission-text-block p {
    font-size: 14px;
    line-height: 19px;
  }
  .dog-in-box-section {
    width: 100%;
  }
  .dog-in-box-section img {
    width: 100%;
  }
  .coming-soon {
    padding: 1em 1em 0;
  }
  .coming-soon section {
    width: 100%;
    margin-bottom: 2em;
    padding: unset;
  }
  .coming-soon section p:nth-child(3) {
    font-size: 18px;
  }
  .coming-soon section p {
    font-size: 14px;
  }
}
/*# sourceMappingURL=breeder-landing.component.css.map */