<div class="breeder-landing-top-block">
    <app-header class='header-for-landing'></app-header>
    <div class="breeder-landing-title">
        <h1>Платформа для профессиональных заводчиков, которым нужны удобные инструменты</h1>

        <button class="custom-btn btn-purple" (click)="freeSignUpClicked()">БЕСПЛАТНАЯ РЕГИСТРАЦИЯ</button>
    </div>
</div>



<div class="what-is-avail-block">
    <h2>ЧТО УЖЕ ДОСТУПНО?</h2>

    <div class="grid-block">
            <div>
                <h4>Стильная индивидуальная страница</h4>
                <img src="./assets/img/breeder-page-thumbnail.png" alt="Стильная индивидуальная страница" />
            </div>
            <div class="breeder-page-text">
                <h3>Стильная индивидуальная страница</h3>
                <p>После регистрации вы бесплатно получите собственную страницу заводчика, которую можно использовать в
                    качестве
                    персонального сайта.</p>
                <p>Грамотно оформленная информация показывает ваш профессионализм и повышает доверие у потенциальных
                    покупателей.</p>
            </div>

            <div class="breeder-profile-text">
                <div>
                    <h3>Удобный личный кабинет</h3>
                    <p>Заполнение страницы доступно с любого устройства, а сам процесс не потребует никаких навыков и займет
                        около
                        15 минут. В будущем вы всегда сможете добавить или изменить информацию о питомнике.</p>
    
                    <button class="custom-btn btn-purple" [routerLink]="['/sign-up']">БЕСПЛАТНАЯ РЕГИСТРАЦИЯ</button>
                </div>
            </div>
            <div class="breeder-profile-img-block">
                <h4>Удобный личный кабинет</h4>
                <img src="./assets/img/breeder-profile-thumbnail.png" alt="Удобный личный кабинет" />
            </div>
    </div>

    <button class="custom-btn btn-purple mobile-sign-up-button" [routerLink]="['/sign-up']">БЕСПЛАТНАЯ РЕГИСТРАЦИЯ
    </button>

</div>



<div class="our-mission-coming-soon-blocks">
    <div class="our-mission">
        <section class="our-mission-text-block">
            <h2>НАША МИССИЯ</h2>
            <p style="margin-bottom: 20px;">Жизнь хорошего заводчика полна сложностей: бессонные ночи с щенками,
                постоянное обучение, отбор достойных покупателей,
                и это - лишь малая часть списка. Наша платформа помогает вам искать потенциальных хозяев и
                взаимодействовать
                с ними, а также хранить всю необходимую информацию на индивидуальной странице.</p>
            <p style="color: #645fc9;">Мы хотим, чтобы вы уделяли больше времени самому важному - выращиванию образцовых
                щенков, а Petman поможет вам
                со всем остальным.</p>
        </section>
        <section class="dog-in-box-section">
            <img src="./assets/img/dog-in-box.png" alt="Собачка в коробке">
            <br>
        </section>
    </div>
    <div class="coming-soon">
        <h2 style="margin-bottom: 2em;">УЖЕ СОВСЕМ СКОРО...</h2>
        <section>
            <img src="./assets/img/dog-in-hands.svg" alt="Собака в руках">
            <p></p>
            <p>Покупатели, которые ищут именно вас</p>
            <p>Будущие хозяева приходят к нам, потому что не доверяют "стандартным" торговым площадкам. Благодаря
                <a (click)="toogleRequirements()">высоким требованиям</a> Petman к заводчикам, вас не будут сравнивать с
                обычными объявлениями по продаже
                питомцев.</p>
            <div id="requirements-mobile" class="requirements-mobile hidden">
                <p>Каждый заводчик Petman предоставляет:</p>
                <ul>
                    <li>Комплект документов на щенка</li>
                    <li>Информацию о медицинских тестах</li>
                    <li>Договор купли-продажи</li>
                    <li>Гарантию на момент покупки</li>
                </ul>
            </div>
        </section>
        <section>
            <img src="./assets/img/gears.svg" alt="Шестеренки">
            <p></p>
            <p>Все взаимодействие в одном месте</p>
            <p>Покупатели смогут общаться с вами через персональные чаты, прямо как в мессенджерах. Кроме этого, все
                заявки
                на щенков будут собраны в одном месте, ожидая вашего одобрения или отказа.</p>
        </section>
        <section>
            <img src="./assets/img/fundraising.svg" alt="Сбор средств">
            <p></p>
            <p>Не только продажа питомцев</p>
            <p>В будущем к Petman присоединятся продавцы всех товаров и услуг для животных. Это привлечет еще больше
                покупателей и создаст возможности для новых партнерств.
            </p>
        </section>
        <div id="requirements-desktop" class="requirements-desktop hidden">
            <p>Каждый заводчик Petman предоставляет:</p>
            <ul>
                <li>Комплект документов на щенка</li>
                <li>Информацию о медицинских тестах</li>
                <li>Договор купли-продажи</li>
                <li>Гарантию на момент покупки</li>
            </ul>
        </div>
        <p><img class="dog-head-img" src="./assets/img/dog-head.png" alt="Голова собаки"></p>
    </div>
</div>