.breeder-landing-top-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
  background-image: url("../../assets/img/breeder-page-top-block-bg.jpg");
  background-position: center bottom;
  background-size: cover;
  background-repeat: no-repeat;
}

.breeder-landing-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 3vw 8vw auto;
  width: 585px;
}

.breeder-landing-title h1 {
  font-size: 32px;
  line-height: 45px;
  font-family: 'Intro-Bold';
  color: #fff;
}

.breeder-landing-title > p {
  margin: 20px 0 32px;
  color: #fff;
  font-size: 16px;
  font-family: 'Intro-Book';
  width: 80%;
}

.breeder-landing-title div {
  width: 415px;
  background-color: #fff;
  border-radius: 10px;
  border: solid 1px #cbd8f6;
  padding: 24px 32px;
  text-align: center;
  background-image: url("../../assets/img/landing-header-paw.png");
  background-position: bottom right;
  background-repeat: no-repeat;
  background-size: auto;
}

.breeder-landing-title div p {
  font-family: 'Intro-Regular';
  font-size: 18px;
  text-align: center;
  line-height: 25px;
  margin-bottom: 10px;
}

.breeder-landing-title div button {
  margin: 15px 0;
  width: 100%;
}

.breeder-landing-title div span {
  font-family: 'Intro-Book';
  font-size: 14px;
  opacity: .5;
  display: block;
  margin: 0 auto;
}

.what-is-avail-block {
  padding: 4em 8vw;
}

.what-is-avail-block h2 {
  text-align: center;
}

.what-is-avail-block .grid-block {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto;
  -ms-grid-columns: 1fr 1fr;
      grid-template: auto / 1fr 1fr;
  grid-gap: 5em 3em;
  max-width: 1280px;
  margin: 5em auto 2em;
}

.what-is-avail-block .grid-block h3, .what-is-avail-block .grid-block h4 {
  margin-bottom: 1em;
}

.what-is-avail-block .grid-block h4 {
  display: none;
}

.what-is-avail-block .grid-block button {
  margin-top: 1.5em;
}

.what-is-avail-block .grid-block img {
  width: 100%;
  max-width: 620px;
}

.what-is-avail-block .mobile-sign-up-button {
  display: none;
}

.our-mission-coming-soon-blocks {
  width: 100%;
  background-color: #f7f4f1;
  display: inline-block;
  background-image: url(../../assets/img/oval-behind-dog-head.png);
  background-repeat: no-repeat;
  background-position-y: bottom;
  background-position-x: right;
}

.our-mission {
  margin-top: 5em;
  display: inline-block;
  width: 100%;
}

.our-mission-text-block {
  float: left;
  width: 50%;
  padding-left: 8vw;
  max-width: 570px;
  line-height: 29px;
}

.our-mission-text-block h2 {
  margin-bottom: 25px;
}

.our-mission-text-block p {
  font-size: 20px;
}

.dog-in-box-section {
  width: 50%;
  float: right;
  text-align: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  background-image: url(../../assets/img/ovals-behind-dog-in-box.png);
}

.dog-in-box-section img {
  width: 80%;
}

.coming-soon {
  padding: 9em 8vw 0;
  background-image: url(../../assets/img/oval-coming-soon-section.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.coming-soon .dog-head-img {
  float: right;
  width: 325px;
}

.coming-soon section {
  width: 33%;
  display: -ms-inline-grid;
  display: inline-grid;
  padding-left: 25px;
}

.coming-soon section p:nth-child(3) {
  font-size: 22px;
  font-weight: 600;
  min-height: 75px;
}

.coming-soon .requirements-desktop {
  display: block;
  float: left;
  width: 33%;
}

.coming-soon .requirements-mobile {
  display: none;
}

.coming-soon li {
  color: #0e0b4d;
  font-size: 18px;
  font-family: 'Intro-Book';
  padding-left: 5px;
}

.coming-soon > section:first-of-type {
  padding-left: 0;
}

.coming-soon > section:first-of-type a {
  color: #645fc9;
  border-bottom: 1px solid;
  cursor: pointer;
}

@media screen and (max-width: 769px) {
  h2 {
    font-size: 20px;
  }
  .breeder-landing-top-block {
    background-image: url("../../assets/img/breeder-page-top-block-bg-mobile.jpg");
    background-position-x: right;
  }
  .breeder-landing-title {
    width: 100%;
    height: 100%;
    padding: 1em;
    margin: 2em 0 0;
    text-align: center;
  }
  .breeder-landing-title h1 {
    font-size: 28px;
    line-height: 28px;
  }
  .breeder-landing-title > p {
    width: 100%;
    margin: 15px 0;
  }
  .breeder-landing-title div {
    width: 100%;
  }
  .what-is-avail-block .grid-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 3em auto 1em;
  }
  .what-is-avail-block .grid-block .breeder-page-text,
  .what-is-avail-block .grid-block .breeder-profile-text {
    margin-top: 1.5em;
  }
  .what-is-avail-block .grid-block .breeder-profile-text {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }
  .what-is-avail-block .grid-block .breeder-profile-img-block {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    margin-top: 2em;
  }
  .what-is-avail-block .grid-block h3 {
    display: none;
  }
  .what-is-avail-block .grid-block h4 {
    font-size: 18px;
    text-align: center;
    margin-bottom: 1.5em;
    display: block;
  }
  .what-is-avail-block .grid-block button {
    display: none;
  }
  .what-is-avail-block .grid-block img, .what-is-avail-block .grid-block > div {
    width: 100%;
  }
  .what-is-avail-block .grid-block p {
    font-size: 14px !important;
    line-height: 19px !important;
    text-align: center;
  }
  .what-is-avail-block .mobile-sign-up-button {
    display: block;
    font-size: 14px;
  }
  .our-mission-coming-soon-blocks {
    background-position-x: left;
  }
  .our-mission {
    padding: unset;
    margin-top: 3em;
  }
  .our-mission h2 {
    margin-bottom: 20px;
  }
  .our-mission-text-block {
    width: 100%;
    padding-left: unset;
    padding: 0 1em;
  }
  .our-mission-text-block p {
    font-size: 14px;
    line-height: 19px;
  }
  .dog-in-box-section {
    width: 100%;
  }
  .dog-in-box-section img {
    width: 100%;
    padding: 1.25em;
  }
  .coming-soon {
    padding: 4em 1em 0;
    background-image: unset;
  }
  .coming-soon > p {
    margin-bottom: 0 !important;
    text-align: center;
  }
  .coming-soon .dog-head-img {
    width: 70%;
    float: unset;
  }
  .coming-soon section {
    width: 100%;
    margin-bottom: 2em;
    padding: unset;
  }
  .coming-soon section p:nth-child(3) {
    font-size: 18px;
  }
  .coming-soon section p {
    font-size: 14px;
  }
  .coming-soon section p:nth-child(3) {
    min-height: unset !important;
  }
  .coming-soon .requirements-desktop {
    display: none !important;
  }
  .coming-soon .requirements-mobile {
    display: block;
  }
  .coming-soon .requirements-mobile li {
    font-size: 14px;
  }
}

@media screen and (max-width: 321px) {
  .breeder-landing-title {
    margin: 1em 0 0;
  }
  .breeder-landing-title h1 {
    font-size: 24px;
    line-height: 24px;
  }
  .breeder-landing-title > p {
    font-size: 14px;
    margin: 10px 0;
  }
  .breeder-landing-title > div p {
    font-size: 14px;
    line-height: 18px;
  }
  .breeder-landing-title > div span {
    font-size: 12px;
    line-height: 16px;
  }
}
/*# sourceMappingURL=breeder-landing.component.css.map */