$block-padding: 8vw;

.breeder-landing-top-block{
    display: flex;
    flex-direction: column;
    height: 100vh;
    
    background-image: url('../../assets/img/breeder-page-top-block-bg.jpg');
    background-position: center bottom;
    background-size: cover;
    background-repeat: no-repeat;
}

.breeder-landing-title{
    display: flex;
    flex-direction: column;
    margin: 3vw $block-padding auto;
    width: 40em;

    h1{
        font-size: 38px;
        line-height: 45px;
        font-family: 'Intro-Bold';
    }

    button{
        margin-top: 50px;
    }
}

.what-is-avail-block{
    padding: 4em $block-padding;

    h2{
        text-align: center;
    }

    section{
        display: flex;

        h3, h4{
            margin-bottom: 1em;
        }

        button{
            margin-top: 1.5em;
        }

        img{
            width: 100%;
            align-self: center;
            max-width: 620px;
        }
    }

    .breeder-page-block{
        margin: 4em auto 5.5em;

        div:nth-child(1){
            width: 50%;
            h4{
                display: none;
            }

            img{
                float: right;
            }
        }
        div:nth-child(2){
            display: inline-flex;
            flex-direction: column;
            align-self: center;
            width: 50%;
            padding-left: 5%;

            p{
                max-width: 620px;
                font-size: 20px;
                line-height: 26px;
            }
        }
    }

    .breeder-profile-block{
        margin-bottom: 2em;

        &>div:nth-child(1){
            display: inline-flex;
            flex-direction: column;
            align-self: center;
            width: 50%;
            padding-left: 5%;

            div{
                align-self: flex-end;
                max-width: 620px;
            }

            p{
                font-size: 20px;
                line-height: 26px;
            }
        }

        div:nth-child(2){
            width: 50%;

            h4{
                display: none;
            }
        }
    }

    .mobile-sign-up-button{
        display: none;
    }
}

.our-mission-coming-soon-blocks{
    width: 100%;
    background-color: #f7f4f1;
    display: inline-block;
    background-image: url(../../assets/img/oval-behind-dog-head.png);
    background-repeat: no-repeat;
    background-position-y: bottom;
    background-position-x: right;
}
  
.our-mission{
    margin-top: 5em;
    display: inline-block;
    width: 100%
}
  
.our-mission-text-block{
    float: left;
    width: 50%;
    padding-left: $block-padding;
    max-width: 570px;
    line-height: 29px;

    h2{
        margin-bottom: 25px;
    }

    p{
        font-size: 20px;
    }
}
  
.dog-in-box-section{
    width: 50%;
    float: right;
    text-align: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    background-image: url(../../assets/img/ovals-behind-dog-in-box.png);

    img{
        width: 80%;
    }
}
  
.coming-soon{
    padding: 9em $block-padding 0;
    background-image: url(../../assets/img/oval-coming-soon-section.png);
    background-repeat: no-repeat;
    background-size: contain;

    .dog-head-img{
        float: right;
        width: 325px;
    }

    section{
        width: 33%;
        display: -ms-inline-grid;
        display: inline-grid;
        padding-left: 25px;
    }

    section p:nth-child(3){
        font-size: 22px;
        font-weight: 600;
        min-height: 75px;
    }

    .requirements-desktop {
        transition: all .2s linear;
        display: block;
        float: left;
        width: 33%;
    }

    .requirements-mobile{
        display: none;
    }
    
    .hidden {
        display: none !important;
        opacity: 0;
    }

    .visuallyhidden {
        opacity: 0;
    }

    li{
        color: #0e0b4d;
        font-size: 18px;
        font-family: 'Intro-Book';
        padding-left: 5px;
    }
}

.coming-soon > section:first-of-type{
    padding-left: 0;

    a{
        color: #645fc9;
        border-bottom: 1px solid;
        cursor: pointer;
    }
}
@media screen and (max-width: 769px){

    h2{
        font-size: 20px;
    }

    .breeder-landing-top-block{
        background-image: url('../../assets/img/breeder-page-top-block-bg-mobile.jpg');
        background-position-x: right;
    }

    .breeder-landing-title{
        padding: 1em;
        align-items: center;
        width: 100%;
        text-align: center;
        margin: 4em 0 0;

        h1{
            font-size: 28px;
            line-height: 28px;
        }

        button{
            margin-top: 2em;
        }
    }

    .what-is-avail-block{

        section{
            h4{
                font-size: 18px;
                text-align: center;
                margin-bottom: 1.5em;
            }

            img, &>div{
                width: 100%;
            }

            p{
                font-size: 14px !important;
                line-height: 19px !important;
                text-align: center;
            }
        }

        .breeder-page-block{
            flex-direction: column;
            margin: 2em auto 3em;

            div:nth-child(1){
                margin-bottom: 1.5em;
                width: 100%;
                h4{
                    display: block;
                }
            }

            div:nth-child(2){
                width: 100%;
                padding-left: 0;
                h3{
                    display: none;
                }
            }
        }

        .breeder-profile-block{
            flex-direction: column-reverse;

            div:nth-child(1){
                width: 100%;
                padding-left: 0;
                h3{
                    display: none;

                }
            }

            div:nth-child(2){
                margin-bottom: 1.5em;
                width: 100%;

                h4{
                    display: block;
                }
            }
            
            button{
                display: none;
            }
        }

        .mobile-sign-up-button{
            display: block;
            font-size: 14px;
        }
    }

    .our-mission-coming-soon-blocks{
        background-position-x: left;
    }

    .our-mission{
        padding: unset;
        margin-top: 3em;

        h2{
            margin-bottom: 20px;
        }
    }

    .our-mission-text-block{
        width: 100%;
        padding-left: unset;
        padding: 0 1em;

        p{
            font-size: 14px;
            line-height: 19px;
        }
    }

    .dog-in-box-section{
        width: 100%;

        img{
            width: 100%;
            padding: 1.25em;
        }
    }

    .coming-soon {
        padding: 4em 1em 0;
        background-image: unset;

        &> p{
            margin-bottom: 0 !important;
            text-align: center;
        }

        .dog-head-img{
            width: 70%;
            float: unset;
        }

        section{
            width: 100%;
            margin-bottom: 2em;
            padding: unset;

            p:nth-child(3){
                font-size: 18px;
            }

            p{
                font-size: 14px;
            }
        }

        section p:nth-child(3){
            min-height: unset !important;
        }

        .requirements-desktop{
            display: none !important;
        }

        .requirements-mobile {
            transition: all .2s linear;
            display: block;
            
            li{
                font-size: 14px;
            }
        }
    }

}