<div class="breeder-landing-top-block">
    <app-header class='header-for-landing'></app-header>
    <div class="breeder-landing-title">
        <div class="title-text">
            <h1>Платформа для профессиональных заводчиков</h1>
            <p>Получите современные инструменты для работы с клиентами и увеличьте вашу эффективность. Бесплатно.</p>
        </div>
        <div class="email-input-block">
            <p>Создайте свою страницу прямо сейчас</p>
            <input type="text" class="form-control custom-form-control-border" [(ngModel)]="newBreederEmail"
                placeholder="Ваш e-mail" [class.invalid-form-field-value]="emailError" />
            <button class="custom-btn btn-purple" (click)="freeSignUpClicked()">Получить страницу</button>
            <span>Регистрация займёт не более 1 минуты</span>
        </div>
    </div>
</div>



<div class="what-is-avail-block">
    <h2>ЧТО УЖЕ ДОСТУПНО?</h2>

    <div class="grid-block">
        <div class="img-block">
            <h4>Стильная индивидуальная страница</h4>
            <img src="./assets/img/breeder-page-thumbnail.png" alt="Стильная индивидуальная страница" />
        </div>
        <div class="breeder-page-text">
            <h3>Стильная индивидуальная страница</h3>
            <p>Заполнив профиль, вы бесплатно получите собственную страницу заводчика! Ее можно использовать в качестве
                персонального
                сайта-визитки. Помимо этого, она сама будет привлекать вам клиентов благодаря нашей рекламе.</p>
            <p>Грамотно оформленная страница показывает ваш профессионализм и повышает доверие у потенциальных
                покупателей.
                А довольные клиенты всегда смогут порекомендовать вас друзьям в один клик.
            </p>
        </div>

        <div class="breeder-profile-text">
            <div>
                <h3>Удобный личный кабинет</h3>
                <p>Предоставьте полную информацию о вашем питомнике за считанные минуты с любого устройства и начните
                    использовать свой персональный сайт уже сейчас!</p>
                <p style="font-family: 'Intro-Regular' !important;">Хотите получить эксклюзивный доступ к новым
                    инструментам, которые предоставят дополнительные возможности
                    для заработка? Заполните профиль до 1.02.20, и вы будете в числе первых пользователей.</p>

                <button class="custom-btn btn-purple" [routerLink]="['/sign-up']">БЕСПЛАТНАЯ РЕГИСТРАЦИЯ</button>
            </div>
        </div>
        <div class="img-block breeder-profile-img-block">
            <h4>Удобный личный кабинет</h4>
            <img src="./assets/img/breeder-profile-thumbnail.png" alt="Удобный личный кабинет" />
        </div>
    </div>

    <button class="custom-btn btn-purple mobile-sign-up-button" [routerLink]="['/sign-up']">БЕСПЛАТНАЯ РЕГИСТРАЦИЯ
    </button>

</div>



<div class="our-mission-coming-soon-blocks">
    <div class="our-mission">
        <section class="our-mission-text-block">
            <h2>НАША МИССИЯ</h2>
            <p style="margin-bottom: 20px;">Жизнь хорошего заводчика полна сложностей: бессонные ночи с щенками,
                постоянное обучение, отбор достойных покупателей,
                и это - лишь малая часть списка. Наша платформа помогает вам искать потенциальных хозяев и
                взаимодействовать
                с ними, а также хранить всю необходимую информацию на индивидуальной странице.</p>
            <p style="color: #645fc9;">Мы хотим, чтобы вы уделяли больше времени самому важному - выращиванию образцовых
                щенков, а Petman поможет вам
                со всем остальным.</p>
        </section>
        <section class="dog-in-box-section">
            <img src="./assets/img/dog-in-box.png" alt="Собачка в коробке">
            <br>
        </section>
    </div>
    <div class="coming-soon">
        <h2 style="margin-bottom: 2em;">УЖЕ СКОРО...</h2>
        <section>
            <img src="./assets/img/dog-in-hands.svg" alt="Собака в руках">
            <p></p>
            <p>Обученные покупатели, которые ищут именно вас</p>
            <p>Большинство покупателей не знают, чем хороший заводчик отличается от плохого, почему хороший щенок не
                может стоить
                дешево и многие другие тонкости. Наша платформа вооружит их нужной информацией, чтобы они были
                подготовлены
                к общению с вами. А благодаря
                <a (click)="requirements = !requirements">высоким требованиям</a> Petman к заводчикам, вас не будут
                сравнивать с обычными объявлениями по продаже питомцев.</p>
            <div *ngIf="requirements" class="requirements-mobile">
                <p>Каждый заводчик Petman предоставляет:</p>
                <ul>
                    <li>Комплект документов на щенка</li>
                    <li>Информацию о медицинских тестах</li>
                    <li>Договор купли-продажи</li>
                    <li>Гарантию на момент покупки</li>
                </ul>
            </div>
        </section>
        <section>
            <img src="./assets/img/gears.svg" alt="Шестеренки">
            <p></p>
            <p>Все взаимодействие в одном месте</p>
            <p>Мы знаем, что вы устали от повторяющихся вопросов, регулярных звонков с разных торговых площадок и
                отслеживания
                потенциальных покупателей. Petman намерен упростить процесс продажи ваших питомцев. С каждым покупателем
                у вас будет специальный чат, в котором он сможет посмотреть F.A.Q, подать заявку на щенка, провести
                безопасную сделку и даже заключить электронный договор.</p>
        </section>
        <section>
            <img src="./assets/img/fundraising.svg" alt="Сбор средств">
            <p></p>
            <p>Клиенты со всей страны</p>
            <p>Заводчики сталкиваются с множеством проблем при привлечении клиентов и предоставлении дополнительных
                сервисов.
                Мы берем продвижение вашего питомника на себя. Маркетинговые кампании и сервисы Petman позволят
                продавать
                ваших щенков по всей стране и забыть навсегда о недостатке клиентов. Вам останется лишь продолжать
                любимое
                дело и выращивать прекрасных и здоровых щенков!</p>
        </section>
        <div *ngIf="requirements" class="requirements-desktop">
            <p>Каждый заводчик Petman предоставляет:</p>
            <ul>
                <li>Комплект документов на щенка</li>
                <li>Информацию о медицинских тестах</li>
                <li>Договор купли-продажи</li>
                <li>Гарантию на момент покупки</li>
            </ul>
        </div>
        <p>
            <img class="dog-head-img" src="./assets/img/dog-head.png" alt="Голова собаки">
        </p>
    </div>
</div>