input[type=checkbox],
input[type=checkbox]:checked {
    display: none !important;
}



app-header {
    display: none;
}

.outer-conteiner {
    padding: 0 16px;
}
.delivery-range {
    position: relative;
    display: flex;
}
.breeds {
    display: flex;
    flex-wrap: wrap;
    display: block;
    margin-top: 18px;
}
.breed-class {
    margin-top: 0;
    display: block;
    width: 315px;
    line-height: 15px;
}

.breed {
    font-size: 12px !important;
    font-family: "Intro-Regular" !important;
    color: #0e0b4d;
    margin-left: 0 !important;
    text-transform: uppercase;
    opacity: 0.5;
    display: inline;
}

.breedI {
    margin-left: 5px !important;
    margin-right: 5px !important;
  }

.checkbox-item {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    img {
        width: 11px;
        height: 8px;
        margin-top: 12px;
        margin-right: 22px;
        background-image: url("/assets/img/search-page/search-checkbox.png");
        display: none;
    }
}

.checkbox-item:hover {
    img {

        display: block;
    }
}

.search-box {
    img {
        width: 18px;
        height: 18px;
        margin-top: 3px;
    }

}

:host {
    background: #ffffff;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin-top: 25px !important;
    margin: 0 auto;

    padding: 0;
    padding-bottom: 23px;
    border-bottom: 1px solid rgba(14, 11, 77, 0.1);

    max-width: 1170px;

    .logo img {
        width: 150px;
        outline: none;
    }

    .loginInput {
        border: solid 2px #645fc9;
    }
}

.outer-header {
    &.scrolled {
        position: fixed !important;
        top: 0;
        width: 100%;
        left: 0;

        box-shadow: 0 2px 24px 0 rgba(14, 11, 77, 0.1);
        background-color: #ffffff;

        z-index: 100;

        .header {
            display: flex;
            align-items: center;
            max-width: 100%;
            height: 80px;
            margin-bottom: 0 !important;
            margin-top: 10px !important;
            padding-bottom: 10px;
            border-bottom: none;
        }
    }
}

.container {
    max-width: 1200px;
}

.main {
    margin-top: 67px;
    &.extra-pading{
        padding-top: 96px;
    }
}

.page-header h3 {
    color: #645FC9;
}

.search-input {
    // position: relative;
    display: flex;
    flex-wrap: wrap;
    margin-left: -10px;
    width: 100%;
    margin: auto;
    input {
        padding-left: 18px;
    }

    &>div {
        margin: 12px;
        width: 100%;
        max-width: 336px;//420
        height: 50px;
        &:first-child{
            margin-left: 0;
        }
    }
}

.main-content {
    display: flex;
    flex-wrap: wrap;
    cursor: pointer;
    outline: none;
}

.bottom-delivery-content {
   display: flex;
   flex-wrap: wrap;
   margin-bottom: 30px;
}

.search-content {
    position: relative;
    margin-top: 30px;
    display: flex;
    flex-wrap: nowrap;
    max-width: 870px;
    height: 320px;
    border-radius: 4px;
    border: solid 1px #cbd8f6;
    background-color: #ffffff;
    h3 {
        font-size: 22px;
        color: #0e0b4d;
    }

    p {
        font-size: 14px;
        line-height: 1.36;
        color: #0e0b4d;
    }

    p:first-child {
        opacity: 0.5;
        font-size: 12px;
    }

    .p-text {
        margin: 40px 0 0 0;
        opacity: 0.6;
         height: 95px;
        width: 447px;
       // text-overflow: ellipsis !important;
        // overflow-y: scroll;
        font-family: 'Intro-Book';
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 5;
        -webkit-box-orient: vertical;
    }
}

.search-right {
    margin: 20px 26px 0 26px;
    max-width: 450px !important; //new
}
.search-main {
    width: 628px !important; //new
}
.serach-sub-right {
    display: flex;
    justify-content: space-between;
}

.desktop-puppies { //number
    margin-top: 16px;
    font-size: 16px;
    display: flex !important;
    flex-wrap: nowrap;

    div:first-child {
        font-size: 18px;
        color: #645fc9;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        line-height: 30px;
        background: #fff;
        border: 1px solid #645fc9;
        text-align: center;
    }

    div:last-child {
        margin: 3px 9px;
    }
}

.dog {
    width: 370px;
    height: 320px;
    padding: 1px;
    padding-right: 0;
   // padding-left: 49px;
    text-align: right;
    margin-top: -25px;

    img {
        border-bottom-right-radius: 4px;
        border-top-right-radius: 4px;
        max-width: 100%;
        max-height: 100%;
        margin-top: -2px;
        margin-left: 1px;
        width: 370px !important;
        height: 320px !important;
    }
}

.location-content {
    height: 20px;
} 

.location-content-sub {
    display: flex;
    flex-wrap: nowrap;
    font-size: 16px;
    color: #0e0b4d;
    font-family: Intro-Book;
}

.icon-location {
    margin-right: 8px;
    display: inline-block;
    content: '';
    width: 16px;
    height: 19px;
    background-image: url("/assets/img/breeder-page/group-3.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
}

.dogs-parod {
    height: 233px;
    border-radius: 4px;
    border: solid 1px #7873d0;
    background-color: #ffffff;
    color: #0e0b4d;
    margin-top: 30px;
    margin-left: 30px;
    padding: 30px;
    font-family: "Intro-Book";
    background-image: url("/assets/img/search-page/blue_lapa.svg");
    background-position: right bottom;
    background-repeat: no-repeat;
    position: sticky;
    top: 110px;
    h3 {
        font-size: 16px;
        font-family: "Intro-Regular";

    }
    &>div {
        display: flex;
        font-size: 14px;
        margin-top: 20px;
        img {
            padding-right: 5px;
        }
        &>div:last-child {
            margin: 5px 0 0 7px;
        }
    }
}

.delivery {
    width: 270px;
    height: 403px;
    border-radius: 4px;
    background: #FFFFFF;
    border: 1px solid #645FC9;
    border-radius: 4px;
    margin-left: 30px !important;
    margin-top: 30px !important;
    margin: 0 auto;
    text-align: center;
    color: #0E0B4D;
    position: sticky !important;
    top: 110px !important; 
    img {
        margin-top: -50px;
    }
  }

  .delivery-russian {
    font-family: "Intro-Regular";
    font-size: 16px;
    line-height: 19px;
    color: #0E0B4D;
    margin-top: 12px;
    padding-left: 33px;
    padding-right: 33px;
  }

  .delivery-text {
    font-family: "Intro-Book";
    font-size: 14px;
    margin-top: 12px;
    line-height: 130%;
    padding-left: 33px;
    padding-right: 33px;
  }

  .delivery-mobile {
      display: none;
  }

  .about-more {
    border-top: 1px solid #645FC9;
    font-family: "Intro-Regular";
    font-size: 14px;
    line-height: 16px;
    color: #645FC9;
    padding: 15px;
    &:hover {
        cursor: pointer;
    }    
 }

.delivery-input {
    position: relative;
    width: 120px !important; //134
    ng-select, ng-placeholder  {
        color: #0E0B4D !important; 
    } 
}

.mobile-input-content {
    display: none;
}

.search-info {
    margin-top: 30px;
    max-width: 870px;
    border-radius: 4px;
    margin-bottom: 32px;
    background-color: #f7f4f1;
    display: flex;
    flex-wrap: wrap;
    background-image: url("/assets/img/search-page/lapa_white.svg");
    background-position: right bottom;
    background-repeat: no-repeat;
    padding: 44px 0px 44px 27px;
    width: 100% !important;
    height: 210px;
}

.info-left {
    margin-left: 85px;
    font-size: 16px;

    .custom-btn {
        width: 320px;
        height: 52px;
        border-radius: 25px;
        font-size: 18px;
        margin-top: 16px;
    }
}

.send-form {
    margin-left: 150px;

    .heart-chat {
        margin: -50px 0px 0px 83px;
    }
}

.info-right {
    h3 {
        width: 387px;
        font-size: 22px;
        color: #0e0b4d;
    }
    p {
        width: 387px;
        font-size: 14px;
        line-height: 1.36;
        color: #0e0b4d;
    }
}

.heart-info {
    width: 100%;
    margin-top: 30px;
    margin-bottom: 32px;
    max-width: 870px;
    border-radius: 4px;
    background-color: #f7f4f1;
    display: flex;
    flex-wrap: wrap;
    background-image: url("/assets/img/search-page/lapa_white.svg");
    background-position: right bottom;
    background-repeat: no-repeat;
    padding: 0 0 44px 27px;

    h3 {
        margin-top: 68px;
    }

    .info-left {
        margin-top: 36px;
    }

}

.pagenation {
    max-width: 870px;
    margin: 0px 0px 46px;
    display: flex;
    justify-content: center;
    font-size: 14px;
}

.dog-mobile {
    display: none;
}


.search-meta {
    z-index: 3;
    width: 470px;
    border-radius: 3px;
    border: solid 1px #cbd8f6;
    background-color: #ffffff;
    font-family: 'Intro-Book';
    font-size: 14px;
    position: relative;

    .all-search-data {
        max-height: 300px;
        overflow-y: auto;
        position: absolute;
        top: 100%;
        left: -1px;
        background: white;
        border-radius: 0 0 3px 3px;
        box-shadow: 0 12px 24px 0 rgba(14, 11, 77, 0.1);
        border: solid 1px #cbd8f6;
        background-color: #ffffff;
        border-top: 0;
        width: 470px;
        box-sizing: border-box;
    }

    .dropdown-text-input {
        z-index: 1;
    }
}

input.metaInput {
    border: none;
    border-radius: 0;
    padding-left: 20px;
}

input.metaInput:focus {
    outline: none !important;
    box-shadow: none !important;
    border: none;
    border-bottom: 1px solid #ffffff;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: #ffffff !important;
}

div.metaName {
    width: calc(100% - 8px);
    height: 52px;
    background-color: #ffffff;
    margin-left: 8px;
    margin-right: 8px;
    border-top: solid 1px #e3e5ea;
    padding: 16px 0 0 10px;
}

.avatar-wrap {
    border-radius: 100px;
    overflow: hidden;
}

.nav-menu {
    display: flex;
    align-items: center;

    &--item {
        cursor: pointer;
        margin-left: 38px;

        a {
            color: #0e0b4d !important;
            background-color: transparent;
            font-size: 18px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            text-decoration: none !important;
        }
    }
}

.menu-toggle {
    display: none;
    padding: none;
    outline: none;
    background: none;
    border: none;
    cursor: pointer;
}

.search-content-wrap {
    display: flex;
    flex-wrap: wrap;
}

.mobile-puppies {
    display: none;
}

.range-modal-content {
   display: flex;
   flex-wrap: nowrap;
}

.range-modal {
    background: #FFFFFF;
    border: 1px solid #CBD8F6;
    box-sizing: border-box;
    border-radius: 10px;
    width: 306px !important;
    height: 135px !important;
    padding: 20px !important;
    position: absolute;
    top: 72px;
    right: 210px;
    z-index: 12;
}


.range-modal:after,
.range-modal:before {
  bottom: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.range-modal:after {
  border-color: rgba(255, 255, 255, 0);
  border-bottom-color: #ffffff;
  border-width: 13px;
  left: 85%;
  margin-left: -19px;
}

.range-modal:before {
  border-color: rgba(113, 158, 206, 0);
  border-bottom-color: #CBD8F6;
  border-width: 14px;
  left: 85%;
  margin-left: -20px;
}

.tooltip-text {
    width: 200px !important;
    margin-left: 15px;
}

.hide-button {
    margin-left: 15px;
}

.about-more-range {
    font-family: "Intro-Regular";
    margin-left: 36px;
    margin-top: 8px;
    margin-bottom: 20px;
    font-size: 14px;
    color: #645FC9;
    &:hover {
        cursor: pointer;
    }    
 }

.about-more-tooltip {
    font-family: "Intro-Regular";
    font-size: 14px;
    color: #645FC9;
    padding: 15px;
    &:hover {
        cursor: pointer;
    }    
 }

 .help {
    margin-left: 7px;
    &:hover {
        cursor: pointer;
    }
}

@media screen and (max-width: 1200px) {
    .search-content-wrap {
        flex-flow: column-reverse;
        align-items: center;
        justify-content: center;
    }

    .dogs-parod {
        position: relative;
        top: 0;
    }
}


@media screen and (max-width: 769px) {
    .main-search {
        margin-top: -10px;//22px;
    }

    .main {
        margin-top: 30px; 
    }

    .breeds {
        margin-top: 0;
    }

    .breed-class {
        margin-top: 0; 
    }

    .search-content-wrap {
        flex-flow: column-reverse;
        align-items: center;
        justify-content: center;
    }

    .main-content {
        justify-content: center;
    }
    
    .main {
        &.extra-pading{
            padding-top: 75px;
        }
    }

    .search-input {
        justify-content: center;
    }

    .search-input>div {
        margin: 12px 0;
    }

    .menu-toggle {
        display: flex;
    }

    .nav-menu {
        position: absolute;
        top: calc(100% + 1px);
        z-index: 1;
        border-radius: 0 0 4px 4px;
        box-shadow: 0 8px 10px 0 rgba(14, 11, 77, 0.1);
        background-color: #ffffff;
        padding: 0 15px;
        border-top: 0;
        width: calc(100% + 32px);
        left: -16px;
        display: none;

        &.show {
            display: block;
        }

        &--item {
            cursor: pointer;
            margin-left: 0;
            padding: 0;

            &:not(:last-child) {
                border-bottom: 1px solid rgba(14, 11, 77, 0.1);
            }

            a {
                font-size: 14px;
                width: 100%;
                display: block;
                height: 100%;
                padding: 16px 0;
            }
        }
    }

    .search-meta {
        display: none !important;
    }

    .header {
        margin-left: 0 !important;
        position: relative;
        top: 50%;
        height: 65px !important;
        &.non-border {
            border-bottom: 1px solid rgba(0, 0, 0, 0);
        }
    }

    .login {
        margin-right: 12px;
    }

    .container {
        .top-line {
            width: 328px;
            height: 1px;
            opacity: 0.1;
            background-color: #0e0b4d;
            margin-top: 10px;
        }
    }

    .search-info {
        padding: 20px;
        background-image: none;
        margin-left: auto;
        margin-right: auto;
        width: 100% !important;
        height: 225px;
    }

    .email-button {
        margin-top: 22px !important;

    }

    .heart-info {
        width: 100% !important;
        padding: 20px;
        background-image: none;
    }
    .invalid-field-message {
        font-size: 13px !important;
    }

    .info-right {
        h3 {
            width: 100%;
            max-width: 288px;
            font-size: 14px;
            margin: 0px;
        }

        p:last-child {
            width: 100%;
            max-width: 288px;
            font-size: 13px;
            margin-top: 5px;
        }
    }

    .info-left {
        margin: -5px 0 0 0;//12px 0 0 0;
        width: 100%;

        .custom-btn {
            width: 100%;
            max-width: 284px;
            height: 44px;
            border-radius: 30px;
            font-size: 14px;
        }

        .dropdown-text-input {
            width: 100%;
            max-width: 284px;
            height: 40px;
            font-size: 14px;
        }
    }

    .send-form {
        margin-left: 70px;
    }

    .search-content {
        height: auto !important;
        border: solid 1px #cbd8f6 !important;
        width: 100% !important;
        //margin-top: 0px;
        h3 {
            font-size: 18px;
        }

        img {
            margin: 0 !important;
        }

        .serach-content-girl, .dog {
            display: none !important;
        }
    }

    .search-right {
        //margin: -31px 0 0 0 !important;
        margin: 0 !important;   
        width: 100%;
        height: auto;


        .main-serach-sub-right {
            padding: 20px !important;
            margin-top: 0;
            width: 100%;
            height: auto;
        }

        .dog-mobile {
            display: block;
            margin-top: -1px;
            margin-left: -13px;
            width: 100%;
            margin: 0;
            height: auto;
            img {
                border-top-right-radius: 4px;
                border-top-left-radius: 4px;
                overflow: hidden;
                width: 100%;
                height: auto;
            }
        }
    }

    .slider-img {
         position: relative;
    }

    .dogs-parod {
        margin: 20px 0 0 0;
        width: 100% !important;
        height: 150px;
        padding: 16px 0 10px 20px;
        position: relative;
        top: 0;
        max-width: 420px;
        left: 0;
        .circle {
            width: 8px;
            height: 8px;
            background-color: #645fc9;
            border-radius: 50%;
        }
        p {
            font-size: 14px;
            margin: 0px;
        }
        &>div {
            font-size: 13px;
            margin-top: 15px;
            display: flex;
            img {
                display: none;
            }
            &>div:last-child {
                margin: -5px 0 0 10px !important;
            }
        }
    }

    .delivery {
        width: 100% !important;
        height: auto;
        margin: 0 !important;
        margin-top: 50px !important;
        position: sticky !important;
        max-width: 420px;
        left: 0;
    }

    .delivery-desktop {
        display: none;
    }

     .delivery-mobile {
         display: block;
     }

    .p-text {
        display: none !important;
        width: 99% !important;
        height: 0 !important;
        margin: 5px 0 0 0 !important;
    }

    .breedI {
        margin-left: 5px !important;
        margin-right: 5px !important;
    }
  
    .mobile-puppies  { //number
        position: absolute;
        z-index: 11;
        margin-top: 20px;
        margin-left: 20px;
        font-size: 14px;
        display: flex !important;
        flex-wrap: nowrap;
        justify-content: center;
        background: radial-gradient(99.56% 99.56% at -10.96% -50.14%, #9D98E6 0%, #645FC9 100%);
        border-radius: 50px;
        width: 91px;
        height: 40px;
        color: #FFFFFF;
        padding: 5px;
        div:first-child {
            font-size: 14px;
            color: #fff;
            border-radius: 50%;
            width: 20px;
            height: 20px;
            line-height: 20px;
            background: #645fc9;
            border: 1px solid #fff;
            text-align: center;
            margin-top: 5px;
        }
        div:last-child {
            margin-left: 5px;
            margin-top: 5px;
        }
    }

    .location-content-sub {
        font-size: 14px;
    }

    .desktop-puppies {
        display: none !important;
    }

    .main-search {
        width: 100% !important;
        overflow: hidden;
    }

    .location-content {
        height:  auto !important;
    }

    .mobile-input-content {
        display: flex;
        flex-wrap: nowrap;
    }
    
    .help {
        margin-left: 7px;
    }

    .desktop-city, .desktop-delivery, .desktop-help {
        display: none;
    }

    .range-modal {
        top: 150px;
        left: 6px;
    }

    .delivery-nosearch {
        margin-top: 20px !important;
    }

    .bottom-delivery-content {
        justify-content: center !important;
    }

    .dropdown-city-moble {
        min-width: 190px;
    }

    .delivery-range {
        margin-top: -61px !important;
    }
 
}
