<div class="container header">
    <div class="logo">
        <img src="./assets/img/logo.png" alt="PawMe логотип" [routerLink]="['/breeder-landing']">
    </div>
    <div class="login">
        <input type="button" class="custom-btn btn-transparent" value="Войти" [routerLink]="['/login']" />
    </div>
</div>
<div class="container main">
    <div class="page-header">
        <div class="top-line"></div>
        <h3>НАШИ ЗАВОДЧИКИ</h3>
    </div>
    <div class="search-input">    
        <div class="dropdown-text-input">
            <input  type="text" class="form-control custom-form-control-border" placeholder="Порода">
            <img src="./assets/img/arrow-down.svg" alt="Стрелка вниз"/>
        </div>
        <div class="dropdown-text-input">
            <input  type="text" class="form-control custom-form-control-border" placeholder="Все города">
            <img src="./assets/img/arrow-down.svg" alt="Стрелка вниз" />
        </div>
    </div>
    <div class="main-content">
        <div class="search-content">   
            <div class="search-right">
                <div class="dog-mobile"></div>
                <div class="main-serach-sub-right">
                    <div class="serach-sub-right">
                        <div class="location-content">
                            <h3>Сладкие мопсы </h3>
                            <div class="location-content-sub">
                                <div class="location"><i class="icon icon-location"></i></div>
                                <div>Челябинск</div>
                            </div>
                        </div>
                        <div class="serach-content-girl">
                            <img src="./assets/img/search-page/girl1.png" alt=""/>
                        </div>
                    </div>
                    <p class="p-text">
                        Значимость этих проблем настолько очевидна, что консультация с широким активом способствует подготовки и реализации новых предложений. С другой стороны укрепление и развитие структуры требуют от нас анализа позиций, занимаемых участниками в отношении поставленных задач. 
                    </p>
                    <div class="number">
                        <div>2</div> 
                        <div>доступных щенка</div>
                    </div>
                </div>
            </div>
            <div class="dog">
                <img src="./assets/img/search-page/dog1.png" alt=""/>
            </div>
        </div>
        <div class="dogs-parod">
            <h3>Характеристики породы</h3>
            <div>
                <div class="circle"></div>
                <img src="./assets/img/search-page/energy.svg" alt=""/>
                <div>Много энергии</div>
            </div>
            <div>
                <div class="circle"></div>
                <img src="./assets/img/search-page/high_allergy.svg" alt=""/>
                <div class="">Сильно линяет</div>
            </div>            
            <div>
                <div class="circle"></div>
                <img src="./assets/img/search-page/allergy_low.svg" alt=""/>
                <div>Высокая аллергенность</div>
            </div>
        </div>
    </div>
    <div class="search-info">
        <div class="info-right">
            <h3>Не нашли подходящего заводчика на платформе?</h3>
            <p>Оставьте заявку и наши специалисты постараются найти для вас профессионала</p>
        </div>
        <div class="info-left">
            <div class="dropdown-text-input">
                <input  type="text" class="form-control custom-form-control-border" placeholder="Ваш e-mail">
            </div>
            <input type="button" class="custom-btn btn-purple" value="Отправить" />
        </div>
    </div>
    <div class="heart-info">
        <div class="info-right info-bottom">
            <h3 class="thaks">Спасибо за заявку!</h3>
            <p>Мы уже работаем над вашим запросом</p>
        </div>
        <div class="info-left send-form">
            <img src="./assets/img/search-page/mail.svg" alt=""/>
            <div class="heart-chat"><img src="./assets/img/search-page/heart.svg" alt=""/></div>
        </div>
    </div>
    <div class="pagenation">           
        <div>1</div><div>2</div><div>3</div><div>4</div><div>5</div> 
        <div><img src="./assets/img/search-page/next.png" alt=""/></div> 
    </div>
</div>
