input[type=checkbox],
input[type=checkbox]:checked {
    display: none !important;
}

app-header {
    display: none
}

.checkbox-item {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;

    img {
        width: 11px;
        height: 8px;
        margin-top: 12px;
        margin-right: 22px;
        background-image: url("/assets/img/search-page/search-checkbox.png");
        display: none;
    }
}

.checkbox-item:hover {
    img {

        display: block;
    }
}

.search-box {
    img {
        width: 18px;
        height: 18px;
        margin-top: 3px;
    }

}

:host {
    background: #ffffff;
}

.header {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin-top: 25px !important;
    margin: 0 auto;

    .logo img {
        width: 150px;
        outline: none;
    }

    .loginInput {
        border: solid 2px #645fc9;
    }

    &.scrolled {
        position: fixed;
        top: 0;
        margin: 0 !IMPORTANT;
        width: 100%;
        left: 0;
        max-width: 100%;
        height: 80px;
        box-shadow: 0 2px 24px 0 rgba(14, 11, 77, 0.1);
        background-color: #ffffff;
        display: flex;
        align-items: center;
        z-index: 100;
    }
}

.container {
    max-width: 1200px;
    //position: absolute;

}

.main {
    margin-top: 90px;
}

.page-header h3 {
    color: #645FC9;
}

.search-input {
    display: flex;
    flex-wrap: wrap;
    margin-left: -10px;

    input {
        padding-left: 18px;
    }

    &>div {
        margin: 12px;
        width: 420px;
        height: 50px;
    }
}

.main-content {
    display: flex;
    flex-wrap: wrap;
    cursor: pointer;
    outline: none;
}

.search-content {
    margin-top: 30px;
    display: flex;
    flex-wrap: nowrap;
    max-width: 870px;
    //justify-content: space-between;
    height: 320px;
    border-radius: 4px;
    border: solid 1px #cbd8f6;
    background-color: #ffffff;

    h3 {
        font-size: 22px;
        color: #0e0b4d;
        margin-top: 14px;
    }

    p {
        font-size: 14px;
        line-height: 1.36;
        color: #0e0b4d;
        margin: 5px;
    }

    p:first-child {
        opacity: 0.5;
        font-size: 12px;
    }

    .p-text {
        margin: 20px 0 0 0;
        opacity: 0.6;
        height: 95px;
        //max-width: 447px;
        width: 447px;
        overflow-y: auto;
    }
}

.search-right {
    margin: 18px 26px 0 26px;

    .serach-sub-right {
        display: flex;
        justify-content: space-between;
    }
}

.number {
    margin-top: 28px;
    font-size: 16px;
    display: flex;
    flex-wrap: nowrap;

    div:first-child {
        font-size: 18px;
        color: #645fc9;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        line-height: 30px;
        background: #fff;
        border: 1px solid #645fc9;
        text-align: center;
    }

    div:last-child {
        margin: 3px 9px;
    }
}

.dog {
    width: 370px;
    height: 320px;
    padding: 1px;
    padding-right: 0;
    padding-left: 49px;
    text-align: right;

    img {
        border-bottom-right-radius: 4px;
        border-top-right-radius: 4px;
        max-width: 100%;
        max-height: 100%;
        margin-top: -1px;
        margin-left: 1px;
    }
}

.location-content-sub {
    display: flex;
    flex-wrap: nowrap;
    font-size: 16px;
    color: #0e0b4d;
    font-family: Intro-Book;
}

.icon-location {
    margin-right: 8px;
    display: inline-block;
    content: '';
    width: 16px;
    height: 19px;
    background-image: url("/assets/img/breeder-page/group-3.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
}

.dogs-parod {
    height: 233px;
    border-radius: 4px;
    border: solid 1px #7873d0;
    background-color: #ffffff;
    color: #0e0b4d;
    margin-top: 30px;
    margin-left: 30px;
    padding: 30px;
    font-family: Intro-Book;
    background-image: url("/assets/img/search-page/blue_lapa.svg");
    background-position: right bottom;
    background-repeat: no-repeat;

    h3 {
        font-size: 16px;
        font-family: Intro-Regular;

    }

    &>div {
        display: flex;
        font-size: 14px;
        margin-top: 20px;

        img {
            padding-right: 5px;
        }

        &>div:last-child {
            margin: 5px 0 0 7px;
        }
    }
}

.search-info {
    margin-top: 30px;
    max-width: 870px;
    border-radius: 4px;
    margin-bottom: 32px;
    background-color: #f7f4f1;
    display: flex;
    flex-wrap: wrap;
    background-image: url("/assets/img/search-page/lapa_white.svg");
    background-position: right bottom;
    background-repeat: no-repeat;
    padding: 44px 0px 44px 27px;
}

.info-left {
    margin-left: 85px;
    font-size: 16px;

    .custom-btn {
        width: 320px;
        height: 52px;
        border-radius: 25px;
        font-size: 18px;
        margin-top: 16px;
    }
}

.send-form {
    margin-left: 150px;

    .heart-chat {
        margin: -50px 0px 0px 83px;
    }
}

.info-right {
    h3 {
        width: 387px;
        font-size: 22px;
        color: #0e0b4d;
    }

    p {
        width: 387px;
        font-size: 14px;
        line-height: 1.36;
        color: #0e0b4d;
    }
}

.heart-info {
    margin-top: 30px;
    margin-bottom: 32px;
    max-width: 870px;
    border-radius: 4px;
    background-color: #f7f4f1;
    display: flex;
    flex-wrap: wrap;
    background-image: url("/assets/img/search-page/lapa_white.svg");
    background-position: right bottom;
    background-repeat: no-repeat;
    padding: 0 0 44px 27px;

    h3 {
        margin-top: 68px;
    }

    .info-left {
        margin-top: 36px;
    }

}

.pagenation {
    max-width: 870px;
    margin: 0px 0px 46px;
    display: flex;
    justify-content: center;
    font-size: 14px;
    // color: #7f889a !important;
    // &> div{
    //    // margin: 11px;
    //    // padding-top: 5px !important; 
    // }
    // div:first-child {
    //     background: #645fc9;
    //     border-radius: 50%;
    //     width: 32px;
    //     height: 32px;            
    //     color: #fff;
    //     text-align: center;
    // }
    // div:last-child {
    //     padding-top: 0px !important; 
    // }
}

.dog-mobile {
    display: none;
}

// table {
//     background-color: #ffffff;
//     position: absolute;
//     z-index: 1;
//     color: #0e0b4d;
//     border: 1px solid #cbd8f6;
//     //border: 1px solid red;
// }
.search-meta {
    z-index: 3;
    width: 470px;
    //height: 421px;
    border-radius: 3px;
    border: solid 1px #cbd8f6;
    background-color: #ffffff;
    font-family: 'Intro-Book';
    font-size: 14px;
    position: relative;

    .all-search-data {
        max-height: 300px;
        overflow-y: auto;
        position: absolute;
        top: 100%;
        left: -1px;
        background: white;
        border-radius: 0 0 3px 3px;
        box-shadow: 0 12px 24px 0 rgba(14, 11, 77, 0.1);
        border: solid 1px #cbd8f6;
        background-color: #ffffff;
        border-top: 0;
        width: 470px;
        box-sizing: border-box;
    }
    .dropdown-text-input{
        z-index: 1;
    }
}

input.metaInput {
    border: none;
    border-radius: 0;
    // border: 1px solid #cbd8f6;
    //padding: 10px 0 0 20px;
    padding-left: 20px;
}

input.metaInput:focus {
    outline: none !important;
    box-shadow: none !important;
    border: none;
    border-bottom: 1px solid #ffffff;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: #ffffff !important;
}

div.metaName {
    width: calc(100% - 8px);
    height: 52px;
    // background-color: #f8f9fb;   ///selected
    background-color: #ffffff;
    margin-left: 8px;
    margin-right: 8px;

    border-top: solid 1px #e3e5ea;
    padding: 16px 0 0 10px;
}

.avatar-wrap{
    border-radius: 100px;
    overflow: hidden;
}

@media screen and (max-width: 769px) {

    .search-meta {
        // position: absolute;
        // z-index: 1;
        // left: 5%;
        // top: 5%;
        // bottom: 5%;
        // width: 320px;
        display: none !important;
        // margin: 40px;

    }

    .header {
        margin: 25px;
        // flex-wrap: wrap !important;
        // background-color: red;
        top: 50%;
    }

    .login {
        margin-right: 12px;
    }

    .container {
        margin: 8px;

        .top-line {
            width: 328px;
            height: 1px;
            opacity: 0.1;
            background-color: #0e0b4d;
            margin-top: 10px;
        }

        h3 {
            margin-top: 20px;
        }
    }

    .search-info {
        width: 332px;
        padding: 20px;
        background-image: none;
    }

    .heart-info {
        width: 332px;
        padding: 20px;
        background-image: none;
    }

    .info-right {
        h3 {
            width: 288px;
            font-size: 14px;
            margin: 0px;
        }

        p:last-child {
            width: 288px;
            font-size: 13px;
            margin-top: 5px;
        }
    }

    .info-left {
        margin: 12px 0 0 0;

        .custom-btn {
            width: 284px;
            height: 44px;
            border-radius: 30px;
            font-size: 14px;
        }

        .dropdown-text-input {
            width: 284px;
            height: 40px;
            font-size: 14px;
        }
    }

    .send-form {
        margin-left: 80px;
    }

    .search-content {
        width: 332px !important;
        height: auto !important;
        border: solid 1px #cbd8f6 !important;

        img {
            width: 332px !important;
            border-radius: none;
            margin-left: 12px !important;
        }

        .serach-content-girl,
        .dog {
            display: none !important;
        }
    }

    .search-right {
        margin: 0px !important;

        .main-serach-sub-right {
            padding: 20px !important;
            margin-top: 20px;
        }

        .dog-mobile {
            // background-image: url("/assets/img/search-page/dog1.png");
            // background-repeat: no-repeat;
            display: block;
            width: 332px;
            height: 284px;
            margin-top: -1px;
            margin-left: -13px;
            object-fit: contain;

        }
    }

    .dogs-parod {
        margin: 20px 0 0 0;
        width: 332px !important;
        height: 150px;
        padding: 0 0 10px 20px;

        .circle {
            width: 8px;
            height: 8px;
            background-color: #645fc9;
            border-radius: 50%;
        }

        p {
            font-size: 14px;
            margin: 0px;
        }

        &>div {
            font-size: 13px;
            margin-top: 15px;
            display: flex;

            img {
                display: none;
            }

            &>div:last-child {
                margin: -5px 0 0 10px !important;
            }
        }
    }

    .p-text {
        width: 288px !important;
    }
}