span{
    font-size: 14px;

    a{
        text-decoration: underline;
        transition: none;
        color: #0275d8;

        &:hover{
            color: #014c8c;
        }
    }
}

.login-error-message-block{
    display: block;
    margin: 0 auto;
}

input[type=button]{
    display: block;
    width: 50%;
    margin: 0 auto;
    padding: 15px 35px;
}

@media screen and (max-width: 769px){
    input[type=button]{
        width: 80%;
    }
}