input[type=checkbox]{
    position: relative;
    top: 2px;
}

.kit-avail-block,
.contract-block{
    padding: 2em 1em;
    border-radius: 4px;
    grid-column: 1/3;
    background-image: url("../../../assets/img/about-puppies-paw.png");
    background-position: bottom right;
    background-repeat: no-repeat;

    &> input{
        margin-right: 10px;
    }

    label{
        max-width: calc(100% - 30px);
    }

    &> span:nth-child(1){
        font-size: 16px;
        font-family: 'Intro-Regular';
    }
}

.kit-avail-block{
    background-color: rgba(77, 190, 187, 0.2);

    &> p{
        line-height: 19px;
        font-size: 14px;
        margin-top: 5px;
        font-family: 'Intro-Book';
    }
}

.contract-block{
    background-color: rgba(203, 216, 246, 0.5);

    a{
        color: #645fc9;
        border-bottom: 1px dotted #645fc9;
        font-family: 'Intro-Regular';
        margin: 1em 0;
        display: inline-block;

        &:hover{
            text-decoration: none;
        }
    }
}

.medicine-block{
    grid-column: 1/3;
}

.medicine-checkboxs-list{
    display: grid;
    grid-template: auto / 50% 50%;
    grid-row-gap: .5em;
    margin-top: 16px;
}

.why-its-important{
    text-align: right;
    
    span{
        color: #645fc9;
        font-size: 16px;
        font-family: 'Intro-Regular';
        cursor: pointer;
        white-space: nowrap;
    }
}

.puppies-gifts-block{
    grid-column: 1/3;
}

@media screen and (max-width: 769px){
    .form-check-label{
        font-size: 13px !important;
    }

    .kit-avail-block{
        &>span{
            font-size: 14px;
        }

        &>p{
            font-size: 13px;
        }
    }

    .contract-block{
        span:nth-child(1){
            font-size: 14px;
        }

        span.block-description{
            font-size: 13px !important;
        }

        a{
            margin: 0 0 1em;
        }
    }    

    .medicine-checkboxs-list{
        display: block;

        .custom-checkbox{
            margin: .5em 0 .75em;
        }
    }

    .why-its-important{
        text-align: left;
        margin: -1em 0 1.5em;
        
        span{
            color: #645fc9;
            font-size: 14px;
            cursor: pointer;
            white-space: nowrap;
        }
    }
}

.custom-btn {
    min-width: 230px;
}