
<div class="breeder-profile-subpage-container">
    <div class="show-notification">
        <img  src="./assets/img/breeder-page/attention.svg" />
        <div class="message">Заполните все обязательные поля, чтобы мы засчитали вам этот раздел</div>
    </div>
    <div class="page-header">
        <h3>Правило продажи</h3>
    </div>
   
    <div class="upper-btn">
        <button type="submit" class="custom-btn btn-purple" (click)="saveChanges(false)" [disabled]="isLoading">{{!isLoading ? 'Сохранить изменения' : ''}}
            <div *ngIf="isLoading" class="loader"></div>
        </button>
    </div>
    <div class="contract-block">
            <span>Обязательный договор Petman c гарантией</span>
            <br>
            <span class="block-description">Для защиты покупателей от недобросовестных заводчиков наши юристы составили стандартный договор купли/продажи. В
                него включена гарантия по здоровью щенка на момент покупки.</span>
            <a [routerLink]="['/docs/contract.pdf']" target="_blank">Посмотреть договор</a>
            <br>
            <div class="custom-checkbox">
                <div (click)="puppiesData.petmanContract = !puppiesData.petmanContract; updateLocalData(); focusCheck('contract');" [class.invalid-form-field-value]="isFocused['contract'] && errors && errors.includes('contract') || (customeValidator && errors && errors.includes('contract'))">
                    <img *ngIf="puppiesData.petmanContract" src="./assets/img/check-mark.png" />
                </div>
                <label>Подтверждаю готовность использовать договор</label>
            </div>
        </div>
    <div class="kit-avail-block">
        <span>Обязательный комплект Petman</span>
        <br>
        <p>Мы против мошенников, поэтому у каждого щенка должна быть
            <strong>метрика (родословная), ветеринарный паспорт
            </strong> и
            <strong>клеймо</strong>.</p>
        <div class="custom-checkbox">
            <div (click)="puppiesData.petmanSet = !puppiesData.petmanSet; updateLocalData(); focusCheck('set');" [class.invalid-form-field-value]="isFocused['set'] && errors && errors.includes('set') || (customeValidator && errors && errors.includes('set'))">
                <img *ngIf="puppiesData.petmanSet" src="./assets/img/check-mark.png" />
            </div>
            <label>Подтверждаю наличие такого комплекта</label>
        </div>
    </div>
    <div class="breeder-profile-subpage-form-left">
        <label for="puppies-age">Возраст продажи щенков</label><span class="red-star">*</span>
        <div class="input-group mb-3">
            <input type="number" min="0" name="puppies-age" class="form-control custom-form-control-border" [(ngModel)]="puppiesData.age" placeholder="от"
                (change)="profileService.inputValueChanged('age'); updateLocalData(); focusCheck('age')" aria-label="от" aria-describedby="basic-addon2" [class.invalid-form-field-value]="isFocused['age'] && errors && errors.includes('age') || (customeValidator && errors && errors.includes('age'))">
            <div class="input-group-append">
                <span class="input-group-text custom-form-control-border" [class.invalid-form-field-value]="isFocused['age'] && errors && errors.includes('age') || (customeValidator && errors && errors.includes('age'))"
                    id="basic-addon2">недель</span>
            </div>
        </div>
        <div *ngIf="isFocused['age'] && errors && errors.includes('age') || (customeValidator && errors && errors.includes('age'))" class="error-field-message">
            Это поле обязательно к заполнению
        </div>
    </div>

    <div class="breeder-profile-subpage-form-right">
        <label for="puppies-price">Стоимость щенков в рублях</label><span class="red-star">*</span>
        <div class="input-group">
            <input type="number" min="0" class="form-control custom-form-control-border" name="puppies-price" [(ngModel)]="puppiesData.priceFrom"
                (change)="profileService.inputValueChanged('priceFrom'); updateLocalData(); focusCheck('priceFrom');" placeholder="от" [class.invalid-form-field-value]="isFocused['priceFrom'] && errors && errors.includes('priceFrom') || (customeValidator && errors && errors.includes('priceFrom'))">
            <input type="number" min="0" class="form-control custom-form-control-border" [(ngModel)]="puppiesData.priceTo" placeholder="до" (change)="profileService.inputValueChanged('priceFrom'); updateLocalData(); focusCheck('priceTo');"
                [class.invalid-form-field-value]="isFocused['priceTo'] && errors && errors.includes('priceTo') || (customeValidator && errors && errors.includes('priceTo'))">
        </div>
        <div *ngIf="(isFocused['priceFrom'] && errors && errors.includes('priceFrom') || (isFocused['priceTo'] && errors && errors.includes('priceTo')))  || (customeValidator && errors && (errors.includes('priceFrom') || errors.includes('priceTo')))" class="error-field-message">
            Эти поля обязательны к заполнению
        </div>
    </div>

    

    <hr>

    <div class="medicine-block">
        <label>Медицина</label>
        <br>
        <span class="block-description">Отметьте медицинские услуги, которые вы проводите для своих щенков.</span>
        <div class="medicine-checkboxs-list">
            <div class="breeder-profile-subpage-form-left">
                <ng-container *ngFor="let test of appService.puppyTests">
                    <div *ngIf="test.id % 2 == 1" class="custom-checkbox">
                        <div (click)="puppyTestClicked(test); focusCheck('tests');" [class.invalid-form-field-value]="isFocused['tests'] && errors && errors.includes('tests') || (customeValidator && errors && errors.includes('tests'))">
                            <img *ngIf="getTestStatus(test)" src="./assets/img/check-mark.png" />
                        </div>
                        <label>{{test.name}}</label>
                    </div>
                </ng-container>
            </div>
            <div class="breeder-profile-subpage-form-right">
                <ng-container *ngFor="let test of appService.puppyTests">
                    <div *ngIf="test.id % 2 == 0" class="custom-checkbox">
                        <div (click)="puppyTestClicked(test); focusCheck('tests');" [class.invalid-form-field-value]="isFocused['tests'] && errors && errors.includes('tests') || (customeValidator && errors && errors.includes('tests'))">
                            <img *ngIf="getTestStatus(test)" src="./assets/img/check-mark.png" />
                        </div>
                        <label>{{test.name}}</label>
                    </div>
                </ng-container>
            </div>
        </div>
    </div>

    <!-- <div class="contract-block">
        <span>Обязательный договор Petman c гарантией</span>
        <br>
        <span class="block-description">Для защиты покупателей от недобросовестных заводчиков наши юристы составили стандартный договор купли/продажи. В
            него включена гарантия по здоровью щенка на момент покупки.</span>

        <a [routerLink]="['/docs/contract.pdf']" target="_blank">Посмотреть договор</a>
        <br>


        <div class="custom-checkbox">
            <div (click)="puppiesData.petmanContract = !puppiesData.petmanContract; updateLocalData(); focusCheck('contract');" [class.invalid-form-field-value]="isFocused['contract'] && errors && errors.includes('contract') || (customeValidator && errors && errors.includes('contract'))">
                <img *ngIf="puppiesData.petmanContract" src="./assets/img/check-mark.png" />
            </div>
            <label>Подтверждаю готовность использовать договор</label>
        </div>
    </div> -->

    <!--<hr>

    <div class="breeder-profile-subpage-form-left">
        <label for="guarantee-period">На сколько месяцев вы готовы дать гарантию по здоровью щенка?</label>
        <div class="input-group mb-3">
            <input type="number" min="0" name="guarantee-period" class="form-control custom-form-control-border" [(ngModel)]="puppiesData.insuranceTerm"
                placeholder="12" aria-label="12" aria-describedby="basic-addon2" (change)="profileService.dataChangesSaved = false"
                [class.invalid-form-field-value]="isFocused['age'] && errors && errors.includes('term')">
            <div class="input-group-append">
                <span class="input-group-text custom-form-control-border" [class.invalid-form-field-value]="isFocused['age'] && errors && errors.includes('term')"
                    id="basic-addon2">месяцев</span>
            </div>
        </div>
    </div>

    <div class="why-its-important">
        <span [placement]="getTooltipPlacement()" tooltipClass="custom-tooltip" [triggers]="appService.getTooltipTrigger()" ngbTooltip="Текст подсказки, которая будет всплывать при наведении!">Почему это важно?</span>
    </div>-->

    <hr>

    <div class="puppies-gifts-block">
        <label for="gifts">Подарки к купленному щенку</label>
        <br>
        <span class="block-description">Многие заводчики дарят новым хозяевам игрушку с запахом однопометников или небольшой мешочек корма.</span>
        <span class="textarea-length-counter" [style.color]="appService.getTextareaLimit(puppiesData.gifts, 512) > 0 ? '#46b0ad' : '#eb0000'">
            {{appService.getTextareaLimit(puppiesData.gifts, 512)}}
        </span>
        <textarea rows="3" class="form-control custom-form-control-border" [(ngModel)]="puppiesData.gifts" 
            [class.invalid-form-field-value]="isFocused['gifts'] && errors && errors.includes('gifts') || (customeValidator && errors && errors.includes('gifts'))"(change)="profileService.inputValueChanged('gifts'); updateLocalData();"></textarea>
    </div>

    <div class="lower-btn">
        <span *ngIf="profileService.invalidFields.length > 0" class="invalid-field-message" style="display: block; margin-bottom: 1em;">
            Пожалуйста, заполните или исправьте поля, выделенные красным
        </span>
        <br *ngIf="profileService.invalidFields.length > 0" />
        <button type="submit" class="custom-btn btn-purple" (click)="saveChanges(false)" [disabled]="isLoading">{{!isLoading ? 'Сохранить изменения' : ''}}
            <div *ngIf="isLoading" class="loader"></div>
        </button>
    </div>
</div>