<h4>Галерея</h4>

<div class="gallery-container">
    <div *ngIf="params.gallery.length > 1" class="previous-btn-block" (click)="gallery.previousSlide()">
        <img class="previous-img" src="./assets/img/arrow-left.svg" alt="Предыдущая" />
    </div>
    <mdb-carousel [isControls]="false" class="carousel slide custom-carousel" [interval]="0" [activeSlideIndex]="2">
        <mdb-carousel-item *ngFor="let photo of params.gallery">
            <div class="img-container">
                <img src="/img/{{photo.main}}.jpg" alt="Собака">
            </div>
        </mdb-carousel-item>
    </mdb-carousel>
    <div *ngIf="params.gallery.length > 1" class="next-btn-block" (click)="gallery.nextSlide()">
        <img  class="next-img" src="./assets/img/arrow-right.svg" alt="Следующая" />
    </div>
</div>