<div class="wrapper">
    <main>
        <div class="block-base">
            <div class="container">
                <div class="wrap-base">
                    <div class="wrap-base__text">
                        <span class="block-base__title">База знаний</span>
                        <span class="block-base__subtitle">Давайте поговорим о приобретении собаки</span>
                        <p>Мы все очень любим собак за то, что они веселые, добрые и преданные. Однако выбор собаки - это очень волнительный и ответственный процесс. Нужно понимать, что вы обзаводитесь полноценным членом семьи. Мы подготовили специальный гайд, который ответит на многие вопросы и подготовит вас к принятию взвешенного решения.</p>
                    </div>
                    <div class="wrap-base__img">
                        <img src="./assets/img/articales/img/articles/dog.png" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="block-about">
            <div class="container">
                <span class="title title_1 title_decor">ПЕРЕД ПОКУПКОЙ</span>
                <div class="wrap-about">
                    <span class="title title_3">Готовы ли стать хозяином собаки?</span>
                    <div class="wrap-about__inner">
                        <a [routerLink]="[ '/article/1' ]" class="wrap-about__item">
                            <span class="wrap-about__img">
                                <img src="./assets/img/articales/img/articles/content/1.jpg" alt="">
                            </span>
                            <span class="title title_4">Разговор с самим собой: вопросы, которые нужно задать себе, прежде чем заводить собаку</span>
                        </a>
                        <a [routerLink]="[ '/article/2' ]" class="wrap-about__item">
                            <span class="wrap-about__img">
                                <img src="./assets/img/articales/img/articles/content/2.jpg" alt="">
                            </span>
                            <span class="title title_4">7 важных изменений, которые произойдут в вашей жизни с появлением питомца</span>
                        </a>
                        <a [routerLink]="[ '/article/3' ]"class="wrap-about__item">
                            <span class="wrap-about__img">
                                <img src="./assets/img/articales/img/articles/content/3.jpg" alt="">
                            </span>
                            <span class="title title_4">Подарок с душой: 5 вещей, о которых нужно подумать, прежде чем подарить щенка</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="block-about block-about_grey">
            <div class="container">
                <div class="wrap-about">
                    <span class="title title_3">Почему происхождение собаки важно?</span>
                    <div class="wrap-about__inner">
                        <a [routerLink]="[ '/article/4' ]"class="wrap-about__item">
                            <span class="wrap-about__img">
                                <img src="./assets/img/articales/img/articles/content/4.jpg" alt="">
                            </span>
                            <span class="title title_4">Как отличить надежного и уважаемого заводчика?</span>
                        </a>
                        <a [routerLink]="[ '/article/5' ]"class="wrap-about__item">
                            <span class="wrap-about__img">
                                <img src="./assets/img/articales/img/articles/content/5.jpg" alt="">
                            </span>
                            <span class="title title_4">Доброе дело: почему приюты – это действительно важно</span>
                        </a>
                        <a [routerLink]="[ '/article/6' ]"class="wrap-about__item">
                            <span class="wrap-about__img">
                                <img src="./assets/img/articales/img/articles/content/6.jpg" alt="">
                            </span>
                            <span class="title title_4">Как распознать щенка, выращенного на «ферме»</span>
                        </a>
                        <a [routerLink]="[ '/article/7' ]"class="wrap-about__item">
                            <div class="wrap-about__img">
                                <img src="./assets/img/articales/img/articles/content/7.jpg" alt="">
                            </div>
                            <span class="title title_4">Как распознать ненадежного заводчика?</span>
                        </a>
                        <a [routerLink]="[ '/article/8' ]"class="wrap-about__item">
                            <span class="wrap-about__img">
                                <img src="./assets/img/articales/img/articles/content/8.jpg" alt="">
                            </span>
                            <span class="title title_4">Это вам не игрушки: этика разведения и приобретения миниатюрных пород</span>
                        </a>
                        <a [routerLink]="[ '/article/9' ]" class="wrap-about__item">
                            <span class="wrap-about__img">
                                <img src="./assets/img/articales/img/articles/content/9.jpg" alt="">
                            </span>
                            <span class="title title_4">Почему важно работать с проверенным заводчиком</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="block-about">
            <div class="container">
                <span class="title title_1 title_decor">ПРОЦЕСС ПОКУПКИ	</span>
                <div class="wrap-about">
                    <span class="title title_3">Работа с хорошим заводчиком	</span>
                    <div class="wrap-about__inner">
                        <a [routerLink]="[ '/article/10' ]" class="wrap-about__item">
                            <span class="wrap-about__img">
                                <img src="./assets/img/articales/img/articles/content/10.jpg" alt="">
                            </span>
                            <span class="title title_4">Как выбрать правильного заводчика?</span>
                        </a>
                        <!-- <a [routerLink]="[ '/article/11' ]" class="wrap-about__item">
                            <span class="wrap-about__img">
                                <img src="./assets/img/articales/img/articles/content/11.jpg" alt="">
                            </span>
                            <span class="title title_4">Что вас ждет после подачи заявки на щенка</span>
                        </a> -->
                        <a [routerLink]="[ '/article/12' ]" class="wrap-about__item">
                            <span class="wrap-about__img">
                                <img src="./assets/img/articales/img/articles/content/12.jpg" alt="">
                            </span>
                            <span class="title title_4">Почему некоторые заводчики предпочитают купировать хвосты своим собакам</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="block-about block-about_grey">
            <div class="container">
                <div class="wrap-about">
                    <span class="title title_3">Работа с хорошим приютом</span>
                    <div class="wrap-about__inner">
                        <a [routerLink]="[ '/article/13' ]" class="wrap-about__item">
                            <span class="wrap-about__img">
                                <img src="./assets/img/articales/img/articles/content/13.jpg" alt="">
                            </span>
                            <span class="title title_4">Недетский вопрос: как выбрать питомца из приюта в семью с ребенком</span>
                        </a>
                        <a [routerLink]="[ '/article/14' ]" class="wrap-about__item">
                            <span class="wrap-about__img">
                                <img src="./assets/img/articales/img/articles/content/14.jpg" alt="">
                            </span>
                            <span class="title title_4">Вопрос жизни и жизни: что нужно учитывать, если вы решили взять собаку из приюта</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="block-about">
            <div class="container">
                <div class="wrap-about">
                    <span class="title title_3">Когда забираете щенка домой	</span>
                    <div class="wrap-about__inner">
                        <!-- <a [routerLink]="[ '/article/15' ]" class="wrap-about__item">
                            <span class="wrap-about__img">
                                <img src="./assets/img/articales/img/articles/content/15.jpg" alt="">
                            </span>
                            <span class="title title_4">Переезд щенка от заводчика в новый дом</span>
                        </a> -->
                        <a [routerLink]="[ '/article/15' ]" class="wrap-about__item">
                            <span class="wrap-about__img">
                                <img src="./assets/img/articales/img/articles/content/15.jpg" alt="">
                            </span>
                            <span class="title title_4">Способы транспортировки щенка от заводчика</span>
                        </a>
                        <a [routerLink]="[ '/article/16' ]" class="wrap-about__item">
                            <span class="wrap-about__img">
                                <img src="./assets/img/articales/img/articles/content/16.jpg" alt="">
                            </span>
                            <span class="title title_4">Что взять с собой, когда отправляетесь за щенком</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="block-about block-about_grey">
            <div class="container">
                <span class="title title_1 title_decor">ГОТОВНОСТЬ БЫТЬ РОДИТЕЛЕМ</span>
                <div class="wrap-about">
                    <span class="title title_3">Как подготовиться?</span>
                    <div class="wrap-about__inner">
                        <a [routerLink]="[ '/article/17' ]" class="wrap-about__item">
                            <span class="wrap-about__img">
                                <img src="./assets/img/articales/img/articles/content/17.jpg" alt="">
                            </span>
                            <span class="title title_4">Руководство для начинающих: первый месяц в новом доме</span>
                        </a>
                        <a [routerLink]="[ '/article/18' ]"class="wrap-about__item">
                            <span class="wrap-about__img">
                                <img src="./assets/img/articales/img/articles/content/18.jpg" alt="">
                            </span>
                            <span class="title title_4">Умный дом: как подготовить ваше жилище для нового щенка</span>
                        </a>
                        <a [routerLink]="[ '/article/19' ]" class="wrap-about__item">
                            <span class="wrap-about__img">
                                <img src="./assets/img/articales/img/articles/content/19.jpg" alt="">
                            </span>
                            <span class="title title_4">Это ваша собака: как выбрать идеальное имя для нового питомца</span>
                        </a>
                        <a [routerLink]="[ '/article/20' ]" class="wrap-about__item">
                            <span class="wrap-about__img">
                                <img src="./assets/img/articales/img/articles/content/20.jpg" alt="">
                            </span>
                            <span class="title title_4">Безопасное лето: 9 важных советов для владельцев собак</span>
                        </a>
                        <a [routerLink]="[ '/article/21' ]" class="wrap-about__item">
                            <span class="wrap-about__img">
                                <img src="./assets/img/articales/img/articles/content/21.jpg" alt="">
                            </span>
                            <span class="title title_4">8 ошибок, которых важно избегать, когда в вашем доме появится щенок</span>
                        </a>
                        <a [routerLink]="[ '/article/22' ]" class="wrap-about__item">
                            <span class="wrap-about__img">
                                <img src="./assets/img/articales/img/articles/content/22.jpg" alt="">
                            </span>
                            <span class="title title_4">5 советов по кормлению вашего питомца</span>
                        </a>
                        <a [routerLink]="[ '/article/23' ]"class="wrap-about__item">
                            <span class="wrap-about__img">
                                <img src="./assets/img/articales/img/articles/content/23.jpg" alt="">
                            </span>
                            <span class="title title_4">7 базовых советов по воспитанию вашего питомца</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <!--<div class="block-awaits">-->
            <!--<div class="container">-->
                <!--<span class="title title_3">Что меня ждет, когда я возьму щенка?</span>-->
                <!--<div class="wrap-about">-->
                    <!--<div class="wrap-about__inner">-->
                        <!--<div class="wrap-about__item">-->
                            <!--<div class="wrap-about__img">-->
                                <!--<img src="img/articles/b1.jpg" alt="">-->
                            <!--</div>-->
                            <!--<a class="title title_4">Если после применения правила Лопиталя</a>-->
                        <!--</div>-->
                        <!--<div class="wrap-about__item">-->
                            <!--<div class="wrap-about__img">-->
                                <!--<img src="img/articles/b2.jpg" alt="">-->
                            <!--</div>-->
                            <!--<a class="title title_4">Интересно отметить, что биуретовая</a>-->
                        <!--</div>-->
                        <!--<div class="wrap-about__item">-->
                            <!--<div class="wrap-about__img">-->
                                <!--<img src="img/articles/b3.jpg" alt="">-->
                            <!--</div>-->
                            <!--<a class="title title_4">Гетерогенная структура трансформирует</a>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    </main>
</div>
