.add-puppy-page-info-block,
.add-puppy-page-photos-block{
    grid-column: 1/3;
}

.add-puppy-page-name-block{
    
    span{
        float: right;
        color: #645fc9;
        cursor: pointer;
        text-decoration: #645fc9 underline;
        
        &:hover{
            transform: translateY(-3px);
            transition: all 0.5s ease;
        }
    }
}

.empty-parent-button-block{
    position: absolute;
    width: calc(100% - 1.25em);
    padding: 10px 0 10px 15px;
    color: #0e0b4d;
    font-family: 'Intro-Regular';
    border: 1px solid #cbd8f6;
    border-radius: 4px;
    border-top: unset;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background-color: #fff;
    z-index: 10;
    cursor: pointer;

    img{
        width: 16px;
        display: inline-block;
        padding-bottom: 3px;
    }

    &>hover{
        background-color: #efefef;
    }
}

@media screen and (max-width: 769px){
    .empty-parent-button-block{
        width: 100%;
    }
}