h3{
    display: block;
    width: 100%;
    text-align: center;
}

form{
    margin-bottom: 5em;
}

p, .remind-error-message-block{
    width: 50%;
    text-align: center;
}

p {
    font-size: 14px;
    margin: 2em auto;
}

.remind-error-message-block{
    display: block;
    margin: 0 auto;
}


@media screen and (max-width: 769px){
    h3{
        margin-top: 1em;
    }

    .remind-error-message-block,
    p{
        width: 80%;
    }
}