<hr>

<div class="page-wrapper">
    <div class="page-container">
        
        <h2>Часто задаваемые вопросы (FAQ)</h2>
        <div class="faq-block">
            <div *ngFor="let q of questions;let i = index" class="faq-item">
                <div class="question-block">
                    <p>{{q.question}}</p>
                    <img src="./assets/img/{{q.collapsed ? 'arrow-up' : 'arrow-down'}}.svg" (click)="q.collapsed = !q.collapsed" alt="Вопрос №{{i}}">
                </div>
                <div *ngIf="q.collapsed" class="answer-block">
                    <span>{{q.answer}}</span>
                </div>
            </div>
        </div>

    </div>
</div>