p {
    font-size: 14px;
    width: 50%;
    margin: 1em auto 0;
    opacity: 0.5;
}

span {
    font-size: 14px;

    a{
        text-decoration: underline;
        transition: none;
        color: #0275d8;

        &:hover{
            color: #014c8c;
            cursor: pointer;
        }
    }
}

@media screen and (max-width: 769px) {
    .login-center {
        padding-top: 47% !important;
    } 

    h3{
        font-size: 20px;
    }

    p{
        width: 80%;
    }
}