h3{
    font-size: 24px;
    font-family: 'Intro-Regular';
}

.warning-title{
    color: #c80000;
}

.message-block {
    position: relative;
    margin: 0 auto;
    top: 15vh;
    width: 50vw;
    max-width: 770px;
    max-height: 90vh;
    overflow-y: auto;
    text-align: center;
    background: #fff;
    border-radius: 5px;
    border: 1px solid #e6e8f5;
    padding: 3.5em;
}

.message-body {
    margin: 40px 0;
    text-align: center;

    div{
        font-size: 16px;
        font-family: 'Intro-Book';
        color: #0e0b4d;
    }
}

.message-buttons {
    width: 100%;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-around;

    a{
        margin-right: 1em;
    }
}

@media screen and (max-width: 769px){
    
    .message-block{
        top: 2vh;
        width: 90vw;
        padding: 1.5em;
    }

    .message-buttons{
        flex-flow: column;

        a{
            width: 90%;
            align-self: center;
        }

        a:nth-child(1){
            margin-bottom: 1em;
        }
    }
}