<div *ngIf="alertService.visible" class="overlay-block">
    <div class="message-block">
        <div class="message-body" *ngIf="messageList != null">
            <div *ngFor="let message of messageList">{{message}}</div>
        </div>
        <div class="message-buttons">
            <a *ngIf="button1Text" (click)="onButton1Click()" class="custom-btn btn-purple">{{button1Text}}</a>
            <a *ngIf="button2Text" (click)="onButton2Click()" class="custom-btn btn-transparent">{{button2Text}}</a>
        </div>
    </div>
</div>
