$regular-text-color: #0e0b4d;
$profile-image-block-size: 150px;

@font-face{
    font-family: 'Intro-Regular';
    src: url(../fonts/Intro-Regular.otf);
}

@font-face{
    font-family: 'Intro-Bold';
    src: url(../fonts/Intro-Bold.otf);
}

@font-face{
    font-family: 'Intro-Thin';
    src: url(../fonts/Intro-Thin.otf);
}

@font-face{
    font-family: 'Intro-Light';
    src: url(../fonts/Intro-Light.otf);
}

@font-face{
    font-family: 'Intro-Book';
    src: url(../fonts/Intro-Book.otf);
}

body{
    font-family: 'Intro-Regular' !important;
    background-color: #f8f9fb !important;
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
    overflow-x: hidden;
    margin: 0 !important;
}

h1, h2, h3, h4, h5{
    color: $regular-text-color;
    font-family: 'Intro-Regular';
}

p{
    font-family: 'Intro-Book';
    font-size: 18px;
    color: $regular-text-color;
}

span, label{
    color: $regular-text-color;
    margin-bottom: 0 !important;
}

label{
    font-family: 'Intro-Regular';
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.header-for-landing{

    header{
        background-color: unset !important;
        padding: 2% 8vw !important;
        width: 100%;

        nav{
            background-color: unset !important;
            padding: 0 !important;
        }
    }
}

.header-for-profile{
        width: 80%;
        margin: 0 auto;
        max-width: 1210px;
        padding: 2% 0;

    nav{
        padding: unset;
    }
}

.custom-btn{
    border-radius: 28px;
    padding: 10px 25px;
    border: none;
    font-family: 'Intro-Regular';
    width: fit-content;

    &:focus, &:active{
        outline: none !important;
        box-shadow: none;
    }
}

.btn-purple{
    background: #645fc9;
    color: #ffffff !important;
    border: 1px solid #645fc9;
}

.btn-transparent{
    border: 1px solid #645fc9;
    color: #645fc9;
    background-color: transparent;
}

.btn-white{
    background: #ffffff;
    color: #645fc9 !important;
}

.btn-label{
    font-size: 14px;
    font-family: 'Intro-Regular';
    color: #fff;
    background-color: #4a90e2;
    border-radius: 25px;
    border: unset;
    padding: 2px 8px;

    &:focus, &:active{
        outline: none !important;
        box-shadow: none;
    }
}

.btn-white:hover,
.btn-transparent:hover{
    background: #efefef;
    transition: all 0.5s ease;
}

.btn-purple:hover{
    background: #7975ce;
    transition: all 0.5s ease;
}

.btn-label:hover{
    background-color: #58a0f5;
    transition: all 0.5s ease;
}

.popup-form-group,
.popup-form-check{
    width: 50% !important;
    margin: 20px auto 0 !important;
    max-width: 450px;
    text-align: left;
    display: block !important;
}

.popup-form-button{
    display: block;
    width: 50%;
    max-width: 450px;
    margin: 0 auto;
    padding: 15px 35px;
}

.popup-form-group{

    label{
        margin-bottom: 5px !important;
    }

    input{
        height: 40px;
    }

}

.popup-form-check{

    div{
        display: inline-block;
    }

    label{
        width: calc(100% - 27px);
        font-size: 12px;
    }
}

.dropdown-text-input{
    position: relative;

    &> input{
        display:block;
        box-sizing: border-box
    }

    &> img{
        position: absolute;
        top: 25%;
        height: 50%;
        right: .5em;
    }
}

.custom-form-control-border{
    border: 1px solid #cbd8f6;
}

.custom-checkbox{
    display: inline-block;
    width: 100%;
    margin-top: .5em;
    margin-bottom: .5em;

    &> div{
        width: 22px;
        height: 22px;
        display: inline-block;
        vertical-align: top;
        background-color: #fff;
        border-radius: 2px;
        border: 1px solid #cbd8f6;
        cursor: pointer;
        margin-right: 5px;

        img{
            position: relative;
            left: 2px;
            bottom: 1px;
        }

        label{
            max-width: calc(100% - 30px);
        }
    }
}

.breeder-profile-subpage-container{
    display: grid;
    grid-template: auto / 1fr 1fr;
    grid-gap: 2em 2.25em;
    padding: 2.5em 1.75em;
    background-color: #fff;
    border: 1px solid #cbd8f6;
    border-radius: 4px;

    input[type=text],
    input[type=number],
    textarea{
        margin-top: 16px;
    }

    textarea{
        height: auto;
    }

    hr{
        width: 100%;
        border: 1px solid #cbd8f6;
        grid-column: 1/3;
        margin: unset;
    }

    .page-header{
        align-self: end;
    }

    .adding-entity-page-header{
        grid-column: 1/3;
    }

    .upper-btn{
        grid-column-start: 2;
        text-align: right;
        padding-bottom: 2px;
    }

    .add-entity-page-upper-btn-mobile{
        display: none;
    }
    
    .lower-btn{
        grid-column-start: 1;
        text-align: left;
    }

    .custom-input-append{
        border: 1px solid #cbd8f6;
        border-left: none;
        border-radius: .25rem;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        display: flex;
        align-items: center;
        margin-top: 16px;
        padding: 0 10px;
        cursor: pointer;
    }

    .block-description{
        display: block;
        opacity: 0.5;
        font-size: 14px;
        font-family: 'Intro-Book';
        margin-top: 6px;
    }

    .get-back-block{
        margin: auto 0;
        cursor: pointer;
        width: fit-content;
        
        img{
            width: 22px;
            padding-bottom: 4px;
        }

        span{
            font-family: 'Intro-Regular';
            color: #393939;
            opacity: 0.5;
            font-size: 14px;
        }
    }
}

.breeder-profile-subpage-form-left,
.breeder-profile-subpage-form-right{
    position: relative;
}

.gallery-initial-block{
    position: relative;
    border: 1px dotted #645fc9;
    background-color: rgba(203, 216, 246, 0.2);
    border-radius: 4px;
    width: 100%;
    height: $profile-image-block-size;
    padding: 2em;
    text-align: center;
    margin-top: 16px;

    &> input{
        opacity: 0.0;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height:100%;
    }

    span{
        color: #8685a6;
        font-size: 14px;
        cursor: pointer;

        a{
            color: #4a90e2 !important;
            text-decoration: underline #4a90e2 !important;
        }
    }
}

.gallery-uploaded-photos-block{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 2em auto 0;

    .active-galley-photo-block,
    .empty-galley-photo-block{
        width: $profile-image-block-size;
        height: $profile-image-block-size;
        border-radius: 4px;
        background-color: rgba(203, 216, 246, 0.2);
    }
    
    .active-galley-photo-block{
        margin: 0 .5em 1em 0;
        position: relative;
        overflow: hidden;

        .close-button{
            position: absolute;
            width: 13px;
            top: 7px;
            right: 7px;
            z-index: 10;
        }
        
        img{
            border-radius: 4px;
            max-height: $profile-image-block-size;
        }

        .pet-image{
            position: absolute;
            left: -10px;
        }        
    }

    .empty-galley-photo-block{
        border: 2px dotted #645fc9;
        display: flex;
        justify-content: center;
        position: relative;

        img{
            display: block;
            width: 50px;
        }
    }
}


.gallery-upload-button{
    display: none;
    position: relative;
    margin-top: 1.25em;

    &>span{
        display: block;
        margin: auto;
        text-align: center;
        color: #645fc9;
    }

    &>input{
        opacity: 0.0;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height:100%;
    }
}

.dog-entity-list-block{
    grid-column: 1/3;
    display: flex;
    border: unset;
    flex-wrap: wrap;
}

.add-dog-entity-item{
    width: $profile-image-block-size;
    height: $profile-image-block-size;
    display: flex;
    border: 1px dotted #645fc9;
    background-color: rgba(203, 216, 246, 0.2);
    border-radius: 4px;
    margin-bottom: 15px;
    margin-right: 15px;

    div{
        text-align: center;
        margin: auto;

        &> label{
            margin-top: 10px;
            font-size: 14px;
            color: #645fc9;
        }
    }
}

.avail-dog-entity-item{
    width: $profile-image-block-size;
    margin: 0 .5em .5em 0;

    .entity-image-block{
        width: 100%;
        height: $profile-image-block-size;
        border-radius: 4px;
        position: relative;
        overflow: hidden;

        img{
            position: absolute;
            left: -30px;
            top: -15px;
        }
    }

    .entity-info-block{
        padding: .5em 0;
        min-height: 5em;
        position: relative;

        &>div:nth-child(1){
            width: calc(100% - 20px);
            display: inline-block;
        }

        span{
            display: inline-block;
            font-size: 14px;
        }

        span:nth-child(1){
            font-family: 'Intro-Bold';
            display: block;
        }

        span:nth-child(2){
            font-family: 'Intro-Book';
            opacity: 0.5;
        }

        img{
            position: absolute;
            top: 12px;
        }
    }

    .delete-dog-entity-button{
        display: inline;
        border-radius: 25px;
        padding: 5px 10px;
        font-size: 12px;
        font-family: 'Intro-Book';
    }
}

.btn-label-list{

    grid-column: 1/3;
    margin: .5em 0;

    &> input{
        display: inline;
        margin: .25em .5em;
    }
}

.invalid-form-field-value,
.invalid-form-checkbox{
    border: 1px solid #eb0000 !important;
}

.invalid-field-message{
    color: #eb0000 !important;
    font-size: 14px !important;
    font-family: 'Intro-Book' !important;
}
// Bootstrap overrided classes

.form-control{
    font-size: 13px;
    font-family: 'Intro-Book';
    height: 45px;
}

.carousel-caption{
    display: none;
}

.custom-header-dropdown-menu{
    left: unset !important;
    right: 0;

    a{
        cursor: pointer;
    }

    .dropdown-item{
        font-family: 'Intro-Book';
        font-size: 13px;
        color: #0e0b4d;
        padding: .25rem .5rem;

        img{
            object-fit: contain;
        }
    }
}

ngb-datepicker{
    border: 1px solid #cbd8f6 !important;
}

.form-group{
    margin: 15px auto 0;
    text-align: left;

    label{
        margin: unset;
        color: $regular-text-color;
    }
}

.input-group-text{
    background-color: #fff !important;
}

.input-group-append{
    margin-top: 16px;
}

ngb-datepicker{
    left: unset !important;
    top: 105% !important;
    right: -30%;
    margin-top: unset !important;
    transform: unset !important;

    .bg-light{
        background-color: #fff !important;
    }
}

.ngb-dp-weekdays{
    border-bottom: unset !important;
    padding-top: .5em;
    padding-bottom: .5em;

    .ngb-dp-weekday{
        color: #0e0b4d !important;
        opacity: 0.5 !important;
        font-size: 12px !important;
        font-style: unset !important;
        font-family: 'Intro-Book' !important;
    }
}

.ngb-dp-header{
    background-color: #fff !important;
}

.bg-primary{
    background-color: #cbd8f6 !important;
    color: #0e0b4d !important;
    font-family: 'Intro-Regular' !important;
    
    &:focus{
        outline: none;
    }
}

[ngbDatepickerDayView],
.ngb-dp-day, .ngb-dp-week-number, .ngb-dp-weekday{
    width: 2.25rem !important;
    height: 2.25rem !important;
    font-family: 'Intro-Book';
    color: #0e0b4d !important;
    font-size: 12px !important;
    line-height: 2.25rem !important;

    &:focus{
        outline: none !important;
    }
}

.ngb-dp-arrow-btn{
    .ngb-dp-navigation-chevron{
        color: #645fc9 !important;
    }

    &:focus{
        outline-width: 0 !important;
        outline-style: unset !important;
    }
}

.rounded-cropp-area{

    .y-area-i6{
        border-radius: 50% !important;

        &:after{
            border-radius: 50% !important;
        }
    }

}

@media screen and (max-width: 769px){

    .header-for-profile{
            width: 90%;
        }

    .breeder-profile-subpage-container{
        display: block !important;
        padding: 0 1em;

        h3{
            font-size: 18px;
        }

        label{
            font-size: 14px;
        }

        input[type=text],
        input[type=number],
        textarea{
            margin-top: .25em;
        }

        .upper-btn,
        .lower-btn{
            text-align: center;
            grid-column-start: 1;
            padding-bottom: unset;
        }

        .add-entity-page-upper-btn-desktop{
            display: none;
        }

        .add-entity-page-upper-btn-mobile{
            display: block;
        }

        .lower-btn{
            margin-bottom: 2.5em;
        }

        .custom-input-append{
            margin-top: .25em
        }

        .block-description{
            font-size: 13px;
        }

        .get-back-block{
            margin: 1em 0 0;
        }

        &> div{
            width: 100% !important;
            margin: 1.5em auto;
        }
    }

    .add-dog-entity-item{
        width: 100%;
        height: 80px;
        margin: 1em auto 0;
    }

    .avail-dog-entity-item{
        margin: 1em auto 2em;
        width: $profile-image-block-size;
    }

    .gallery-initial-block{
        display: none;
    }

    .gallery-upload-button{
        display: block;
    }

    .gallery-uploaded-photos-block{
        justify-content: space-around;

        .active-galley-photo-block,
        .empty-galley-photo-block{
            margin: unset;
            margin-bottom: .5em
        }
    }

    .custom-btn{
        display: block;
        width: 100%;
    }

    .header-for-landing{
        margin-top: 1em;

        header{
            padding: 0;
        }

        nav{
            display: flex;
            padding: 0 8vw !important;
        }
    }

    .popup-form-group,
    .popup-form-check,
    .popup-form-button{
        width: 80% !important;
        max-width: unset;
    }



    // Bootstrap overrided classes
    .carousel-indicators{
        bottom: -1em !important;
    }

    .carousel .carousel-indicators li{
        width: 1rem !important;
        height: 1rem !important;
    }

    .carousel-indicators li{
        margin-right: 10px !important;
        margin-left: 10px !important;
        background-color: #645fc9 !important;
    }

    .carousel-control-prev,
    .carousel-control-next{
        display: none !important;
    }

    .carousel-caption{
        display: block;
        position: static !important;
    }

    .carousel-fade .carousel-inner>.carousel-item.active,
    .carousel-fade .carousel-inner>.carousel-item.next.left,
    .carousel-fade .carousel-inner>.carousel-item.prev.right{
        display: block !important;
    }
    
    .form-group,
    .form-check{
        margin: 5px auto 0;
    }

    .input-group-append{
        margin-top: .25em !important;
    }

    ngb-datepicker{
        right: 0 !important;
    }


}