@font-face {
  font-family: 'Intro-Regular';
  src: url(../fonts/Intro-Regular.otf);
}

@font-face {
  font-family: 'Intro-Bold';
  src: url(../fonts/Intro-Bold.otf);
}

@font-face {
  font-family: 'Intro-Thin';
  src: url(../fonts/Intro-Thin.otf);
}

@font-face {
  font-family: 'Intro-Light';
  src: url(../fonts/Intro-Light.otf);
}

@font-face {
  font-family: 'Intro-Book';
  src: url(../fonts/Intro-Book.otf);
}

body {
  font-family: 'Intro-Regular';
  background-color: #f8f9fb;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
  margin: 0 !important;
}

h1, h2, h3, h4, h5 {
  color: #0e0b4d;
  font-family: 'Intro-Regular';
}

p {
  font-family: 'Intro-Book';
  font-size: 18px;
  color: #0e0b4d;
}

span, label {
  color: #0e0b4d;
  margin-bottom: 0 !important;
}

label {
  font-family: 'Intro-Regular';
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.header-for-landing header {
  background-color: unset !important;
  padding: 2% 8vw !important;
}

.header-for-landing header nav {
  background-color: unset !important;
  padding: 0 !important;
}

.custom-btn {
  border-radius: 28px;
  padding: 10px 25px;
  border: none;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.custom-btn:focus, .custom-btn:active {
  outline: none !important;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn-purple {
  background: #645fc9;
  color: #ffffff !important;
  border: 1px solid #645fc9;
}

.btn-transparent {
  border: 1px solid #645fc9;
  color: #645fc9;
  background-color: transparent;
}

.btn-white {
  background: #ffffff;
  color: #645fc9 !important;
}

.btn-label {
  font-size: 14px;
  font-family: 'Intro-Regular';
  color: #fff;
  background-color: #4a90e2;
  border-radius: 25px;
  border: unset;
  padding: 2px 8px;
}

.btn-label:focus, .btn-label:active {
  outline: none !important;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn-white:hover,
.btn-transparent:hover {
  background: #efefef;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.btn-purple:hover {
  background: #7975ce;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.btn-label:hover {
  background-color: #58a0f5;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.popup-form-group,
.popup-form-check {
  width: 50% !important;
  margin: 20px auto 0 !important;
  max-width: 450px;
  text-align: left;
  display: block !important;
}

.popup-form-button {
  display: block;
  width: 50%;
  max-width: 450px;
  margin: 0 auto;
  padding: 15px 35px;
}

.popup-form-group label {
  margin-bottom: 5px !important;
}

.popup-form-group input {
  height: 40px;
}

.popup-form-check div {
  display: inline-block;
}

.popup-form-check label {
  width: calc(100% - 27px);
  font-size: 12px;
}

.dropdown-text-input {
  position: relative;
}

.dropdown-text-input > input {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.dropdown-text-input > img {
  position: absolute;
  top: 25%;
  height: 50%;
  right: .5em;
}

.custom-form-control-border {
  border: 1px solid #cbd8f6;
}

.custom-checkbox {
  display: inline-block;
  width: 100%;
  margin-top: .2em;
  margin-bottom: .2em;
}

.custom-checkbox > div {
  width: 22px;
  height: 22px;
  display: inline-block;
  vertical-align: top;
  background-color: #fff;
  border-radius: 2px;
  border: 1px solid #cbd8f6;
  cursor: pointer;
  margin-right: 5px;
}

.custom-checkbox > div img {
  position: relative;
  left: 2px;
  bottom: 1px;
}

.custom-checkbox > div label {
  max-width: calc(100% - 30px);
}

.breeder-profile-subpage-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto;
  -ms-grid-columns: 50% 50%;
      grid-template: auto / 50% 50%;
  grid-row-gap: 2em;
  padding: 2.5em;
  background-color: #fff;
  border: 1px solid #cbd8f6;
  border-radius: 4px;
}

.breeder-profile-subpage-container input[type=text],
.breeder-profile-subpage-container input[type=number],
.breeder-profile-subpage-container textarea {
  margin-top: 16px;
}

.breeder-profile-subpage-container textarea {
  height: auto;
}

.breeder-profile-subpage-container hr {
  width: 100%;
  border: 1px solid #cbd8f6;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
}

.breeder-profile-subpage-container .page-header {
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
}

.breeder-profile-subpage-container .adding-entity-page-header {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
}

.breeder-profile-subpage-container .upper-btn {
  -ms-grid-column: 2;
      grid-column-start: 2;
  text-align: right;
}

.breeder-profile-subpage-container .add-entity-page-upper-btn-mobile {
  display: none;
}

.breeder-profile-subpage-container .lower-btn {
  -ms-grid-column: 1;
      grid-column-start: 1;
  text-align: left;
}

.breeder-profile-subpage-container .custom-input-append {
  border: 1px solid #cbd8f6;
  border-left: none;
  border-radius: .25rem;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 16px;
  padding: 0 10px;
  cursor: pointer;
}

.breeder-profile-subpage-container .block-description {
  display: block;
  opacity: 0.5;
  font-size: 14px;
  font-family: 'Intro-Book';
  margin-top: 6px;
}

.breeder-profile-subpage-container .get-back-block {
  margin: auto 0;
  cursor: pointer;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.breeder-profile-subpage-container .get-back-block img {
  width: 22px;
}

.breeder-profile-subpage-container .get-back-block span {
  font-family: 'Intro-Regular';
  color: #393939;
  opacity: 0.5;
  font-size: 14px;
}

.breeder-profile-subpage-form-left {
  position: relative;
  padding-right: 1.25em;
}

.breeder-profile-subpage-form-right {
  position: relative;
  padding-left: 1.25em;
}

.gallery-initial-block {
  position: relative;
  border: 1px dotted #645fc9;
  background-color: rgba(203, 216, 246, 0.2);
  border-radius: 4px;
  width: 100%;
  height: 150px;
  padding: 2em;
  text-align: center;
  margin-top: 16px;
}

.gallery-initial-block > input {
  opacity: 0.0;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.gallery-initial-block span {
  color: #8685a6;
  font-size: 14px;
}

.gallery-initial-block span a {
  color: #4a90e2 !important;
  -webkit-text-decoration: underline #4a90e2 !important;
          text-decoration: underline #4a90e2 !important;
}

.gallery-uploaded-photos-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 2em auto 0;
}

.gallery-uploaded-photos-block .active-galley-photo-block,
.gallery-uploaded-photos-block .empty-galley-photo-block {
  width: 150px;
  height: 150px;
  border-radius: 4px;
  background-color: rgba(203, 216, 246, 0.2);
}

.gallery-uploaded-photos-block .active-galley-photo-block {
  margin: 0 .5em 1em 0;
  position: relative;
  overflow: hidden;
}

.gallery-uploaded-photos-block .active-galley-photo-block .close-button {
  position: absolute;
  width: 13px;
  top: 7px;
  right: 7px;
  z-index: 10;
}

.gallery-uploaded-photos-block .active-galley-photo-block img {
  border-radius: 4px;
  max-height: 150px;
}

.gallery-uploaded-photos-block .active-galley-photo-block .pet-image {
  position: absolute;
  left: -10px;
}

.gallery-uploaded-photos-block .empty-galley-photo-block {
  border: 2px dotted #645fc9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.gallery-uploaded-photos-block .empty-galley-photo-block img {
  display: block;
  width: 50px;
}

.gallery-upload-button {
  display: none;
  position: relative;
  margin-top: 1.25em;
}

.gallery-upload-button > span {
  display: block;
  margin: auto;
  text-align: center;
  color: #645fc9;
}

.gallery-upload-button > input {
  opacity: 0.0;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.dog-entity-list-block {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: unset;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.add-dog-entity-item {
  width: 180px;
  height: 180px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px dotted #645fc9;
  background-color: rgba(203, 216, 246, 0.2);
  border-radius: 4px;
  margin-bottom: 15px;
  margin-right: 15px;
}

.add-dog-entity-item div {
  text-align: center;
  margin: auto;
}

.add-dog-entity-item div > label {
  margin-top: 10px;
}

.avail-dog-entity-item {
  width: 180px;
  margin: 0 .5em .5em 0;
}

.avail-dog-entity-item .entity-image-block {
  width: 100%;
  height: 180px;
  border-radius: 4px;
  position: relative;
  overflow: hidden;
}

.avail-dog-entity-item .entity-image-block img {
  position: absolute;
  left: -10px;
}

.avail-dog-entity-item .entity-info-block {
  padding: .5em 0;
  min-height: 5em;
  position: relative;
}

.avail-dog-entity-item .entity-info-block > div:nth-child(1) {
  width: calc(100% - 20px);
  display: inline-block;
}

.avail-dog-entity-item .entity-info-block span {
  display: inline-block;
  font-size: 14px;
}

.avail-dog-entity-item .entity-info-block span:nth-child(1) {
  font-family: 'Intro-Bold';
  display: block;
}

.avail-dog-entity-item .entity-info-block span:nth-child(2) {
  font-family: 'Intro-Book';
  opacity: 0.5;
}

.avail-dog-entity-item .entity-info-block img {
  position: absolute;
  top: 12px;
}

.avail-dog-entity-item .delete-dog-entity-button {
  display: inline;
  border-radius: 25px;
  padding: 5px 10px;
  font-size: 12px;
  font-family: 'Intro-Book';
}

.btn-label-list {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  margin: .5em 0;
}

.btn-label-list > input {
  display: inline;
  margin: .25em .5em;
}

.invalid-form-field-value,
.invalid-form-checkbox {
  border: 1px solid #eb0000 !important;
}

.invalid-field-message {
  color: #eb0000 !important;
  font-size: 14px !important;
  font-family: 'Intro-Book' !important;
}

.carousel-caption {
  display: none;
}

.custom-header-dropdown-menu {
  left: unset !important;
  right: 0;
}

.custom-header-dropdown-menu .dropdown-item {
  font-family: 'Intro-Book';
  font-size: 13px;
  color: #0e0b4d;
  padding: .25rem .5rem;
}

.custom-header-dropdown-menu .dropdown-item img {
  -o-object-fit: contain;
     object-fit: contain;
}

ngb-datepicker {
  border: 1px solid #cbd8f6 !important;
}

.form-group {
  margin: 15px auto 0;
  text-align: left;
}

.form-group label {
  margin: unset;
  color: #0e0b4d;
}

.input-group-text {
  background-color: #fff !important;
}

.input-group-append {
  margin-top: 16px;
}

ngb-datepicker {
  left: unset !important;
  top: 105% !important;
  right: -30%;
  margin-top: unset !important;
  -webkit-transform: unset !important;
          transform: unset !important;
}

ngb-datepicker .bg-light {
  background-color: #fff !important;
}

.ngb-dp-weekdays {
  border-bottom: unset !important;
  padding-top: .5em;
  padding-bottom: .5em;
}

.ngb-dp-weekdays .ngb-dp-weekday {
  color: #0e0b4d !important;
  opacity: 0.5 !important;
  font-size: 12px !important;
  font-style: unset !important;
  font-family: 'Intro-Book' !important;
}

.ngb-dp-header {
  background-color: #fff !important;
}

.bg-primary {
  background-color: #cbd8f6 !important;
  color: #0e0b4d !important;
  font-family: 'Intro-Regular' !important;
}

.bg-primary:focus {
  outline: none;
}

[ngbDatepickerDayView],
.ngb-dp-day, .ngb-dp-week-number, .ngb-dp-weekday {
  width: 2.25rem !important;
  height: 2.25rem !important;
  font-family: 'Intro-Book';
  color: #0e0b4d !important;
  font-size: 12px !important;
  line-height: 2.25rem !important;
}

[ngbDatepickerDayView]:focus,
.ngb-dp-day:focus, .ngb-dp-week-number:focus, .ngb-dp-weekday:focus {
  outline: none !important;
}

.ngb-dp-arrow-btn .ngb-dp-navigation-chevron {
  color: #645fc9 !important;
}

.ngb-dp-arrow-btn:focus {
  outline-width: 0 !important;
  outline-style: unset !important;
}

.rounded-cropp-area .y-area-i6 {
  border-radius: 50% !important;
}

.rounded-cropp-area .y-area-i6:after {
  border-radius: 50% !important;
}

@media screen and (max-width: 769px) {
  .breeder-profile-subpage-container {
    display: block !important;
    padding: 0 1em;
  }
  .breeder-profile-subpage-container h3 {
    font-size: 18px;
  }
  .breeder-profile-subpage-container label {
    font-size: 14px;
  }
  .breeder-profile-subpage-container input[type=text],
  .breeder-profile-subpage-container input[type=number],
  .breeder-profile-subpage-container textarea {
    margin-top: .25em;
  }
  .breeder-profile-subpage-container .upper-btn,
  .breeder-profile-subpage-container .lower-btn {
    text-align: center;
    -ms-grid-column: 1;
        grid-column-start: 1;
  }
  .breeder-profile-subpage-container .add-entity-page-upper-btn-desktop {
    display: none;
  }
  .breeder-profile-subpage-container .add-entity-page-upper-btn-mobile {
    display: block;
  }
  .breeder-profile-subpage-container .lower-btn {
    margin-bottom: 2.5em;
  }
  .breeder-profile-subpage-container .custom-input-append {
    margin-top: .25em;
  }
  .breeder-profile-subpage-container .block-description {
    font-size: 13px;
  }
  .breeder-profile-subpage-container .get-back-block {
    margin: 1em 0 0;
  }
  .breeder-profile-subpage-container > div {
    width: 100% !important;
    margin: 1.5em auto;
  }
  .breeder-profile-subpage-form-left {
    padding-right: unset;
  }
  .breeder-profile-subpage-form-right {
    padding-left: unset;
  }
  .add-dog-entity-item {
    width: 100%;
    height: 80px;
    margin: 1em auto 0;
  }
  .avail-dog-entity-item {
    margin: 1em auto 2em;
  }
  .gallery-initial-block {
    display: none;
  }
  .gallery-upload-button {
    display: block;
  }
  .gallery-uploaded-photos-block {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .gallery-uploaded-photos-block .active-galley-photo-block,
  .gallery-uploaded-photos-block .empty-galley-photo-block {
    margin: unset;
    margin-bottom: .5em;
  }
  .custom-btn {
    display: block;
    width: 100%;
  }
  .header-for-landing {
    margin-top: 1em;
  }
  .header-for-landing header {
    padding: 0;
  }
  .header-for-landing nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0 8vw !important;
  }
  .popup-form-group,
  .popup-form-check,
  .popup-form-button {
    width: 80% !important;
    max-width: unset;
  }
  .carousel-indicators {
    bottom: -1em !important;
  }
  .carousel .carousel-indicators li {
    width: 1rem !important;
    height: 1rem !important;
  }
  .carousel-indicators li {
    margin-right: 10px !important;
    margin-left: 10px !important;
    background-color: #645fc9 !important;
  }
  .carousel-control-prev,
  .carousel-control-next {
    display: none !important;
  }
  .carousel-caption {
    display: block;
    position: static !important;
  }
  .carousel-fade .carousel-inner > .carousel-item.active,
  .carousel-fade .carousel-inner > .carousel-item.next.left,
  .carousel-fade .carousel-inner > .carousel-item.prev.right {
    display: block !important;
  }
  .form-group,
  .form-check {
    margin: 5px auto 0;
  }
  .input-group-append {
    margin-top: .25em !important;
  }
  ngb-datepicker {
    right: 0 !important;
  }
}
/*# sourceMappingURL=main.css.map */