<header>
    <nav>
        <img src="./assets/img/logo.png" alt="Логотип" />
        <input type="button" class="custom-btn btn-transparent" value="Выйти" (click)="logout()" />
    </nav>
</header>

<main>
    <aside>
        <div (click)="switchSection('breeders')">
            <span [class.active]="activeSection == 'breeders'">Заводчики</span>
        </div>
        <div (click)="switchSection('petman-customers')">
            <span [class.active]="activeSection == 'petman-customers'">Покупатели</span>
        </div>
        <div (click)="switchSection('add-breeds')">
            <span [class.active]="activeSection == 'add-breeds'">Породы</span>
        </div>
        <div (click)="switchSection('add-admins')">
            <span [class.active]="activeSection == 'add-admins'">Добавить админа</span>
        </div>
        <div (click)="switchSection('admin-list')">
            <span [class.active]="activeSection == 'admin-list'">Список админов</span>
        </div>
        <div (click)="switchSection('select-dogs')">
            <span [class.active]="activeSection == 'select-dogs'">Заявки на подбор собаки</span>
        </div>
        <div (click)="switchSection('customers')">
            <span [class.active]="activeSection == 'customers'">Анонимные сообщения</span>
        </div>

    </aside>
    <section>
        <!-- Заводчики -->
        <div *ngIf="activeSection == 'breeders' && breeders">
            <div class="section-top-bar">
                <span>Заводчиков на платформе: {{breeders.length}}</span>
                <a *ngIf="appService.meData.roles.includes('DOWNLOAD_DB')"
                    (click)="tableToExcel('breeders-table', 'Petman breeders', breeders)">Скачать список</a>
            </div>

            <div class="data-container">
                <table id="breeders-table">
                    <tr>
                        <th>id</th>
                        <th>Имя</th>
                        <th>Фамилия</th>
                        <th>Город</th>
                        <th>Осн. порода</th>
                        <th>Доп. порода</th>
                        <th>Телефон</th>
                        <th *ngIf="appService.meData.roles.includes('VIEW_EMAIL')">Email</th>
                        <th>Дата создания</th>
                        <th>Ссылка</th>
                        <th>Профиль</th>
                        <th>Статус</th>
                        <th>Рейтинг</th> 
                    </tr>
                    <tr *ngFor="let breeder of breeders">
                        <td style="text-align: center;">{{breeder.id}}</td>
                        <td>{{breeder.name}}</td>
                        <td>{{breeder.surname}}</td>
                        <td>{{breeder.city || '-'}}</td>
                        <td>{{breeder.mainBreed || '-'}}</td>
                        <td>{{breeder.extraBreed || '-'}}</td>
                        <td>{{breeder.phone || '-'}}</td>
                        <td>{{breeder.email}}</td>
                        <td>{{getCreateDateAsString(breeder.createDate)}}</td>
                        <td (click)="openBreederPage(breeder.id)" style="cursor: pointer;color: #0094c5;">
                            https://petman.co/breeder/{{breeder.id}}</td>
                        <td style="text-align: center;">{{displayBreederProfileFill(breeder.profileFill)}}</td>
                        <td style="text-align: right;">
                            <select (change)="changeBreederStatus(breeder.id, $event)"
                                [disabled]="!appService.meData.roles.includes('CHANGE_STATUS')">
                                <option [selected]="breeder.status == 'ACTIVE'" value="ACTIVE">Активен</option>
                                <option [selected]="breeder.status == 'UNCONFIRMED'" value="UNCONFIRMED">Неподтвержден
                                </option>
                                <option [selected]="breeder.status == 'BLOCKED'" value="BLOCKED">Заблокирован</option>
                                <option [selected]="breeder.status == 'HIDDEN'" value="HIDDEN">Скрыт</option>
                                <option [selected]="breeder.status == 'PERMANENT_DELETE'" value="PERMANENT_DELETE">
                                    Удалить навсегда</option>
                            </select>
                        </td>
                        <td style="text-align: right;">
                            <select (change)="changeBreederRating(breeder.id, $event)">
                                <option  [selected]="breeder.customRating == '0'" value="0">0</option>
                                <option  [selected]="breeder.customRating == 1" value="1">1</option>
                                <option  [selected]="breeder.customRating == 2" value="2">2</option>
                                <option  [selected]="breeder.customRating == 3" value="3">3</option>
                                <option  [selected]="breeder.customRating == 4" value="4">4</option>
                                <option  [selected]="breeder.customRating == 5" value="5">5</option>
                                <option  [selected]="breeder.customRating == 6" value="6">6</option>
                                <option  [selected]="breeder.customRating == 7" value="7">7</option>
                                <option  [selected]="breeder.customRating == 8" value="8">8</option>
                                <option  [selected]="breeder.customRating == 9" value="9">9</option>
                                <option  [selected]="breeder.customRating == 10" value="10">10</option>
                            </select>
                        </td>
                    </tr>
                </table>
            </div>
        </div>

        <!-- Customers-->
        <div *ngIf="activeSection == 'petman-customers' && petmanCustomers">
            <div class="section-top-bar">
                <span>Customers: {{petmanCustomers.length}}</span>
                <a *ngIf="appService.meData.roles.includes('DOWNLOAD_DB')"
                    (click)="tableToExcel('customer-table', 'Petman customers', petmanCustomers)">Скачать список</a>
            </div>
            <div class="data-container">
                <table id="customer-table">
                    <tr>
                        <th>Id</th>
                        <th>Create Date</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th>Status</th>
                    </tr>
                    <tr *ngFor="let customer of petmanCustomers">
                        <td style="text-align: center;">{{customer.id}}</td>
                        <td style="text-align: center;">{{customer.createDate | date: "short" }}</td>
                        <td>{{customer.name}}</td>
                        <td>{{customer.email}}</td>
                        <td>{{customer.phone}}</td>
                        <td>{{customer.status}}</td>
                    </tr>
                </table>
            </div>
        </div>

        <!-- Новые породы -->
        <div *ngIf="activeSection == 'add-breeds' && appService.meData.roles.includes('ADD_BREED')">
            <div class="add-new-entity-block">
                <div class="new-entity-block">
                    <label>Именительный падеж</label><span class="red-star">*</span>
                    <input type="text" class="form-control custom-form-control-border" [(ngModel)]="newBreed.name">
                </div>

                <div class="new-entity-block">
                    <label>Родительный падеж</label><span class="red-star">*</span>
                    <input type="text" class="form-control custom-form-control-border" [(ngModel)]="newBreed.nameGen">
                </div>
            </div>
            <input type="button" class="custom-btn btn-purple" style="float: right; margin: 20px 15px 0;"
                value="Добавить" (click)="addBreed()" />

                <div class="data-container breeds">
                    <table id="breed-table">
                        <tr>
                            <th>Name</th>
                            <th>NameGen</th>
                            <th>Edit</th>
                            <th>Delete</th>
                        </tr>
                        <tr class="text-input" *ngFor="let breed of breeds; index as i;">
                            <td>
                                <input type="text" name="name" [(ngModel)]="breed.name" />
                            </td>
                            <td>
                                <input type="text" name="nameGen" [(ngModel)]="breed.nameGen" />
                            </td>
                             <td class="table-action">
                                <button *ngIf="enableEdit"  (click)="enableEdit=false" class="btn page-secondary-action-btn table-action" ng-click="cancel()">Cancel</button>
                                <button *ngIf="enableEdit" id="saveBtn" class="btn page-primary-action-btn table-action" (click)="saveBreed(breed)" type="submit">Save</button>
                                <a class="table-action" *ngIf="!enableEdit" (click)="editBreed($event, i)">
                                    Edit
                                </a>
                            </td>
                               <td (click)='deleteBreed(breed.id)' class="table-action">
                                Delete
                             </td>   
                        </tr>
                    </table>
                </div>
        </div>

        <!-- Добавить админа -->
        <div *ngIf="activeSection == 'add-admins' && appService.meData.roles.includes('ADD_ADMIN')">
            <div class="add-new-entity-block">
                <div class="new-entity-block">
                    <label>Имя</label><span class="red-star">*</span>
                    <input type="text" class="form-control custom-form-control-border"
                        [class.invalid-form-checkbox]="invalidFields.includes('name')" [(ngModel)]="newAdmin.name">
                </div>

                <div class="new-entity-block">
                    <label>Фамилия</label><span class="red-star">*</span>
                    <input type="text" class="form-control custom-form-control-border"
                        [class.invalid-form-checkbox]="invalidFields.includes('surname')"
                        [(ngModel)]="newAdmin.surname">
                </div>

                <div class="new-entity-block">
                    <label>Почта</label><span class="red-star">*</span>
                    <input type="text" class="form-control custom-form-control-border"
                        [class.invalid-form-checkbox]="invalidFields.includes('email')" [(ngModel)]="newAdmin.email">
                </div>

                <div class="new-entity-block">
                    <label>Телефон</label><span class="red-star">*</span>
                    <input type="text" class="form-control custom-form-control-border" name="phone" id="phone"
                        [(ngModel)]="newAdmin.phone" (input)="appService.setPhoneMask($event)"
                        (focus)="appService.setPhoneMask($event)" (blur)="appService.setPhoneMask($event)"
                        [class.invalid-form-field-value]="invalidFields.includes('phone')">
                </div>

                <div class="new-entity-block">
                    <label>Пароль</label><span class="red-star">*</span>
                    <input type="text" class="form-control custom-form-control-border"
                        [class.invalid-form-checkbox]="invalidFields.includes('password')"
                        [(ngModel)]="newAdmin.password">
                </div>
                <div class="new-entity-block">
                    <label>Роли</label>

                    <div *ngFor="let role of roles">
                        <label>
                            <input type="checkbox" [(ngModel)]="role.status"
                                [ngModelOptions]="{standalone: true}">{{role.name}}
                        </label>
                    </div>
                </div>
                <input type="button" class="custom-btn btn-purple" value="Создать админа" (click)="createNewAdmin()" />
            </div>
        </div>

        <!-- Список админов -->
        <div *ngIf="activeSection == 'admin-list' && appService.meData.roles.includes('ADD_ADMIN')">
            <div *ngIf="admins" class="admins-list">
                <p>Список админов</p>
                <div class="data-container">
                    <table id="admins-table">
                        <tr>
                            <th>Имя</th>
                            <th>Фамилия</th>
                            <th>Телефон</th>
                            <th>Дата создания</th>
                            <th>Роли</th>
                        </tr>
                        <tr *ngFor="let admin of admins">
                            <td>{{admin.name}}</td>
                            <td>{{admin.surname}}</td>
                            <td>{{admin.phone || '-'}}</td>
                            <td>{{getCreateDateAsString(admin.createDate)}}</td>
                            <td>{{admin.roles.join(', ') || '-'}}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

         <!-- Заявки на подбор собаки -->
         <div *ngIf="activeSection == 'select-dogs' && dogs">
            <div class="section-top-bar">
                <span>Заявки: {{dogs.length}}</span>
            </div>
            <div class="data-container">
                <table id="dogs-table">
                    <tr>
                        <th>Id</th>
                        <th>Create Date</th>
                        <th>City</th>
                        <th>Breed</th>
                        <th>Email</th>
                    </tr>
                    <tr *ngFor="let dog of dogs">
                        <td style="text-align: center;">{{dog.id}}</td>
                        <td style="text-align: center;">{{dog.createDate | date: "short" }}</td>
                        <td>{{dog.city}}</td>
                        <td>{{dog.breed}}</td>
                        <td>{{dog.email}}</td>
                    </tr>
                </table>
            </div>
        </div>

        <!-- Сообщения -->
        <div *ngIf="activeSection == 'customers' && appService.meData.roles.includes('VIEW_MESSAGES') && messages">
            <div class="section-top-bar">
                <span>Отправлено сообщений: {{messages.length}}</span>
                <a (click)="tableToExcel('messages-table', 'Petman messages', null)">Скачать список</a>
            </div>
            <div class="data-container">
                <table id="messages-table">
                    <tr>
                        <th>Имя</th>
                        <th>Email</th>
                        <th>Телефон</th>
                        <th>Cообщение</th>
                        <th>Время сообщение</th>
                        <th>Страница заводчика</th>
                    </tr>
                    <tr *ngFor="let message of messages">
                        <td>{{message.name}}</td>
                        <td>{{message.email}}</td>
                        <td>{{message.phone}}</td>
                        <td>{{message.message}}</td>
                        <td>{{message.createDate | date: "short" }}</td> 
                        <td (click)='openBreederPage(message.breeder.id)' style="cursor: pointer;color: #0094c5;">
                            https://petman.co/breeder/{{message.breeder.id}}
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </section>
</main>