<header>
    <nav>
        <img src="./assets/img/logo.png" alt="Логотип" />
        <input type="button" class="custom-btn btn-transparent" value="Выйти" (click)="logout()" />
    </nav>
</header>

<main>
    <aside>
        <div (click)="switchSection('breeders')">
            <span [class.active]="activeSection == 'breeders'">Заводчики</span>
        </div>
        <div (click)="switchSection('customers')">
            <span [class.active]="activeSection == 'customers'">Покупатели</span>
        </div>
        <div (click)="switchSection('add-breeds')">
            <span [class.active]="activeSection == 'add-breeds'">Добавить породу</span>
        </div>
    </aside>
    <section>
        <div *ngIf="activeSection == 'breeders'">
            <div class="section-top-bar">
                <span>Заводчиков на платформе: {{breeders.length}}</span>
                <a (click)="tableToExcel('breeders-table', 'Petman breeders', breeders)">Скачать список</a>
            </div>

            <div class="data-container">
                <table id="breeders-table">
                    <tr>
                        <th>id</th>
                        <th>Имя</th>
                        <th>Фамилия</th>
                        <th>Город</th>
                        <th>Осн. порода</th>
                        <th>Доп. порода</th>
                        <th>Телефон</th>
                        <th>Email</th>
                        <th>Дата создания</th>
                        <th>Ссылка</th>
                        <th>Профиль</th>
                        <th>Статус</th>
                    </tr>
                    <tr *ngFor="let breeder of breeders">
                        <td style="text-align: center;">{{breeder.id}}</td>
                        <td>{{breeder.name}}</td>
                        <td>{{breeder.surname}}</td>
                        <td>{{breeder.city || '-'}}</td>
                        <td>{{breeder.mainBreed || '-'}}</td>
                        <td>{{breeder.extraBreed || '-'}}</td>
                        <td>{{breeder.phone || '-'}}</td>
                        <td>{{breeder.email}}</td>
                        <td>{{getCreateDateAsString(breeder.createDate)}}</td>
                        <td (click)="openBreederPage(breeder.id)" style="cursor: pointer;color: #0094c5;">
                            https://petman.co/breeder/{{breeder.id}}</td>
                        <td style="text-align: center;">{{displayBreederProfileFill(breeder.profileFill)}}</td>
                        <td style="text-align: right;">
                            <select (change)="changeBreederStatus(breeder.id, $event)">
                                <option [selected]="breeder.status == 'ACTIVE'" value="ACTIVE">Активен</option>
                                <option [selected]="breeder.status == 'UNCONFIRMED'" value="UNCONFIRMED">Неподтвержден
                                </option>
                                <option [selected]="breeder.status == 'BLOCKED'" value="BLOCKED">Заблокирован</option>
                                <option [selected]="breeder.status == 'HIDDEN'" value="HIDDEN">Скрыт</option>
                                <option [selected]="breeder.status == 'DELETED'" value="DELETED">Удален</option>
                            </select>
                        </td>
                    </tr>
                </table>
            </div>
        </div>

        <div *ngIf="activeSection == 'customers'">
            <div class="section-top-bar">
                <span>Отправлено сообщений: {{messages.length}}</span>
                <a (click)="tableToExcel('messages-table', 'Petman messages', null)">Скачать список</a>
            </div>

            <div class="data-container">
                <table id="messages-table">
                    <tr>
                        <th>Имя</th>
                        <th>Email</th>
                        <th>Телефон</th>
                        <th>Cообщение</th>
                        <th>Страница заводчика</th>
                    </tr>
                    <tr *ngFor="let message of messages">
                        <td>{{message.name}}</td>
                        <td>{{message.email}}</td>
                        <td>{{message.phone}}</td>
                        <td>{{message.message}}</td>
                        <td (click)='openBreederPage(message.breeder.id)' style="cursor: pointer;color: #0094c5;">
                            https://petman.co/breeder/{{message.breeder.id}}
                        </td>
                    </tr>
                </table>
            </div>
        </div>

        <div *ngIf="activeSection == 'add-breeds'">
            <div class="add-breed-block">
                <div class="new-breed-block">
                    <label>Именительный падеж</label>
                    <input type="text" class="form-control custom-form-control-border" [(ngModel)]="newBreed.name">
                </div>

                <div class="new-breed-block">
                    <label>Родительный падеж</label>
                    <input type="text" class="form-control custom-form-control-border" [(ngModel)]="newBreed.nameGen">
                </div>
            </div>
            <input type="button" class="custom-btn btn-purple" style="float: right; margin: 20px 15px 0;" value="Добавить" (click)="addBreed()" />
        </div>
    </section>
</main>