p {
    font-size: 14px;
    width: 50%;
    margin: 1em auto 0;
    opacity: 0.5;
}

  

@media screen and (max-width: 769px){

    h3{
        font-size: 20px;
    }

    p{
        width: 80%;
    }
}