<h3>Написать заводчику</h3>

<p>Напишите свое сообщение заводчику, и он ответит вам на email или позвонит</p>

<div *ngIf="isError" class="form-error-message-block">
    <span class="invalid-field-message">Произошла ошибка при отправке, попробуйте еще раз.</span>
</div>

<form>
    <div class="form-group popup-form-group">
        <label for="name">Имя</label>
        <input type="text" class="form-control custom-form-control-border" name="name" [(ngModel)]="breederMessage.name"
            [class.invalid-form-field-value]="invalidFields.includes('name')" />
        <span *ngIf="invalidFields.includes('name')" class="invalid-field-message">Пожалуйста, введите Ваше имя</span>
    </div>
    <div class="form-group popup-form-group">
        <label for="email">Ваш e-mail</label>
        <input type="email" class="form-control custom-form-control-border" name="email"
            [(ngModel)]="breederMessage.email" [class.invalid-form-field-value]="invalidFields.includes('email')" />
        <span *ngIf="invalidFields.includes('email')" class="invalid-field-message">Пожалуйста, введите действительный
            E-mail</span>
    </div>
    <div class="form-group popup-form-group">
        <label for="email">Ваш телефон</label>
        <input type="text" class="form-control custom-form-control-border" name="phone"
            (input)="appService.setPhoneMask($event)" (focus)="appService.setPhoneMask($event)"
            (blur)="appService.setPhoneMask($event)" [(ngModel)]="breederMessage.phone"
            [class.invalid-form-field-value]="invalidFields.includes('phone')" />
        <span *ngIf="invalidFields.includes('phone')" class="invalid-field-message">Пожалуйста, введите действительный
            телефон</span>
    </div>
    <div class="form-group popup-form-group">
        <label for="message">Ваше сообщение</label>
        <span class="textarea-length-counter"
            [style.color]="appService.getTextareaLimit(breederMessage.message, 2048) > 0 ? '#46b0ad' : '#eb0000'">
            {{appService.getTextareaLimit(breederMessage.message, 2048)}}
        </span>
        <textarea rows="3" class="form-control custom-form-control-border" name="message"
            [(ngModel)]="breederMessage.message"
            [class.invalid-form-field-value]="invalidFields.includes('message')"></textarea>
        <span *ngIf="invalidFields.includes('message')" class="invalid-field-message">Пожалуйста, введите текст
            сообщения</span>
    </div>

    <div class="custom-checkbox popup-form-check">
        <div (click)="acception = !acception" [class.invalid-form-checkbox]="invalidFields.includes('acception')">
            <img *ngIf="acception" src="./assets/img/check-mark.png" />
        </div>
        <label class="form-check-label">Согласен с условиями <a href="/docs/agreement.pdf"
                target="_blank">Пользовательского
                соглашения</a>
            и <a href="/docs/policy.pdf" target="_blank">Политикой конфиденциальности</a></label>
    </div>

    <input type="button" class="custom-btn btn-purple popup-form-button" style="margin-top: 20px;"
        (click)="sendMessage()" value="Отправить" />

</form>